﻿@{
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}
@model IEnumerable<Biznetix.BizCMS.Data.MediaGalleryImage>

<h2>@ViewBag.GalleryTitle</h2>


<div class="gallpad">
    <div class="list_carousel responsive clearfix">
        <ul id="foo">
@foreach (var item in Model)
{
            <li><img src="/Content/GalleryPages/@item.ImagePath" alt="@item.Title"></li>
}
        </ul>
        <div class="foo-btn">
            <a id="prev" class="prev" href="#"></a>
            <a id="next" class="next" href="#"></a>
        </div>
    </div>
</div>


@section scripts {
<script>
        $(window).load(function () {

            $(function () {
                $('#foo').carouFredSel({
                    auto: false,
                    responsive: true,
                    width: '100%',
                    prev: '#prev',
                    next: '#next',
                    scroll: 1,
                    items: {
                        height: 'auto',
                        width: 495,
                        visible: {
                            min: 1,
                            max: 2
                        }
                    },
                    mousewheel: true,
                    swipe: {
                        onMouse: true,
                        onTouch: true
                    }
                });
            });

        });
</script>    
}