﻿@{
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}
@model IEnumerable<Biznetix.BizCMS.Data.MediaGalleryImage>

<h2>@ViewBag.GalleryTitle</h2>
<a href="/Gallery/Index"><i class="fas fa-arrow-circle-left"></i> Return to galleries</a>
<div>
    @{int col = 0;}
    @foreach (var item in Model)
        {
        <a class="fancybox thumbnail text-center gallery-thumbnail-tile" rel="group" href="/ContentPages/Gallery/@item.ImagePath" title="@item.Title">
            <img class="img-thumbnail site-gallery-thumb" src="/ContentPages/Gallery/@item.ImagePath" alt="@item.Title" />
            <br/>@item.Title
        </a>
        if (++col%4==0) { 
            @:</div><div class="span3">
        }
    }
</div>
@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: 'elastic',
            nextEffect: 'fade',
            prevEffect: 'fade'
        });
    });
    </script>
}