﻿@using Biznetix.BizCMS.Data;
@model List<Biznetix.BizCMS.Data.MediaGalleryCategory>
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewBag.Title = "Index";
}
<h2>Galleries</h2>

@foreach (var item in Model)
{
    if (@item.FrontImageId != 0 && string.IsNullOrEmpty(@item.FacebookAlbumId))
    {
        <div class="col-6 col-sm-3">
            <a class="thumbnail" href="/Gallery/DisplayGallery/@item.CleanUrl">
                <img style=" height:100px;" class="img-thumbnail" src="/Content/Gallery/@item.PrimaryImageUrl" alt="@item.Title" />
                <span class="caption">@item.CategoryName</span>
            </a>
            @item.CategoryName
        </div>
    }
}

<div id='thumbs'>
</div>
<img id='viewer'>

<style>
    .thumbnail {
        height: 130px;
    }
</style>

