﻿@using Biznetix.BizCMS.Data;
@model List<Biznetix.BizCMS.Data.MediaGalleryCategory>
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewBag.Title = "Index";
}
<h2>Galleries</h2>
<div class="row">
    <div class="span3">
        @{int col = 0;}
        @foreach (var item in Model)
        {
            if (@item.FrontImageId != 0 && string.IsNullOrEmpty(@item.FacebookAlbumId))
            {
                <a class="gallery-thumbnail-tile" href="/Gallery/DisplayGallery/@item.CleanUrl">
                    <img class="img-thumbnail site-gallery-thumb" src="/ContentPages/Gallery/@item.PrimaryImageUrl" alt="@item.Title" />
                    <div class="caption">
                        <strong>@item.CategoryName</strong><br />
                        @item.Description
                    </div>
                </a>
                
                if (++col % 3 == 0)
                {
                    @:</div><div class="span3">
                }
            }
        }
    </div>
</div>
<div id='thumbs'>
</div>
<img id='viewer'>


