﻿@model Biznetix.BizCMS.Data.cms_Page


@helper getPageTypes(int thispageTypeID, string pagetypedesc)
{
    foreach (Biznetix.BizCMS.Data.cms_PagesType t in ViewBag.pageTypes)
    {
        <option value="@t.PageTypeID" @(t.PageTypeID == thispageTypeID ? "selected" : null)>@t.PageType</option>
        if (t.PageTypeID == thispageTypeID) { pagetypedesc = t.Description; }
    }

}


@helper create_file_history(string filename)
{

}

@helper MakeEditor(string p_filename, string p_elementname, string p_elementvalue, string stylesheet)
{
    <textarea name="@p_elementname" id="bizcontent_@p_filename"> @Html.Raw(p_elementvalue)</textarea>
    <script>
        var isChanged = false;

        $(document).ready(function () {
            var thiseditor = CKEDITOR.replace('bizcontent_@p_filename', {
                @if (User.IsInRole("TrustedEditor")) // if user is cleared for high-level editing
                {
                    <text>customConfig: CKEDITOR_BASEPATH + 'custom/ckeditor_admin_config.js'</text>
                } else
                {
                    <text>customConfig: CKEDITOR_BASEPATH + 'custom/ckeditor_simple_admin_config.js'</text>
                }
            });
            CKFinder.setupCKEditor(thiseditor, '/include/ckfinder/');

            thiseditor.on('mode', function(){
                if (this.mode == "source") {
                    var editable = thiseditor.editable();
                    editable.attachListener(editable, 'input', function(){
                        isChanged = true;
                    });
                }
            });

            thiseditor.on('change', function(){
                isChanged = true;
            });
        });
    </script>
}

@helper getPageTreeAndDisplayAsOptions(IEnumerable<Biznetix.BizCMS.Data.cms_Page> nodes, int? parentpage, string indent, int selected, int exclude)
{
    if (nodes.Any(n => n.ParentPage == parentpage))
    {
        foreach (var p in nodes.Where(n => n.ParentPage == parentpage && n.PageID != exclude))
        {
            <option value="@p.PageID" @(p.PageID == selected ? " selected" : null)> @Html.Raw(indent) @p.PageName </option>
            @getPageTreeAndDisplayAsOptions(nodes, p.PageID, @indent + "--", selected, Model.PageID)
        }
    }
}
<div class="col-12">
    <p>@ViewBag.msg</p>
    <a class="list" href="/BizAdmin/Pages">Back to Page List</a>
    <div>You are editing the page/content for: <span style="font-weight:bold">@Model.PageName</span></div>
    <form action="" method="post" name="frmPage" enctype="multipart/form-data" id="frmPage">
        <input type="hidden" name="id" value="@Model.PageID">
        <input type="hidden" id="side_content" value="@Model.SubPageType">
        <input type="hidden" id="bottom_content" value="@Model.BottomPageType">

        <div id="ta1bs">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab"  href="#tab-Basic">Basic</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-Bottom">Left Content</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab"  href="#tab-ALT">Right Content</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab"  href="#tab-SEO">SEO</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab"  href="#tab-Social">Social Media</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab"  href="#tab-Advanced">Advanced</a></li>
                <li class="nav-item"><a class="nav-link lnkHistory" data-toggle="tab"  href="#tab-History">Version History</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-Basic" class="tab-pane fade show active">
                    <div class="col-sm-6">
                        @if ((Model.PageTypeID != 3) && ViewBag.ENABLE_PAGE_ADD)
                    {
                            <label><b>Parent Page:</b>&nbsp; </label>
                            <select name="ParentPage" class="form-control">
                                @*disabled="!@ViewBag.IsAdmin"*@

                                @if (!ViewBag.IsAdmin)
                            {
                                if (ViewData["DepartmentTypeId"] != null)
                                {
                                    int DepartmentTypeId = Convert.ToInt32(ViewData["DepartmentTypeId"]);
                                        @getPageTreeAndDisplayAsOptions(ViewBag.rootPageforDepartment, 0, "", @Model.ParentPage.Value, Model.PageID)
                                        @getPageTreeAndDisplayAsOptions(ViewBag.AllPages, DepartmentTypeId, "--", @Model.ParentPage.Value, Model.PageID)
                                }
                            }
                            else
                            {
                                    <option value="0">Root Page</option>
                                    @getPageTreeAndDisplayAsOptions(ViewBag.AllPages, 0, "", @Model.ParentPage.Value, Model.PageID)
                            }
                            </select>
                    }
                    else
                    {
                            <input type="hidden" name="ParentPage" value="@Model.ParentPage.Value">
                    }
                        @if (@Model.PageTypeID != 3)
                    {
                            <label><b>Page Name:</b>&nbsp; </label>
                            <input class="form-control" type="text" id="PageName" name="PageName" size="60" maxlength="255" value="@Model.PageName">
                    }
                    else
                    {
                            <input type="hidden" id="PageName" name="PageName" value="@Model.PageName">
                    }
                        @if (ViewBag.ENABLE_PAGE_ADD)
                    {
                            <div class="content">This is the Page Name as it will appear in navigation and in the page Header.</div>
                            <label><b>Display in Nav:</b>&nbsp;</label>
                            <div><input type="checkbox" name="Display" value="true" checked="@Model.Display"> Display this in the navigation.</div>
                    }
                    else
                    {
                            <input type="hidden" name="Display" value="@Model.Display">
                    }
                        @if ((!ViewBag.filecreated) && (Model.PageTypeID != 6))
                    { // ' anything but an internal link only type
                            <div>
                                <label><b>File Name:</b>&nbsp; </label>
                                <div>
                                    <input class="form-control" type="text" id="Filename" name="Filename"
                                           maxlength="255" size="60" value="@Model.Filename">
                                </div>
                            </div>
                            <div>
                                <div class="content">This is the actual file name for the page. Once a page is created, the file name cannot be changed.</div>
                            </div>
                    }
                    else
                    {
                            <input type="hidden" id="Filename" name="Filename" value="@Model.Filename">
                    }


                        @if ((!@Model.HeaderImage.IsEmpty()) && (@Model.PageTypeID != 3))
                    {
                            <div>
                                <label><b>Inside Header Image:</b>&nbsp; </label>
                                <div>
                                    <input class="form-control" type="text" size="30" id="image_filename" name="HeaderImage" value="@Model.HeaderImage">
                                    <input type="button" name="uploadimage" value="Upload Image" onclick="javascript:pickImage('image');">&nbsp;(Dimensions = @Model.HeaderImageWidth w x @Model.HeaderImageHeight h)<input type="hidden" name="image" value="" id="image">
                                </div>
                            </div>
                    }
                    else
                    {
                            <input type="hidden" id="image_filename" name="HeaderImage" value="@Model.HeaderImage" />
                    }
                        @if ((@ViewBag.PageHeaders) && (@Model.PageTypeID != 3))
                    {
                            <div>
                                <label><b>Page Header:</b>&nbsp; </label>
                                <div><input class="form-control" type="text" name="pHeader" size="60" value="@Model.pHeader"></div>
                            </div>
                    }
                    else
                    {
                            <input type="hidden" id="pHeader" name="Header" value="@Model.pHeader" />
                    }
                    </div>
                    <div class="col-12">
                        @* if pagetype is home, normal or includeonly *@
                        @if ((@Model.PageTypeID == 0) || (@Model.PageTypeID == 1) || (@Model.PageTypeID == 3))
                        {
                            <div>
                                <div><br><b>Body:</b></div>
                            </div>
                            <div>
                                <div>
                                    @MakeEditor(@Model.Filename, "main_content", @ViewBag.content_txt, "/include/style.css")
                                    @*<input type="button" value="Previous Saved Version" onclick="main_history.load_previous();">
                                <input type="button" value="Current Version" onclick="main_history.load_current();">*@
                                    @if (ViewBag.ENABLE_SAVE_DRAFT)
                                {
                                            <!--last saved draft -->
                                        <input type="button" value="Last Saved Draft" onclick="fetch_content('@Model.Filename','draft');">
                                            <!-- the submit button's names and values are important. If they change the code will break -->
                                            <!-- save draft -->
                                        <input name="submit_btn" type="submit" value="Save Draft">
                                }
                                </div>
                            </div>
                    }
                        @if ((@Model.PageTypeID == 2) || (@Model.PageTypeID == 5) || (@Model.PageTypeID == 6))
                    {
                            <div>
                                <label><b>Link Address:</b>&nbsp; </label>
                                <div>
                                    <input class="form-control" type="text" name="LinkAddress"
                                           maxlength="255" size="100" value="@Model.LinkAddress" />
                                </div>
                            </div>
                    }
                    else
                    {
                            <input type="hidden" name="LinkAddress" value="@Model.LinkAddress" />
                    }

                    </div>
                </div>
                <div id="tab-ALT" class="tab-pane fade">
                    <div>
                        <select class="form-control" name="SubPageType" id="SubPageType">
                            <option value="nothing">None</option>
                            <option @(Model.SubPageType == "content" ? "selected" : null) value="content">Content</option>
                            @if (ViewBag.CAREERS_TOOL)
                                            {
                                <option @(Model.SubPageType == "job_listings" ? "selected" : null) value="job_listings">Job Listings</option>
                                            }
                            @if (ViewBag.NEWS_TOOL)
                                            {
                                <option @(Model.SubPageType == "news" ? "selected" : null) value="news">News Listings</option>
                                            }
                            @if (ViewBag.PORTFOLIO_TOOL)
                                            {
                                <option @(Model.SubPageType == "portfolio" ? "selected" : null) value="portfolio">Portfolio Items</option>
                                            }
                            @if (ViewBag.TESTIMONIAL_TOOL)
                                            {
                                <option @(Model.SubPageType == "testimonial" ? "selected" : null) value="testimonial">Testimonial Items</option>
                                            }
                            <option @(Model.SubPageType == "file" ? "selected" : null) value="file">Specified File</option>
                        </select>
                    </div>
                    <div>
                        <div><b>Right Content Area:</b></div>
                    </div>
                    <div>
                        <div>
                            <div id="side_type_content" style="display:none;">
                                @{
                                    @MakeEditor(@Model.Filename + "_alt", "alt_content", @ViewBag.altcontent_txt, "/include/style.css")
                                                if (ViewBag.ENABLE_SAVE_DRAFT)
                                                {
                                                <!--last saved draft -->
                                        <input type="button" value="Last Saved Draft" onclick="fetch_content('@Model.Filename','draft');">
                                                <!-- the submit button's names and values are important. If they change the code will break -->
                                                <!-- save draft -->
                                        <input name="submit_btn" type="submit" value="Save Draft">
                                                }
                                }
                            </div>
                            <div id="side_type_job" style="display:none;">
                                @{
                                    @:The right pane will include items from the portfolio at random.
                                }
                            </div>
                            <div id="side_type_portfolio" style="display:none;">
                                @{
                                    @:The right pane will include items from the portfolio at random.
                                }
                            </div>
                            <div id="side_type_test" style="display:none;">
                                @{
                                    @:The right pane will include items from customer testimonials at random.
                                }
                            </div>
                            <div id="side_type_file" style="display:none;">
                                @{
                                    @:The right pane will include the specified file.<br>
                                    <input class="form-control" type="text" size="80" name="SubPageFilename" value="@Model.SubPageFilename">
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div id="tab-SEO" class="tab-pane fade">
                    <div>
                        @if (Model.PageTypeID == 1 || Model.PageID == 0)
                                {
                            <div>
                                <div><b>Title:</b>&nbsp; </div>
                                <div>
                                    <input class="form-control" type="text" name="Title" id="PageTitle"
                                           maxlength="255" size="80" value="@Model.Title">
                                </div>
                            </div>
                                <div>
                                    <div class="content">This is the Title that will appear in the Browser's title bar.</div>
                                </div>
                                <div>
                                    <div><b>Description:</b>&nbsp; </div>
                                    <div>
                                        <textarea class="form-control" rows="3" cols="80" name="Description">@Model.Description</textarea>
                                    </div>
                                </div>
                                <div>
                                    <div class="content">This is the META description for the page. This will not be seen by the user, but will be used by search engines.</div>
                                </div>
                                <div>
                                    <div><b>Keywords:</b>&nbsp; </div>
                                    <div>
                                        <input class="form-control" type="text" name="Keywords" size="80" value="@Model.Keywords">
                                    </div>
                                </div>
                                <div>
                                    <div class="content">These are the META keywords for the page. These will not be seen by the user, but will be used by search engines.</div>
                                </div>
                                }
                                else
                                {
                            <input type="hidden" name="Title" value="@Model.Title">
                            <input type="hidden" name="Description" value="@Model.Description">
                            <input type="hidden" name="Keywords" value="@Model.Keywords">
                                }
                    </div>

                </div>
                <div id="tab-Social" class="tab-pane fade">
                    @if ((Model.PageTypeID == 1) || (Model.PageTypeID == 0))
                    {

                        <div>
                            <div>
                                <label><b>Title:</b>&nbsp; </label>
                                <div>
                                    <input class="form-control" type="text" name="og_title"
                                           maxlength="255" size="80" value="@Model.og_title">
                                </div>
                            </div>
                            <div>
                                <div class="content" style="font-size:9px;color:#B6B6B6;">The title of your object as it should appear within the graph.</div>
                            </div>
                            <div>
                                <label><b>Type:</b>&nbsp; </label>
                                <div>
                                    <select class="form-control" name="og_type">

                                        <option @(Model.og_type == "activity" ? " selected " : null) value="activity">Activity</option>
                                        <option @(Model.og_type == "sport" ? " selected " : null) value="sport">Sport</option>
                                        <option @(Model.og_type == "bar" ? " selected " : null) value="bar">Bar</option>
                                        <option @(Model.og_type == "company" ? " selected " : null) value="company">Company</option>
                                        <option @(Model.og_type == "cafe" ? " selected " : null) value="cafe">Cafe</option>
                                        <option @(Model.og_type == "hotel" ? " selected " : null) value="hotel">Hotel</option>
                                        <option @(Model.og_type == "restaurant" ? " selected " : null) value="restaurant">Restaurant</option>
                                        <option @(Model.og_type == "cause" ? " selected " : null) value="cause">Cause</option>
                                        <option @(Model.og_type == "sports_league" ? " selected " : null) value="sports_league">Sports League</option>
                                        <option @(Model.og_type == "sports_team" ? " selected " : null) value="sports_team">Sports Team</option>
                                        <option @(Model.og_type == "band" ? " selected " : null) value="band">Band</option>
                                        <option @(Model.og_type == "government" ? " selected " : null) value="government">Government</option>
                                        <option @(Model.og_type == "non_profit" ? " selected " : null) value="non_profit">Non Profit</option>
                                        <option @(Model.og_type == "school" ? " selected " : null) value="school">School</option>
                                        <option @(Model.og_type == "university" ? " selected " : null) value="university">University</option>
                                        <option @(Model.og_type == "actor" ? " selected " : null) value="actor">Actor</option>
                                        <option @(Model.og_type == "athelete" ? " selected " : null) value="athelete">Athlete</option>
                                        <option @(Model.og_type == "author" ? " selected " : null) value="author">Author</option>
                                        <option @(Model.og_type == "director" ? " selected " : null) value="director">Director</option>
                                        <option @(Model.og_type == "musician" ? " selected " : null) value="musician">Musician</option>
                                        <option @(Model.og_type == "politician" ? " selected " : null) value="politician">Politician</option>
                                        <option @(Model.og_type == "profile" ? " selected " : null) value="profile">Profile</option>
                                        <option @(Model.og_type == "public_figure" ? " selected " : null) value="public_figure">Public Figure</option>
                                        <option @(Model.og_type == "city" ? " selected " : null) value="city">City</option>
                                        <option @(Model.og_type == "country" ? " selected " : null) value="country">Country</option>
                                        <option @(Model.og_type == "landmark" ? " selected " : null) value="landmark">Landmark</option>
                                        <option @(Model.og_type == "state_province" ? " selected " : null) value="state_province">State Province</option>
                                        <option @(Model.og_type == "album" ? " selected " : null) value="album">Album</option>
                                        <option @(Model.og_type == "book" ? " selected " : null) value="book">Book</option>
                                        <option @(Model.og_type == "drink" ? " selected " : null) value="drink">Drink</option>
                                        <option @(Model.og_type == "food" ? " selected " : null) value="food">Food</option>
                                        <option @(Model.og_type == "game" ? " selected " : null) value="game">Game</option>
                                        <option @(Model.og_type == "movie" ? " selected " : null) value="movie">Movie</option>
                                        <option @(Model.og_type == "product" ? " selected " : null) value="product">Product</option>
                                        <option @(Model.og_type == "song" ? " selected " : null) value="song">Song</option>
                                        <option @(Model.og_type == "tv_show" ? " selected " : null) value="tv_show">TV Show</option>
                                        <option @(Model.og_type == "article" ? " selected " : null) value="article">Article</option>
                                        <option @(Model.og_type == "blog" ? " selected " : null) value="blog">Blog</option>
                                        <option @(Model.og_type == "website" ? " selected " : null) value="website">Website</option>

                                    </select>

                                </div>
                            </div>
                            <div>
                                <div class="content" style="font-size:9px;color:#B6B6B6;">The type of your object, e.g., "article". Depending on the type you specify, other properties may also be required.</div>
                            </div>
                            <div>
                                <label><b>Description:</b>&nbsp; </label>
                                <div>
                                    <textarea class="form-control" rows="3" cols="80" name="og_description">@Model.og_description</textarea>
                                </div>
                            </div>
                            <div>
                                <div class="content">A one to two sentence description of your object.</div>
                            </div>
                            <div>
                                <label><b>Site Name:</b>&nbsp; </label>
                                <div>
                                    <input class="form-control" type="text" name="og_siteName" size="80" value="@Model.og_siteName">
                                </div>
                            </div>
                            <div>
                                <div class="content" style="font-size:9px;color:#B6B6B6;">If your object is part of a larger web site, the name which should be displayed for the overall site. e.g., "Biznetix".</div>
                            </div>
                            <div>
                                <label><b>Canonical URL:</b>&nbsp; </label>
                                <div>
                                    <input class="form-control" type="text" name="og_url" size="80" value="@Model.og_url">
                                </div>
                            </div>
                            <div>
                                <div class="content" style="font-size:9px;color:#B6B6B6;">The canonical URL of your object that will be used as its permanent ID in the graph, e.g., "http://www.biznetix.net/seo.asp".</div>
                            </div>

                            <div>
                                <label><b>Image:</b>&nbsp; </label>
                                <div>
                                    <input class="form-control" type="text" name="og_image" size="25" style="float:left" value="@Model.og_image">
                                    <input type="file" name="file" id="og_image" size="80" value="@Model.og_image">
                                </div>
                            </div>

                            <div>
                                <div class="content" style="font-size:9px;color:#B6B6B6;">Image thumbnail associated with link.</div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="og_title" value="@Model.og_title">
                        <input type="hidden" name="og_type" value="@Model.og_type">
                        <input type="hidden" name="og_description" value="@Model.og_description">
                        <input type="hidden" name="og_siteName" value="@Model.og_siteName">
                        <input type="hidden" name="og_url" value="@Model.og_url">
                        <input type="hidden" name="og_image" value="@Model.og_image">
                    }

                </div>
                <div id="tab-Advanced" class="tab-pane fade">
                    <div>
                        @if (ViewBag.ENABLE_PAGE_ADD && Model.PageTypeID.HasValue && Model.PageTypeID != 3)
                                {
                    <div>
                        <label><b>Page Type:</b>&nbsp;</label>
                        <div>
                            <select class="form-control" name="PageTypeID">
                                @getPageTypes(Model.PageTypeID.Value, ViewBag.pagetypedesc);
                            </select><span style="font-size: 0.9em;">&nbsp;&nbsp;@ViewBag.pagetypedesc</span>
                        </div>
                    </div>
                                }
                                else
                                {
                    <input type="hidden" name="PageTypeID" value="@Model.PageTypeID.Value">
                                }
                        @if (ViewBag.PCT_ADD_SECURE_PAGE && ViewBag.ENABLE_PAGE_ADD)
                                {
                    <div>
                        <label><b>Secure Page:</b>&nbsp;</label>
                        <div><input type="checkbox" name="SecurePage" value="true" @(Model.SecurePage && Model.SecurePage ? "checked" : null)></div>
                    </div>
                                }
                        @if (Model.PageTypeID != 3)
                                {
                    <div>
                        <label><b>Sort Order:</b>&nbsp;</label>
                        <div><input class="form-control" type="text" name="Sort" size="5" value="@Model.Sort.Value"></div>
                    </div>
                                }
                                else
                                {
                    <input type="hidden" name="Sort" value="@Model.Sort.Value">
                                }
                        <div>
                            <label><b>Clean Url:</b>&nbsp;</label>
                            <div><input class="form-control" type="text" name="CleanUrl" id="PageUrl" value="@Model.CleanUrl"></div>
                        </div>
                        <script language="javascript">

                                    function selectText(divid) {
                                        if (document.selection) {
                                            var div = document.body.createTextRange();

                                            div.moveToElementText(document.getElementById(divid));
                                            div.select();
                                        }
                                        else {
                                            var div = document.createRange();

                                            div.setStartBefore(document.getElementById(divid));
                                            div.setEndAfter(document.getElementById(divid));

                                            window.getSelection().addRange(div);
                                        }

                                    }
                        </script>
                        <div>
                            <label><b>Permalink:</b>&nbsp;</label>
                            <div>
                                <span id=mypermalink onclick="selectText('mypermalink')">
                                    <span id=mypermalink onclick="selectText('mypermalink')">http://@(System.Web.HttpContext.Current.Request.Url.Authority == "" ? Request.ServerVariables["SERVER_NAME"] : System.Web.HttpContext.Current.Request.Url.Authority)/@Model.CleanUrl</span>
                                </span>
                            </div>
                        </div>

                        @if (ViewBag.PCT_BIZNETIX_ONLY_OPTIONS_ON)
                                {
                    <div>
                        <div>
                            <b>Editable:</b>
                        </div>
                        <div><input type="checkbox" name="editable" value="true" @(Model.Editable && Model.Editable ? "checked" : null)></div>
                    </div>
                    <div>
                        <div><b>Cannot Delete:</b></div>
                        <div><input type="checkbox" name="CannotDelete" value="true" @(Model.CannotDelete && Model.CannotDelete ? "checked" : null)></div>
                    </div>
                                }
                                else
                                {
                    <input type="hidden" name="Editable" value="@(Model.Editable && Model.Editable ? "Yes" : "No")" />
                    <input type="hidden" name="CannotDelete" value="@(Model.CannotDelete && Model.CannotDelete ? "Yes" : "No")" />
                                }
                    </div>
                </div>
                <div id="tab-Bottom" class="tab-pane fade">
                    <div>
                        <div>
                            <div>
                                <select class="form-control" name="BottomPageType" id="BottomPageType">
                                    <option value="nothing">None</option>
                                    <option @(Model.BottomPageType == "content" ? "selected" : null) value="content">Content</option>
                                    @if (ViewBag.CAREERS_TOOL)
                                            {
                                    <option @(Model.BottomPageType == "job_listings" ? "selected" : null) value="job_listings">Job Listings</option>
                                            }
                                    @if (ViewBag.NEWS_TOOL)
                                            {
                                    <option @(Model.BottomPageType == "news" ? "selected" : null) value="news">News Listings</option>
                                            }
                                    @if (ViewBag.PORTFOLIO_TOOL)
                                            {
                                    <option @(Model.BottomPageType == "portfolio" ? "selected" : null) value="portfolio">Portfolio Items</option>
                                            }
                                    @if (ViewBag.TESTIMONIAL_TOOL)
                                            {
                                    <option @(Model.BottomPageType == "testimonial" ? "selected" : null) value="testimonial">Testimonial Items</option>
                                            }
                                    <option @(Model.BottomPageType == "file" ? "selected" : null) value="file">Specified File</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div><b>Left Content Area:</b></div>
                        </div>

                        <div>
                            <div>
                                <div id="bottom_type_content" style="display:none;">
                                    @{
                                        @MakeEditor(@Model.Filename + "_bottom", "bottom_content", @ViewBag.bottomcontent_txt, "/include/style.css");
                                                if (ViewBag.ENABLE_SAVE_DRAFT)
                                                {
                                                    <!--last saved draft -->
                                <input type="button" value="Last Saved Draft" onclick="fetch_content('@Model.Filename','draft');">
                                                    <!-- the submit button's names and values are important. If they change the code will break -->
                                                    <!-- save draft -->
                                <input name="submit_btn" type="submit" value="Save Draft">
                                                }
                                    }
                                </div>
                                <div id="bottom_type_job" style="display:none;">
                                    @{
                                        @:The bottom pane will include items from the portfolio at random.
                                    }
                                </div>
                                <div id="bottom_type_portfolio" style="display:none;">
                                    @{
                                        @:The bottom pane will include items from the portfolio at random.
                                    }
                                </div>
                                <div id="bottom_type_test" style="display:none;">
                                    @{
                                        @:The bottom pane will include items from customer testimonials at random.
                                    }
                                </div>
                                <div id="bottom_type_file" style="display:none;">
                                    @{
                                        @:The bottom pane will include the specified file.<br>
                                        <input class="form-control" type="text" size="80" name="BottomPageFilename" value="@Model.BottomPageFilename">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-History" class="tab-pane fade">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <h3>History of Files</h3>
                                @if ((int)ViewBag.version_count > 0)
                                        {
                                            for (int i = 1; i <= ViewBag.version_count; i++)
                                            {
                            <div style="display:block;">
                                <a href="#" onclick="getFileHistory('@Model.Filename'+'_'+@i)">@Model.Filename @i</a>
                            </div>
                                            }
                                        }
                            </div>
                            <div class="col-md-4">
                                <h3>Current Version</h3><br />
                                <div style="background-color: white; min-height: 400px; scroll-behavior: smooth; overflow: scroll;">@Html.Raw(ViewBag.content_txt)</div>
                                <a href="#">Keep this version</a>
                            </div>
                            <div class="col-md-4">
                                @{
                                            var prevFilename = Model.Filename + "_" + ((int)ViewBag.version_count).ToString();
                                }
                                <h3>Previous Version</h3><br />
                                <div id="lblPrevVersion" style="background-color: white; min-height: 400px;max-height:400px; scroll-behavior: smooth; overflow: scroll;">@Html.Raw(ViewBag.previousContent)</div>
                                <a href="/Pages/SaveHistoryContent?fileName=@prevFilename&versionCount=@ViewBag.version_count&pageID=@Model.PageID" id="lnkRevert" onclick="return window.confirm('Are you sure you want to revert to this version?');">Revert to this version</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
        <script type="text/javascript">
        $(function () {
            $('#sideType').val("0");
            $('#bottomType').val("0");

            var index = @ViewBag.tab_index;
            var side_content = $("#side_content").val();
            var bottom_content = $("#bottom_content").val();

            

            if (side_content =="content") {
                $("#side_type_content").css("display", "block");
                $("#side_type_file").css("display", "none");
            } else if(side_content =="file") {
                $("#side_type_content").css("display", "none");
                $("#side_type_file").css("display", "block");
            } else if(side_content =="nothing") {
                $("#side_type_content").css("display", "none");
                $("#side_type_file").css("display", "none");
            }

            if (bottom_content == "content") {
                $("#bottom_type_content").css("display", "block");
                $("#bottom_type_file").css("display", "none");
            } else if (bottom_content == "file") {
                $("#bottom_type_content").css("display", "none");
                $("#bottom_type_file").css("display", "block");
            } else if (bottom_content == "nothing") {
                $("#bottom_type_content").css("display", "none");
                $("#bottom_type_file").css("display", "none");
            }

            $(".btnUpdateCurrPage").button().on("click", function () {
                
                var pageName = $('#PageName').val();

                $('.opacity-add p').css("color", "red");

                if (pageName == "") {
                    $('.opacity-add p').html("Page name is required!");
                } else {
                    $('.opacity-add p').html("");
                    $('.opacity-add p').css("color", "#000000");
                    $('#frmPage').submit();
                }
                
            });

            $("#SubPageType").change(function () {
                var type = $("#SubPageType").val();

                if (type == "content") {
                    $("#side_type_content").css("display", "block");
                    $("#side_type_file").css("display", "none");
                } else if (type == "file") {
                    $("#side_type_content").css("display", "none");
                    $("#side_type_file").css("display", "block");
                } else if (type == "nothing") {
                    $("#side_type_content").css("display", "none");
                    $("#side_type_file").css("display", "none");
                }
            });

            $("#BottomPageType").change(function () {
                var type = $("#BottomPageType").val();

                if (type == "content") {
                    $("#bottom_type_content").css("display", "block");
                    $("#bottom_type_file").css("display", "none");
                } else if (type == "file") {
                    $("#bottom_type_content").css("display", "none");
                    $("#bottom_type_file").css("display", "block");
                }
            });

            $('ul.nav li a, a.list').click(function(){
                if (!isChanged)
                    return true;

                if (window.confirm("You have not saved your work, are you sure you want to exit?")) {
                    return true;
                }

                return false;
            });

            $("#tabs").on("tabsbeforeactivate", function(event, ui){

                if (ui.newTab.text() == "Right Content") {
                    if (side_content == "content") {
                        $("#side_type_content").css("display", "block");
                        $("#side_type_file").css("display", "none");
                    } else if (side_content == "file") {
                        $("#side_type_content").css("display", "none");
                        $("#side_type_file").css("display", "block");
                    }
                    $("#SubPageType").val(side_content);
                } else if (ui.newTab.text() == "Left Content") {
                    if (bottom_content == "content") {
                        $("#bottom_type_content").css("display", "block");
                        $("#bottom_type_file").css("display", "none");
                    } else if (bottom_content == "file") {
                        $("#bottom_type_content").css("display", "none");
                        $("#bottom_type_file").css("display", "block");
                    }
                    $("#BottomPageType").val(bottom_content);
                }
            });
        });

        function id2Index(tabsId, srcId) {
            var index = -1;
            var i = 0, tbH = $(tabsId).find("li a");
            var lntb = tbH.length;
            if (lntb > 0) {
                for (i = 0; i < lntb; i++) {
                    o = tbH[i];
                    if (o.href.search(srcId) > 0) {
                        index = i;
                    }
                }
            }
            return index;
        }

        var previous_version = '1';
        var last_version = '1';
        var current_version = 'inc';
        var draft_version = 'draft';

        function Editor_history(control_name, base_filename, version_count) {
            this.editor_control = control_name;
            this.basefilename = base_filename;
            this.previous_version = version_count - 1;
            this.version_count = version_count;
            this.current_version = 'inc';
            this.draft_version = 'draft';
        }

        Editor_history.prototype.load_previous = function () {
            if (this.previous_version == 0) {
                alert('No more previous versions, starting over at most recent.');
                this.load_current.call(this);
            } else {
                //		alert(this.basefilename + '\n' + 'inc.' + this.previous_version + '\n' + this.editor_control);
                fetch_content_to_control(this.basefilename, 'inc.' + this.previous_version, this.editor_control);
                this.previous_version = this.previous_version - 1;
            }
        }

        Editor_history.prototype.load_current = function () {
            fetch_content_to_control(this.basefilename, this.current_version, this.editor_control);
            this.previous_version = this.version_count - 1;
        }

        function getFileHistory(filename) {
            $('#lnkRevert').attr("href", "/Pages/SaveHistoryContent?filename=" + filename + "&versionCount=" + '@ViewBag.version_count' + "&pageID=" + '@Model.PageID');
            $.get("/Pages/ReadContent?filename=" + filename, function (data) {
                $('#' + "lblPrevVersion").html(data.fileContent);
            });
        }
        //$('#btnUpdateCurrPage').show();


        </script>
        <div style="padding-left:20px;">
            <div>
                <div class="float-right">
                    <!-- the submit button's names and values are important. If they change the code will break -->
                    <input name="submit_btn" class="btnUpdateCurrPage btn btn-primary m-3" id="btnUpdateCurrPage" type="button" value="Update Current Page">
                </div>
            </div>
        </div>
        <br />
        @create_file_history(@Model.Filename)
        <script>
                            main_history = new Editor_history('content_editor', '@Model.Filename', '@ViewBag.version_count');
                            alt_history = new Editor_history('content_editor_ALT', '@(Model.Filename)_ALT', '@ViewBag.alt_version_count');

        </script>
    </form>
</div>

<script>
    // Dynamically populate the SEO Title and Cleanurl fields based on the Page Name
    // Unless they've already been changed to something else
    var prevPageName = $('#PageName').val();
    $("#PageName").keyup(
        function () {
            if ($("#PageTitle").val() === prevPageName) {
                $("#PageTitle").val($("#PageName").val());
            }
            if ($("#PageUrl").val() === prevPageName.toLowerCase().replace(/ /g, '-').replace(/[^A-Za-z0-9_-]/g, '')) {
                $("#PageUrl").val($("#PageName").val().toLowerCase().replace(/ /g, '-').replace(/[^A-Za-z0-9_-]/g, ''));
            }
            prevPageName = $('#PageName').val();
        }
    );
</script>