﻿    <!--============================== row9 =================================-->
<div class="row_9">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h2>Recent posts</h2>
                <ul class="list-blog">
                    <li class="clearfix">
                        <div class="date clearfix">
                            <div class="badge badge_3"><span>23<br>june</span></div>
                            <div class="extra-wrap">
                                <p class="text-info"><a href="#">Etiam cursus leo vel metusv</a></p>
                                <p class="float-left">Posted by <a href="#" class="link3">Admin</a></p><p class="float-right"><a href="#" class="link3">3 comment(s)</a></p>
                            </div>
                        </div>
                        <div class="clearfix">
                            <figure><img src="img/page4_img1.jpg" alt="" /></figure>
                            <div class="blogcont">
                                <p>Aenean nonuy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque natoque  varius mi penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. </p>
                                <a href="#" class="btn link4">Read More</a>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="date clearfix">
                            <div class="badge badge_3"><span>23<br>june</span></div>
                            <div class="extra-wrap">
                                <p class="text-info"><a href="#">Etiam cursus leo vel metusv</a></p>
                                <p class="float-left">Posted by <a href="#" class="link3">Admin</a></p><p class="float-right"><a href="#" class="link3">3 comment(s)</a></p>
                            </div>
                        </div>
                        <div class="clearfix">
                            <figure><img src="img/page4_img2.jpg" alt="" /></figure>
                            <div class="blogcont">
                                <p>Aenean nonuy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque natoque varius mi penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. </p>
                                <a href="#" class="btn link4">Read More</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="span4">
                <h2>Categories</h2>
                <ul class="list2">
                    <li>
                        <a href="#">Lorem ipsum dolor sit amet</a>
                    </li>
                    <li>
                        <a href="#">Consectetuer adipiscing</a>
                    </li>
                    <li>
                        <a href="#">Pellentesque sed dolor</a>
                    </li>
                    <li>
                        <a href="#">Aliquam congue fermentum</a>
                    </li>
                    <li>
                        <a href="#">Mauris accumsan nulla</a>
                    </li>
                    <li>
                        <a href="#">Sed in lacus ut enim adipisc</a>
                    </li>
                    <li>
                        <a href="#">Nulla venenatis</a>
                    </li>
                    <li>
                        <a href="#">In pede mi aliquet sit</a>
                    </li>
                    <li>
                        <a href="#">Aliquam dapibus tincidunt</a>
                    </li>
                    <li>
                        <a href="#">Praesent justo dolor</a>
                    </li>
                    <li>
                        <a href="#">Lobortis quis lobortis dignis</a>
                    </li>
                </ul>
                <h2>Archives</h2>
                <ul class="list2">
                    <li>
                        <a href="#">June 2013</a>
                    </li>
                    <li>
                        <a href="#">May 2013</a>
                    </li>
                    <li>
                        <a href="#">April 2013</a>
                    </li>
                    <li>
                        <a href="#">March 2013</a>
                    </li>
                    <li>
                        <a href="#">February 2013</a>
                    </li>
                    <li>
                        <a href="#">January 2013</a>
                    </li>
                    <li>
                        <a href="#">December 2012</a>
                    </li>
                    <li>
                        <a href="#">November 2012</a>
                    </li>
                    <li>
                        <a href="#">October 2012</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

