﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <div class="col-md-2 site-sidebar d-none d-md-block" role="navigation">
                <div> @{ViewBag.SideNavRoot = (ViewBag.ParentPage ?? 0) != 0 ? ViewBag.ParentPage : ViewBag.PageID;} @Html.Partial("_NavListPartial") </div>
            </div>

            <div class="site-center col-md-8">
                @RenderBody()
            </div>
            @if (ViewBag.subcontent_type != "nothing")
            {

                if (ViewBag.subContentfile != "" && ViewBag.subContentfile != null && ViewBag.Editable != null)
                {
                <div class="col-md-2 site-sidebar">
                    <div id="bizcontent_@ViewBag.subContentfile.ToString()" @if ((bool) ViewBag.Editable) { <text> contenteditable="true" </text> }>
                        @Html.Raw(ViewBag.subContent)
                    </div>
                </div>
                }
                    }
            @if (ViewBag.bottomcontent_type != "nothing")
            {
                <div class="content-section">
                    @if (ViewBag.bottomContentfile != null)
                    {
                        <div class="col-lg-12 content" id="bizcontent_@ViewBag.bottomContentfile.ToString()" @if ((bool)ViewBag.editable) { <text> contenteditable="true" </text>        }>
                            @Html.Raw(ViewBag.bottomcontent)
                        </div>
                    }
                </div>
            }

@RenderSection("scripts", required: false)
<input type="hidden" name="name" id="hdnfileid" />
<script type="text/javascript">
    $('#txtSearch').autocomplete({
        source: function (request, response) {
            var autocompleteUrl = '/Home/LookupTags?term=' + $('#txtSearch').val();

            $.ajax({
                url: autocompleteUrl,
                type: 'GET',
                dataType: 'json',
                success: function (json) {
                    if (json.length != 0) {
                        $('#lblSearchNotification').html('');
                        // call autocomplete callback method with results
                        response($.map(json, function (data, id) {
                            return {
                                label: data.Value,
                                value: data.Key
                            };
                        }));
                    }
                    else { $('#lblSearchNotification').html('No search results found.'); }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    console.log('some error occured', textStatus, errorThrown);
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
            $('#txtSearch').val(ui.item.label);
            $('#hdnfileid').val(ui.item.value);
            return false;
        },
        focus: function (event, ui) {
            event.preventDefault();
            $("#txtSearch").val(ui.item.label);
        }
    });
    $('#txtSearch').keypress(function (e) {
        if (e.which == 13) {
            data = { id: $('#hdnfileid').val() }
            $.ajax({
                url: "/Home/LookupFilename",
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (data) {
                    location.href = "/Home/Index?id=" + data;
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    console.log('some error occured', textStatus, errorThrown);
                }
            });
        }
    });
    $('#btnSearch').click(function () {
        //data = { id: $('#txtSearch').val() }
        data = { id: $('#hdnfileid').val() }
        $.ajax({
            url: "/Home/LookupFilename",
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function (data) {
                $('#hdnfileid').val('');
                location.href = "/Home/Index?id=" + data;
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                console.log('some error occured', textStatus, errorThrown);
            }
        });
    });
</script>