﻿<footer>
    <div class="container-fluid site-bottom">
        <div class="container text-center">
            <small>
                <p>Disclaimer of Liability</p>
                <p>This web site is provided as a public service by the Town of Cambria.  In providing information on this site, we have attempted to be as accurate as possible.  However, the Town of Cambria makes no claims, guarantees or promises about the accuracy, timeliness, or completeness of the information provided.  In no event shall the Town of Cambria be liable for any errors or omissions with respect to any information on this site.  If you find any errors or omissions, we encourage you to report them to townclerk@townofcambria.com.</p>
                <p>The Town of Cambria has provided links and pointers to Internet sites maintained by third parties and may from time to time provide third party items or materials on this site.  These are for informational purposes only and constitutes neither an endorsement nor a recommendation by the Town of Cambria.   Your use of a third party site is at your sole risk and without warranties of any kind by the Town of Cambria, expressed or implied.</p>
                <p>Copyright © 2010 - 2018 Town of Cambria.  All rights reserved.</p>
            </small>
        </div>
    </div>
</footer>
                    


