﻿
<script src="js/jquery.carouFredSel-6.2.0.js"></script>
<script src="js/jquery.touchSwipe.min.js"></script>

<script>
        $(window).load(function() {

            $(function() {
    			$('#foo').carouFredSel({
    				auto: false,
    				responsive: true,
    				width: '100%',
    				prev: '#prev',
    				next: '#next',
    				scroll: 1,
    				items: {
    					height: 'auto',
    					width: 495,
    					visible: {
    						min: 1,
    						max: 2
    					}
    				},
    				mousewheel: true,
    				swipe: {
    					onMouse: true,
    					onTouch: true
    				}
    			});
    		});

        });
</script>

