
    @if (Biznetix.BizCMS.GlobalSettings.config_settings.ContainsKey("GoogleAnalytics") && !String.IsNullOrEmpty(Biznetix.BizCMS.GlobalSettings.config_settings["GoogleAnalytics"]))
    {
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=@Biznetix.BizCMS.GlobalSettings.config_settings["GoogleAnalytics"]'></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@Biznetix.BizCMS.GlobalSettings.config_settings["GoogleAnalytics"]');
    </script>

    }

