﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="author" content="@ViewBag.Author">

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/superfish")


    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="/Scripts/jquery.mobile.customized.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="/Content/css/ie.css" type="text/css" media="screen">
      <script src="/Content/assets/js/html5shiv.js"></script>
    <![endif]-->
    @Html.Partial("_GoogleAnalytics")
</head>
<body>
    <div class="container site-body">
        <!--==============================header=================================-->
        <header>
            <div class="headtop">
                <h1 class="brand_">
                    <a href="/" class="align-self-center align-self-md-start">
                        <img alt="" src="/ContentPages/Images/logo.png">
                    </a>
                </h1>
                @*@Html.Partial("_LoginPartial")*@
                @Html.Partial("_MainNav")
            </div>
        </header>
        <!--==============================content=================================-->
        <div id="content">

            @RenderSection("slideshow", required: false)
            @RenderBody()

        </div>
    </div>
    @Html.Partial("_Footer")

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sForm")

    @Scripts.Render("~/bundles/camera")


    <script>


        $(window).load(function () {

            jQuery('.camera_wrap').camera();

            //mewsletter
            $('#newsletter1').sForm({
                ownerEmail: '#',
                sitename: 'sitename.link'
            })


        });
    </script>

    <script src="/include/editor/ckeditor.js"></script>
    <script src="/include/ckfinder/ckfinder.js"></script>

    <script>
        window.CKEDITOR_BASEPATH = '/include/editor/';
        CKFinder.setupCKEditor(null, '/include/ckfinder/');
        CKEDITOR.disableAutoInline = true;
        let editors = $("[id^=bizcontent_][contenteditable=true]");
        for (let i = 0; i < editors.length; i++) {
            CKEDITOR.inline(editors[i].id, {
                @if (User.IsInRole("TrustedEditor")) // if user is cleared for high-level editing
                {
                    <text>customConfig: window.CKEDITOR_BASEPATH +  'custom/ckeditor_config.js'</text>
                } else
                {
                    <text>customConfig: window.CKEDITOR_BASEPATH + 'custom/ckeditor_simple_config.js',</text>
                }
            });

        }



        function updateValue(id, value) {
            // this gets called from the popup window and updates the field with a new value
            document.getElementById(id).value = value;
        }
        $("div[id^=bizcontent_] img").addClass("img-fluid")
    </script>
    <script>
        CKEDITOR.on('dialogDefinition', function (ev) {
            var editor = ev.editor;
            var dialogName = ev.data.name;
            var dialogDefinition = ev.data.definition;

            if (dialogName == 'image') {
                var infoTab = dialogDefinition.getContents('info');
                infoTab.get('browse').label = 'Select File';
            }
        });
    </script>

</body>
</html>
