﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="author" content="@ViewBag.Author">

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/superfish")
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="/Scripts/jquery.mobile.customized.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="/Content/css/ie.css" type="text/css" media="screen">
      <script src="/Content/assets/js/html5shiv.js"></script>
    <![endif]-->

</head>
<body>
    <div class="mainwrap">
        <!--==============================header=================================-->
        <header>
            <div class="headtop">
                <div class="container">
                    <h1 class="brand_"><a href="/"><img alt="garrett" src="/Content/Images/logo.jpg"></a></h1>
                    @Html.Partial("_Navigation")
                </div>
                <div class="left-bg"></div>
            </div>
        </header>
        <!--==============================content=================================-->
        <div id="content">

            @RenderSection("slideshow", required: false)
            @RenderBody()

        </div>
        <!--==============================footer=================================-->
        @Html.Partial("_Footer")
    </div>

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sForm")

    @Scripts.Render("~/bundles/camera")


    <script>


        $(window).load(function () {

            jQuery('.camera_wrap').camera();

            //mewsletter
            $('#newsletter1').sForm({
                ownerEmail: '#',
                sitename: 'sitename.link'
            })


        });
    </script>

    @Html.Partial("_LoginPartial")

</body>
</html>
