﻿                    <!-- Brand and toggle get grouped for better mobile display -->
@helper getNavTreeAndDisplay(IEnumerable<Biznetix.BizCMS.Data.cms_Page> nodes, int? parentpage, int level, int selected)
{
    if (nodes != null && nodes.Any(n => n.ParentPage == parentpage))
    {
        @Html.Raw("\n");
        <ul class="@(level>0 ? "dropdown-menu" : "nav navbar-nav justify-content-around")">
            @if (level > 0) // Add parent item with divider for sublists
            {
                var parent = nodes.First(n => n.PageID == parentpage);
                if (parent.PageTypeID != 4)
                {
                    <li class='nav-item'><a href='/@parent.Filename' class='nav-link'>@parent.PageName</a></li>
                    <li class='dropdown-divider nav-item'></li>
                }
            }
            @foreach (var p in nodes.Where(n => n.ParentPage == parentpage))
            {
                var classes = level > 0 ? "nav-link" : "";
                var tags = "";
                var hasChildren = nodes.Any(n => n.ParentPage == p.PageID);
                if (hasChildren)
                {
                    classes += " dropdown dropdown-toggle";
                    tags = "data-toggle='dropdown'";
                }
                @Html.Raw("<li class='nav-item " + (hasChildren ? "dropdown" : "") + "'>");
                switch (p.CleanUrl) // prepend font-awesome icons
                {
                    case "default":
                        @Html.Raw("<i class='fas fa-home'></i> ");
                        break;
                    case "events":
                        @Html.Raw("<i class='far fa-calendar-alt'></i> ");
                        break;
                    case "contact":
                        @Html.Raw("<i class='fas fa-phone'></i> ");
                        break;
                    case "departments":
                        @Html.Raw("<i class='fas fa-sitemap'></i> ");
                        break;
                    case "agendas-notices-minutes":
                        @Html.Raw("<i class='far fa-file-alt'></i> ");
                        break;
                    case "laws-ordinances":
                        @Html.Raw("<i class='fas fa-gavel'></i> ");
                        break;
                }
                switch (p.PageTypeID)
                {
                    case 1: // normal
                        @Html.Raw("<a class='" + @classes + "' href='/" + @p.CleanUrl + "' " + @tags + ">" + @p.PageName + "</a>");
                        break;
                    case 2: // link
                    case 5: // external Link
                        @Html.Raw("<a class='" + @classes + "' href='" + @p.LinkAddress + "' " + @tags + ">" + @p.PageName + "</a>"); 
                        break;
                    case 3: // unknown
                        @Html.Raw("<!--" + p.PageID + "--->")
                        break;
                    case 4: // subPagesOnly
                        @Html.Raw("<a class='" + @classes + "' href='#' "+ @tags +" >" + @p.PageName +  "</a>");
                        break;
                    case 6: // Gallery
                        @Html.Raw("<a class='" + @classes + "' href='/Gallery/" + @p.LinkAddress + "' " + @tags + ">" + "</a>")
                        break;
                    default:
                        @Html.Raw("<a class='" + @classes + "' href='" + @p.LinkAddress + " " + @tags + "'>" + @p.PageTypeID + "</a>");
                        break;

                }
                @getNavTreeAndDisplay(nodes, p.PageID, @level + 1, selected);
                @Html.Raw("</li>\n");
            }
        </ul>
    }

}
<nav class="navbar navbar-expand-lg navbar-dark border-top border-bottom border-white site-nav">
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
        @getNavTreeAndDisplay((IEnumerable<Biznetix.BizCMS.Data.cms_Page>)ViewBag.Navpages, 0, 0, 0)
    </div>
</nav>
