﻿@helper getNavTreeAndDisplay(IEnumerable<Biznetix.BizCMS.Data.cms_Page> nodes, int? parentpage, int level, int selected)
{
int first = 0;
if (nodes != null && nodes.Any(n => n.ParentPage == parentpage))
{
        @Html.Raw("\n");
        <ul>
            @foreach (var p in nodes.Where(n => n.ParentPage == parentpage))
            {
                <li @if (level == 0 && first++ == 0) { <text> class="active" </text>   }>
                    @switch (p.PageTypeID)
                    {
                        case 0: // home
                        case 1: // normal
                            @Html.Raw("<a href='/" + @p.CleanUrl + "'>" + @p.PageName + "</a><span></span>");
                            break;
                        case 2: // link
                        case 5: // external Link
                            @Html.Raw("<a href='" + @p.LinkAddress + "'>" + @p.PageName + "</a><span></span>");
                            break;
                        case 3: // unknown
                            @Html.Raw("");
                            @Html.Raw("<!--" + p.PageID + "--->");
                            break;
                        case 4: // subPagesOnly
                            @Html.Raw("<a href='#'>" + @p.PageName + "</a><span></span>");
                            break;
                        case 6: // Gallery
                            @Html.Raw("<a href='/Gallery/" + @p.LinkAddress + "'>" + "</a><span></span>");
                            break;
                        default:
                            @Html.Raw("<a href='" + @p.LinkAddress + "'>" + @p.PageTypeID + "</a><span></span>");
                            break;

                    }
                    @getNavTreeAndDisplay(nodes, p.PageID, @level + 1, selected)
                </li>
            }
        </ul>
}
}

@getNavTreeAndDisplay((IEnumerable<Biznetix.BizCMS.Data.cms_Page>)ViewBag.Navpages, ViewBag.SideNavRoot, 0, 0)