﻿                   
@helper getNavTreeAndDisplay(IEnumerable<Biznetix.BizCMS.Data.cms_Page> nodes, int? parentpage, int level, int selected)
{
    int first = 0; 
        if (nodes != null && nodes.Any(n => n.ParentPage == parentpage))
        {
    @Html.Raw("\n");
        <span @if (@level==0) {<text>class="navbar-nav justify-content-around"</text>}>
            @foreach (var p in nodes.Where(n => n.ParentPage == parentpage))  {
                <span class='@if (level==0 && first++ == 0) {<text>active</text>} else if (level != 0) { <text>dropdown-menu</text>}
                @if (nodes.Any(n => n.ParentPage == p.PageID)) {<text>dropdown-toggle</text>} '
                @if (nodes.Any(n => n.ParentPage == p.PageID)) {<text>data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"</text>}
                @if (level != 0) { <text> x-placement="bottom-start"</text>}>
                    @switch (p.CleanUrl) // prepend font-awesome icons
                    {
                        case "default":
                            @Html.Raw("<i class='fas fa-home'></i>");
                    break;
                        case "events":
                            @Html.Raw("<i class='far fa-calendar-alt'></i>");
                    break;
                        case "contact":
                            @Html.Raw("<i class='fas fa-phone'></i>");
                    break;
                }
                    @switch (p.PageTypeID)
                    {
                        case 0: // home
                            @Html.Raw("<a href='/" + @p.Filename + "'>" + @p.PageName + "</a><span></span>");
                            break;
                        case 1: // normal
                            @Html.Raw("<a href='/" + @p.Filename + "'>" + @p.PageName + "</a><span></span>");
                            break;
                        case 2: // link
                            @Html.Raw("<a href='" + @p.LinkAddress + "'>" + @p.PageName + "</a><span></span>");
                            break;
                        case 3: // unknown
                            @Html.Raw("");
                            @Html.Raw("<!--" + p.PageID + "--->");
                            break;
                        case 4: // subPagesOnly
                            @Html.Raw("<a href='#'>" + @p.PageName + "</a><span></span>");
                            break;
                        case 5: // external Link
                            @Html.Raw("<a href='" + @p.LinkAddress + "'>" + @p.PageName + "</a><span></span>");
                            break;
                        case 6: // Gallery
                            @Html.Raw("<a href='/Gallery/" + @p.LinkAddress + "'>" + "</a><span></span>");
                            break;
                        default:
                            @Html.Raw("<a href='" + @p.LinkAddress + "'>" + @p.PageTypeID + "</a><span></span>");
                            break;

                    }
                    @getNavTreeAndDisplay(nodes, p.PageID, @level + 1, selected)
                    </span>
             }
</span>
}
}

@*<div class="navbar navbar_ clearfix extra">
    <div class="nav-collapse nav-collapse_ collapse">
            @getNavTreeAndDisplay((IEnumerable<Biznetix.BizCMS.Data.cms_Page>)ViewBag.Navpages, 0, 0, 0)
    </div>
</div>*@

<nav class="navbar navbar-expand-lg navbar-dark border-top border-bottom border-white site-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
            @getNavTreeAndDisplay((IEnumerable<Biznetix.BizCMS.Data.cms_Page>)ViewBag.Navpages, 0, 0, 0)
            <!--<form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
    </div>
</nav>