﻿
<!--============================== slider =================================-->
<div class="slider">
    <div class="camera_wrap">
        <div data-src="img/picture1.jpg">
            <div class="camera_caption fadeIn">
                <div class="camera_caption_bg">
                    <div class="title1">We build <strong>satisfaction</strong></div>
                    <div class="title2">The experience you need and quality you deserve</div>
                </div>
            </div>
        </div>
        <div data-src="img/picture2.jpg">
            <div class="camera_caption fadeIn">
                <div class="camera_caption_bg">
                    <p class="title1">Quality <strong>craftsmanship</strong></p>
                    <p class="title2">Cum sociis natoque penatibus et ma dis lorem</p>
                </div>
            </div>
        </div>
        <div data-src="img/picture3.jpg">
            <div class="camera_caption fadeIn">
                <div class="camera_caption_bg">
                    <p class="title1">Home <strong>makeovers</strong></p>
                    <p class="title2">Morbi nunc odio graida atcursus luctus a lorem</p>
                </div>
            </div>
        </div>
        <div data-src="img/picture4.jpg">
            <div class="camera_caption fadeIn">
                <div class="camera_caption_bg">
                    <p class="title1">Exceeding <strong>expectations</strong></p>
                    <p class="title2">Duis ultr icies pharetra atcursus luctus pentibus</p>
                </div>
            </div>
        </div>
    </div>
</div>
