﻿
    <!--============================== row8 =================================-->
<div class="row_8">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>gallery</h2>
                <div class="gallpad">
                    <div class="list_carousel responsive clearfix">
                        <ul id="foo">
                            <li><img src="img/page3_img1.jpg" alt=""></li>
                            <li><img src="img/page3_img2.jpg" alt=""></li>
                            <li><img src="img/page3_img3.jpg" alt=""></li>
                            <li><img src="img/page3_img4.jpg" alt=""></li>
                        </ul>
                        <div class="foo-btn">
                            <a id="prev" class="prev" href="#"></a>
                            <a id="next" class="next" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
