﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ViewBag.Title ?? "Internal Server Error";
}
<div class="col">
    <h1 class="text-danger">Error : @ViewBag.Title</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <p>We're sorry.  Something went wrong on our end.  If you are entering data, please check your input and try again.  If not, please try again later.</p>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow: scroll">
                <pre>
                    @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>
