﻿@model Biznetix.BizCMS.Data.Job_ApplicationEmploymentHistory
<div class="panel panel-info">
    <div class="panel-heading">WORK HISTORY</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            Start with your most recent position. If you have worked for any company as a temporary/contract employee, please specify that clearly under the appropriate employer, making sure to include the agency’s name and telephone number. Give accurate summaries of your duties, concentrating on major aspects of the position including number of personnel supervised, financial responsibilities and major accomplishments. If additional space is required to cover the last 5 years, or for everyone's convenience, please consider submitting a resume in lieu of this information. An incomplete application will not be processed.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-lg-3">
                        <span>From:</span>@Html.TextBoxFor(model => model.hist1frommonth, new { @class = "form-control form-control-width-txtbox", @placeholder = "Month" })
                    </div>
                    <div class="col-lg-3">
                        <span>&nbsp;</span> @Html.TextBoxFor(model => model.hist1fromyear, new { @class = "form-control form-control-width-txtbox", @placeholder = "Year" })
                    </div>
                    <div class="col-lg-3">
                        To: @Html.TextBoxFor(model => model.hist1frommonth, new { @class = "form-control form-control-width-txtbox", @placeholder = "Month" })
                    </div>
                    <div class="col-lg-3">
                        <span>&nbsp;</span> @Html.TextBoxFor(model => model.hist1fromyear, new { @class = "form-control form-control-width-txtbox", @placeholder = "Year" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                @Html.Label("Company Name:", new { })
                <div class="row">
                    <div class="col-lg-12">
                        @Html.TextBoxFor(model => model.hist1companyname, new { @class = "form-control form-control-width-txtbox" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-7">
                @Html.Label("Starting Job Title :", new { })
                <div class="row">
                    <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist1title, new { @class = "form-control form-control-width-txtbox" }) </div>
                </div>
                @Html.Label("Present (or last) Job Title  :", new { })
                <div class="row">
                    <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist1pasttitle, new { @class = "form-control form-control-width-txtbox" }) </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-lg-12">
                    @Html.Label("City, State ", new { })
                    @Html.TextBoxFor(model => model.hist1citystate, new { @class = "form-control form-control-width-txtbox" })
                </div>
                <div class="col-lg-12">
                    @Html.Label("Telephone", new { })
                    @Html.TextBoxFor(model => model.hist1phone, new { @class = "form-control form-control-width-txtbox" })
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-7">
                @Html.Label("Immediate Supervisor's Name :", new { })
                <div class="row">
                    <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist1supervisor, new { @class = "form-control form-control-width-txtbox" }) </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-lg-6">
                    @Html.Label("Rate of Pay", new { })
                    @Html.TextBoxFor(model => model.hist1rate, new { @class = "form-control form-control-width-txtbox" })
                </div>
                <div class="col-lg-6">
                    @Html.Label("Per", new { })
                    @Html.TextBoxFor(model => model.hist1rateper, new { @class = "form-control form-control-width-txtbox" })
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-7">
                @Html.Label("Supervisor's Job Title :", new { })
                <div class="row">
                    <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist1supervisortitle, new { @class = "form-control form-control-width-txtbox" }) </div>
                </div>
                @Html.Label("Reason for Leaving :", new { })
                <div class="row">
                    <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist1leaving, new { @class = "form-control form-control-width-txtbox" }) </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-lg-12">
                    @Html.Label("Summarize Job Responsibilities and Duties", new { })
                    @Html.TextBoxFor(model => model.hist1duties, new { @class = "form-control form-control-width-txtbox" })
                </div>

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-7">
                @Html.Label("May we contact this employer now?", new { })
                <div class="row">
                    <div class="col-lg-12">
                        @Html.RadioButtonFor(model => model.hist1contactnow, true, new { }) Yes
                        @Html.RadioButtonFor(model => model.hist1contactnow, false, new { }) No
                    </div>
                </div>
                @Html.Label("If no, when?:", new { })
                <div class="row">
                    <div class="col-lg-12 form-inline">
                        @Html.TextBoxFor(model => model.hist1contactdate, new { @class = "form-control form-control-width-txtbox", @placeholder = "mm/dd/yyyy", style = "margin-left:5px;" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="col-lg-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>