﻿@{
    ViewBag.Title = "Employment";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div>
    <h2>Employment</h2>
    <div class="col-12" >
        Thank you for your application.  Your application was successfully submitted and will be reviewed by our team.
    </div>

</div>


