﻿@model Biznetix.BizCMS.Data.Job_Application
@using Biznetix.BizCMS.Helpers;
@using Biznetix.BizCMS;
@{
    ViewBag.Title = "Job Application";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<style>
    *:not(.input-group) > .form-control, .btn {
        margin: 5px;
    }

    .disable-inputs input, .disable-inputs select, .disable-inputs .input-group-text {
        border-color: transparent;
        background-color: transparent;
        color: black;
        pointer-events: none;
        margin: 0;
    }

    .modal-dialog {
        max-width: 650px;
    }

</style>

            <script type="text/html" id="personal-data-template">
                <div class="panel panel-info">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-4"><input class="form-control" data-bind="textInput: lastName" placeholder="Last name"></div>
                                    <div class="col-4"><input class="form-control" data-bind="textInput: firstName" placeholder="First name"></div>
                                    <div class="col-4"><input class="form-control" data-bind="textInput: middleName" placeholder="Middle name"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input class="form-control" data-bind="textInput: email" placeholder="Email">
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-12">
                                        <input class="form-control" data-bind="textInput: address" placeholder="Address (Street, PO Box)">
                                    </div>
                                    <div class="col-12">
                                        <input class="form-control" data-bind="textInput: city" placeholder="City">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-12">
                                    <label>Have you previously been employed by us?</label>
                                </div>
                                <div class="col-12">
                                    <input type="radio"  value="yes" data-bind="checked: prevEmployed" /> Yes
                                    <input type="radio"  value="no" data-bind="checked: prevEmployed" /> No
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <input class="form-control" data-bind="textInput: when" placeholder="When">
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" data-bind="textInput: position" placeholder="Position">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </script>

            <script type="text/html" id="job-data-template">
                <div class="panel panel-info">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <select class="custom-select" data-bind="options: [], @* TODO: pull options from C# side *@
                                           optionsCaption: 'Position applying for:',
                                           valueAllowUnset: true"></select>
                                    </div>
                                </div>
                                <div>
                                    <select class="custom-select" data-bind="options: [], @* TODO: pull options from C# side *@
                                           optionsCaption: 'Location:',
                                           valueAllowUnset: true"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 form-inline">
                            <div>
                                <div><label>Date available for work:</label></div>
                                <div>
                                    <input class="form-control" data-bind="textInput: dateAvailable" placeholder="mm/dd/yy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Type of position desired (select one)</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="radio" value="Full Time" data-bind="checked: positionType" /> Full Time
                                        <input type="radio" value="Part Time" data-bind="checked: positionType" /> Part Time
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="radio" value="Temporary" data-bind="checked: positionType" /> Temporary
                                        <input type="radio" value="Co-op Intern" data-bind="checked: positionType" /> Co-op Intern
                                    </div>
                                    <div class="col-lg-12">
                                        If hired, will you be able to work the scheduled days and hours required, which may include daily and weekly overtime?
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="radio" value="yes" data-bind="checked: positionAgree" /> Yes
                                        <input type="radio" value="no" data-bind="checked: positionAgree" /> No
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input class="form-control" data-bind="textInput: minSalary" placeholder="Minimum Salary">
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/html" id="background-info-template">
                <div class="panel panel-info">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Did you ever work for any employers under a different name? </label>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="radio" value="yes" data-bind="checked: diffName" /> Yes
                                        <input type="radio" value="no" data-bind="checked: diffName" /> No
                                    </div>
                                    <div class="col-lg-12" data-bind="if: (diffName() == 'yes')">
                                        <input class="form-control" data-bind="textInput: prevName" placeholder="Which name?">
                                    </div>
                                    <div class="col-lg-12" data-bind="if: (diffName() == 'yes')">
                                        <input class="form-control" data-bind="textInput: prevNameCompany" placeholder="Which employer?">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Have you been convicted of a felony involving a crime of violence, theft or breach of trust?</label>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="radio" value="yes" data-bind="checked: conviction" /> Yes
                                        <input type="radio" value="no" data-bind="checked: conviction" /> No
                                    </div>
                                    <div class="col-lg-12" data-bind="if: (conviction() == 'yes')">
                                        <input class="form-control" data-bind="textInput: convictionDesc" placeholder="Please explain">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/html" id="work-history-template">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-lg-3">
                                <span>From:</span><input class="form-control" data-bind="textInput: fromMonth" placeholder="Month">
                            </div>
                            <div class="col-lg-3">
                                <span>&nbsp;</span><input class="form-control" data-bind="textInput: fromYear" placeholder="Year">
                            </div>
                            <div class="col-lg-3">
                                To: <input class="form-control" data-bind="textInput: toMonth" placeholder="Month">
                            </div>
                            <div class="col-lg-3">
                                <span>&nbsp;</span> <input class="form-control" data-bind="textInput: toYear" placeholder="Year">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <input class="form-control" data-bind="textInput: companyName" placeholder="Company Name">
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        <input class="form-control" data-bind="textInput: title" placeholder="Starting Job Title">
                        <input class="form-control" data-bind="textInput: pastTitle" placeholder="Present (or last) Job Title">
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                            <input class="form-control" data-bind="textInput: cityState" placeholder="City, State">
                        </div>
                        <div class="col-lg-12">
                            <input class="form-control" data-bind="textInput: phone" placeholder="Telephone">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        <input class="form-control" data-bind="textInput: supervisor" placeholder="Immediate Supervisor's Name">
                    </div>
                    <div class="col-md-5">
                        <div class="col-12">
                            <input class="form-control" data-bind="textInput: rate" placeholder="Rate of Pay">
                        </div>
                        <div class="col-12">
                            <label>Per</label>
                            <input class="form-control" data-bind="textInput: ratePer" >
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" data-bind="textInput: supervisorTitle" placeholder="Supervisor's Job Title">
                        <input class="form-control" data-bind="textInput: leaving" placeholder="Reason for Leaving">
                    </div>
                    <div class="col-md-6">
                        <div class="col-lg-12">
                            <input class="form-control" data-bind="textInput: duties" placeholder="Summarize Job Responsibilities and Duties">
                        </div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        <label>May we contact this employer now?</label>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="radio" value="yes" data-bind="checked: contactNow" /> Yes
                                <input type="radio" value="no" data-bind="checked: contactNow" /> No
                            </div>
                        </div>
                        <div data-bind="if: contactNow() == 'no'">
                            <label>If no, when?:</label>
                            <div class="row">
                                <div class="col-lg-12 form-inline">
                                    <input class="form-control" data-bind="textInput: contactDate" placeholder="mm/dd/yy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </script>
             
            <div data-bind="
                 template: {
                    name: MyViewModel.templateMode,
                    foreach: applicationSections,
                    afterRender: MyViewModel.attachDismissCallback
                 }"></div>
            <button class="btn btn-primary col-12" >Submit Application</button>
           

<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>

<script type="text/html" id="expandable-section-template">
    <div data-bind="
    template: {
        name: MyViewModel.templateMode,
        foreach: expandableSections,
        afterRender: MyViewModel.attachDismissCallback
    }"></div>
    <button class="btn btn-secondary col-12" data-bind="click: MyViewModel.insertSection.bind($data, section, expandableSections)">+</button>
</script>

@* Knockout template which creates an instance of innerTemplate and a corresponding modal *@
<script type="text/html" id="modal-template">
    <div class="flex-row">
        <h4 class="d-inline-block" data-bind="text: modalTitle"></h4>

        <button class="btn btn-primary" onclick="$(this.parentElement.nextElementSibling.nextElementSibling).modal('show');">Edit Section</button>
        @* The "onclick" above will totally break if the structure of the surrounding DOM is changed.
            Can't think of a better way to do this without ids though, since this template is intended to be duplicated.*@
        <!-- ko if: removable -->
        <button class="btn btn-danger" data-bind="click: MyViewModel.removeSection.bind($data, $parent.expandableSections)">Remove Section</button>
        <!-- /ko -->
    </div>
    <div class="disable-inputs" data-bind="template: { name: innerTemplate, data: data }"></div>
   
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" data-bind="text: modalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div data-bind="template: { name: innerTemplate, data: modalData}"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: MyViewModel.syncViewModel.bind($data, data, modalData)">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</script>

<script>
    var createSectionModel = function (section) {
        switch (section) {
            case 'personal':
                return {
                    lastName: ko.observable(''),
                    firstName: ko.observable(''),
                    middleName: ko.observable(''),
                    email: ko.observable(''),
                    address: ko.observable(''),
                    city: ko.observable(''),
                    prevEmployed: ko.observable('no'), // Has to be a string so that it can be bound to a radio button
                    when: ko.observable(''),
                    position: ko.observable('')
                };
            case 'job-data':
                return {
                    jobId: ko.observable(''),
                    locationId: ko.observable(''),
                    dateAvailable: ko.observable(''),
                    positionType: ko.observable('Full Time'),
                    positionAgree: ko.observable('no'),
                    minSalary: ko.observable('')
                };
            case 'background-info':
                return {
                    diffName: ko.observable(''),
                    prevName: ko.observable(''),
                    prevNameCompany: ko.observable(''),
                    conviction: ko.observable(''),
                    convictionDesc: ko.observable('')
                };
            case 'work-history':
                return {
                    fromMonth: ko.observable(''),
                    fromYear: ko.observable(''),
                    toMonth: ko.observable(''),
                    toYear: ko.observable(''),
                    companyName: ko.observable(''),
                    title: ko.observable(''),
                    pastTitle: ko.observable(''),
                    cityState: ko.observable(''),
                    phone: ko.observable(''),
                    supervisor: ko.observable(''),
                    rate: ko.observable(''),
                    ratePer: ko.observable(''),
                    supervisorTitle: ko.observable(''),
                    leaving: ko.observable(''),
                    duties: ko.observable(''),
                    contactNow: ko.observable(''),
                    contactDate: ko.observable('')
                };
            default:
                throw new Exception("No matching section format");
        }
    };
    var createModalSectionModel = function (section, removable=false) {
        let model = {
            templateName: 'modal-template',
            removable: removable,
            data: createSectionModel(section),
            modalData: createSectionModel(section)
        }
        switch (section) {
            case 'personal':
                model.innerTemplate = 'personal-data-template';
                model.modalTitle = 'Applicant\'s Personal Data';
                break;
            case 'job-data':
                model.innerTemplate = 'job-data-template';
                model.modalTitle = 'Applicant\'s Employment Data';
                break;
            case 'background-info':
                model.innerTemplate = 'background-info-template';
                model.modalTitle = 'General Information';
                break;
            case 'work-history':
                model.innerTemplate = 'work-history-template';
                model.modalTitle = 'Work History';
                break;
            default:
                throw new Exception("No matching section format");
        }
        return model;
    };
    var MyViewModel = {
        applicationSections: ko.observableArray([
            createModalSectionModel('personal'),
            createModalSectionModel('job-data'),
            createModalSectionModel('background-info'),
            {
                templateName: 'expandable-section-template',
                expandableSections: ko.observableArray([createModalSectionModel('work-history')]),
                section: 'work-history'
            },
        ]),
        removeSection: function (parentList, sectionToRemove) {
            parentList.remove(sectionToRemove);
        },
        syncViewModel: function (outData, inData, data=null, event=null) {
            for (var i in inData) {
                outData[i](inData[i]());
            }
        },
        insertSection: function (templateName, sectionList, data, event) {
            let newModel = createModalSectionModel(templateName, true)
            sectionList.push(newModel);
            
        },
        attachDismissCallback: function (elements, bindings) { 
            // If this is a modal, add a listener to reset modal values if it's closed before saving
            if (elements.length > 5 && elements[5].className == "modal fade") {
                $(elements[5]).on('hidden.bs.modal', function (e) {
                    // The selector above assumes a specific DOM structure to avoid using ids
                    MyViewModel.syncViewModel(bindings.modalData, bindings.data);
                })
            }
            
        },
        templateMode: function (applicationSection) {
            return applicationSection.templateName;
        }
    };
    ko.applyBindings(MyViewModel);

</script>
