﻿@model Biznetix.BizCMS.Data.Job_Application
@using Biznetix.BizCMS.Helpers;
@using Biznetix.BizCMS;
@{
    
    Layout = (ViewBag.layout4email!=null && ViewBag.layout4email) ? "~/Views/Shared/_Layout-Email.cshtml" : "~/Views/Shared/_ContentLayout.cshtml";
    List<Biznetix.BizCMS.Data.configuration_setting> Settings = ViewBag.ConfigSetting;
    ViewBag.subcontent_type = "nothing";
}

@using (Html.BeginForm())
{
    <div class="col-md-12" style="text-align:left">
        <span id="Message" class="alert-success">@ViewBag.NotifyMsg</span>
    </div>
    <div class="col-md-12">
        <h2>Application for Employment</h2>
        <p>The Ski Company is committed to the employment and advancement of minorities, females, individuals with disabilities, and veterans. If you fall into one of these protected classifications, we invite you to identify yourself and receive coverage under our company’s Affirmative Action Plan. You may inform us of your desire to benefit under the program at this time and/or any time in the future. </p>
    </div>
    <div class="clearfix"></div>
    if (ViewBag.EmploymentAppPersonalData)
    {
        <div class="panel panel-info" id="AppPersonalData">
            <div class="panel-heading">APPLICANT’S PERSONAL DATA</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("Name(Last,First, Middle)", new { })
                        <div class="row">
                            <div class="col-lg-4"> @Html.TextBoxFor(model => model.applicantlastname, new { @class = "form-control form-control-width-txtbox" }) </div>
                            <div class="col-lg-4"> @Html.TextBoxFor(model => model.applicantfirstname, new { @class = "form-control form-control-width-txtbox" }) </div>
                            <div class="col-lg-4"> @Html.TextBoxFor(model => model.applicantmiddlename, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("Email", new { })
                    </div>
                    <div class="col-lg-12">
                        @Html.TextBoxFor(model => model.applicantemail, new { @class = "form-control form-control-width-txtbox" })
                    </div>

                    <div class="col-md-7">
                        @Html.Label("Address(Street, PO Box)", new { })
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.TextBoxFor(model => model.applicantaddress, new { @class = "form-control form-control-width-txtbox" })
                            </div>
                            <div class="col-lg-12">
                                @Html.Label("City", new { })
                            </div>
                            <div class="col-lg-12">
                                @Html.TextBoxFor(model => model.applicantcity, new { @class = "form-control form-control-width-txtbox" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                            <label>Have you previously been employed by us?</label>
                        </div>
                        <div class="col-lg-12">
                            @Html.RadioButtonFor(model => model.prevemployed, true, new { id = "chkPrevEmployed_Yes" }) Yes
                            @Html.RadioButtonFor(model => model.prevemployed, false, new { id = "chkPrevEmployed_No" }) No
                        </div>
                        <div class="col-lg-12" style="visibility:hidden">empty</div>
                        <div class="row">
                            <div class="col-lg-5">
                                @Html.Label("When", new { })
                                @Html.TextBoxFor(model => model.prevdate, new { @class = "form-control form-control-width-txtbox", @style = "margin-left:5px;" })
                            </div>
                            <div class="col-lg-7">
                                @Html.Label("Position", new { })
                                @Html.TextBoxFor(model => model.prevposition, new { @class = "form-control form-control-width-txtbox" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    if (ViewBag.EmploymentAppJobData)
    {
        <div class="panel panel-info">
            <div class="panel-heading">APPLICANT’S EMPLOYMENT DATA </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            @Html.Label("Position applying for:", new { })
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.DropDownListFor(model => model.job_id, new SelectList(ViewBag.OpenJobs, "Job_ID", "Job_title"))
                                </div>
                            </div>
                            @Html.Label("Location applying for:", new { })
                            <div>
                                @Html.DropDownListFor(model => model.locationid, new SelectList(ViewBag.Locations,"LocationID","Location"))
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 form-inline">
                        <div class="form-group">
                            @Html.Label("Date available for work:", new { })
                            @Html.TextBoxFor(model => model.dateavailable, new { @class = "form-control form-control-width-txtbox", @placeholder = "mm/dd/yyyy", @style = "margin-left:5px;" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.Label("Type of position desired (select one)", new { })
                                </div>
                                <div class="col-lg-12">
                                    @Html.RadioButtonFor(model => model.positiontype, "Full Time", new { id = "rdbPositionTime_full" })Full Time
                                    @Html.RadioButtonFor(model => model.positiontype, "Part Time", new { id = "rdbPositionTime_part" }) Part Time
                                </div>
                                <div class="col-lg-12">
                                    @Html.RadioButtonFor(model => model.positiontype, "Temporary", new { id = "rdbPositionTime_full" })Temporary
                                    @Html.RadioButtonFor(model => model.positiontype, "Co-op Intern", new { id = "rdbPositionTime_part" }) Co-op Intern
                                </div>
                                <div class="col-lg-12">
                                    If hired, will you be able to work the scheduled days and hours required, which may include daily and weekly overtime?
                                </div>
                                <div class="col-lg-12">
                                    @Html.RadioButtonFor(model => model.positionagree, true, new { id = "rdbPositionTime_yes" })Yes
                                    @Html.RadioButtonFor(model => model.positionagree, false, new { id = "rdbPositionTime_no" }) No
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        @Html.Label("Minimum salary requirement: $ ", new { })
                        @Html.TextBoxFor(model => model.minsalary, new { @class = "form-control form-control-width-txtbox" })
                    </div>
                </div>
            </div>
        </div>
    }
    if (ViewBag.EmploymentAppBackgroundInfo)
    {
        <div class="panel panel-info">
            <div class="panel-heading">GENERAL INFORMATION</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            @Html.Label("Did you ever work for any employers under a different name? ", new { })
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.RadioButtonFor(model => model.diffname, true, new { }) Yes
                                    @Html.RadioButtonFor(model => model.diffname, false, new { }) No
                                </div>
                                <div class="col-lg-12">
                                    If yes, which name?
                                </div>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.prevname, new { @class = "form-control form-control-width-txtbox" })
                                </div>
                                <div class="col-lg-12">
                                    If yes, which employer?
                                </div>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.prevnamecompany, new { @class = "form-control form-control-width-txtbox" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.Label("Have you been convicted of a felony involving a crime of violence, theft or breach of trust?", new { })
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.RadioButtonFor(model => model.conviction, true, new { }) Yes
                                    @Html.RadioButtonFor(model => model.conviction, false, new { }) No
                                </div>
                                <div class="col-lg-12">
                                    If yes, please explain:
                                </div>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(model => model.convictiondesc, new { @class = "form-control form-control-width-txtbox" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    if (ViewBag.EmploymentAppEmploymentHistory)
    {
        <div class="panel panel-info">
            <div class="panel-heading">WORK HISTORY</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    Start with your most recent position. If you have worked for any company as a temporary/contract employee, please specify that clearly under the appropriate employer, making sure to include the agency’s name and telephone number. Give accurate summaries of your duties, concentrating on major aspects of the position including number of personnel supervised, financial responsibilities and major accomplishments. If additional space is required to cover the last 5 years, or for everyone's convenience, please consider submitting a resume in lieu of this information. An incomplete application will not be processed.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-lg-3">
                                <span>From:</span>@Html.TextBoxFor(model => model.hist1frommonth, new { @class = "form-control form-control-width-txtbox", @placeholder = "Month" })
                            </div>
                            <div class="col-lg-3">
                                <span>&nbsp;</span> @Html.TextBoxFor(model => model.hist1fromyear, new { @class = "form-control form-control-width-txtbox", @placeholder = "Year" })
                            </div>
                            <div class="col-lg-3">
                                To: @Html.TextBoxFor(model => model.hist1tomonth, new { @class = "form-control form-control-width-txtbox", @placeholder = "Month" })
                            </div>
                            <div class="col-lg-3">
                                <span>&nbsp;</span> @Html.TextBoxFor(model => model.hist1toyear, new { @class = "form-control form-control-width-txtbox", @placeholder = "Year" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        @Html.Label("Company Name:", new { })
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.TextBoxFor(model => model.hist1companyname, new { @class = "form-control form-control-width-txtbox" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("Starting Job Title :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist1title, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                        @Html.Label("Present (or last) Job Title  :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist1pasttitle, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                            @Html.Label("City, State ", new { })
                            @Html.TextBoxFor(model => model.hist1citystate, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-12">
                            @Html.Label("Telephone", new { })
                            @Html.TextBoxFor(model => model.hist1phone, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("Immediate Supervisor's Name :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist1supervisor, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-6">
                            @Html.Label("Rate of Pay", new { })
                            @Html.TextBoxFor(model => model.hist1rate, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-6">
                            @Html.Label("Per", new { })
                            @Html.TextBoxFor(model => model.hist1rateper, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("Supervisor's Job Title :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist1supervisortitle, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                        @Html.Label("Reason for Leaving :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist1leaving, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                            @Html.Label("Summarize Job Responsibilities and Duties", new { })
                            @Html.TextBoxFor(model => model.hist1duties, new { @class = "form-control form-control-width-txtbox" })
                        </div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("May we contact this employer now?", new { })
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.RadioButtonFor(model => model.hist1contactnow, true, new { }) Yes
                                @Html.RadioButtonFor(model => model.hist1contactnow, false, new { }) No
                            </div>
                        </div>
                        @Html.Label("If no, when?:", new { })
                        <div class="row">
                            <div class="col-lg-12 form-inline">
                                @Html.TextBoxFor(model => model.hist1contactdate, new { @class = "form-control form-control-width-txtbox", @placeholder = "mm/dd/yyyy", style = "margin-left:5px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="col-lg-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-lg-3">
                                <span>From:</span>@Html.TextBoxFor(model => model.hist2frommonth, new { @class = "form-control form-control-width-txtbox", @placeholder = "Month" })
                            </div>
                            <div class="col-lg-3">
                                <span>&nbsp;</span> @Html.TextBoxFor(model => model.hist2fromyear, new { @class = "form-control form-control-width-txtbox", @placeholder = "Year" })
                            </div>
                            <div class="col-lg-3">
                                To: @Html.TextBoxFor(model => model.hist2tomonth, new { @class = "form-control form-control-width-txtbox", @placeholder = "Month" })
                            </div>
                            <div class="col-lg-3">
                                <span>&nbsp;</span> @Html.TextBoxFor(model => model.hist2toyear, new { @class = "form-control form-control-width-txtbox", @placeholder = "Year" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        @Html.Label("Company Name:", new { })
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.TextBoxFor(model => model.hist2companyname, new { @class = "form-control form-control-width-txtbox" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("Starting Job Title :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist2title, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                        @Html.Label("Present (or last) Job Title  :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist2pasttitle, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                            @Html.Label("City, State ", new { })
                            @Html.TextBoxFor(model => model.hist2citystate, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-12">
                            @Html.Label("Telephone", new { })
                            @Html.TextBoxFor(model => model.hist2phone, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("Immediate Supervisor's Name :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist2supervisor, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-6">
                            @Html.Label("Rate of Pay", new { })
                            @Html.TextBoxFor(model => model.hist2rate, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-6">
                            @Html.Label("Per", new { })
                            @Html.TextBoxFor(model => model.hist2rateper, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("Supervisor's Job Title :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist2supervisortitle, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                        @Html.Label("Reason for Leaving :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist2leaving, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                            @Html.Label("Summarize Job Responsibilities and Duties", new { })
                            @Html.TextBoxFor(model => model.hist2duties, new { @class = "form-control form-control-width-txtbox" })
                        </div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("May we contact this employer now?", new { })
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.RadioButtonFor(model => model.hist2contactnow, true, new { }) Yes
                                @Html.RadioButtonFor(model => model.hist2contactnow, false, new { }) No
                            </div>
                        </div>
                        @Html.Label("If no, when?:", new { })
                        <div class="row">
                            <div class="col-lg-12 form-inline">
                                @Html.TextBoxFor(model => model.hist2contactdate, new { @class = "form-control form-control-width-txtbox", @placeholder = "mm/dd/yyyy", style = "margin-left:5px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-lg-3">
                                <span>From:</span>@Html.TextBoxFor(model => model.hist3frommonth, new { @class = "form-control form-control-width-txtbox", @placeholder = "Month" })
                            </div>
                            <div class="col-lg-3">
                                <span>&nbsp;</span> @Html.TextBoxFor(model => model.hist3fromyear, new { @class = "form-control form-control-width-txtbox", @placeholder = "Year" })
                            </div>
                            <div class="col-lg-3">
                                To: @Html.TextBoxFor(model => model.hist3tomonth, new { @class = "form-control form-control-width-txtbox", @placeholder = "Month" })
                            </div>
                            <div class="col-lg-3">
                                <span>&nbsp;</span> @Html.TextBoxFor(model => model.hist3toyear, new { @class = "form-control form-control-width-txtbox", @placeholder = "Year" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        @Html.Label("Company Name:", new { })
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.TextBoxFor(model => model.hist3companyname, new { @class = "form-control form-control-width-txtbox" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("Starting Job Title :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist3title, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                        @Html.Label("Present (or last) Job Title  :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist3pasttitle, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                            @Html.Label("City, State ", new { })
                            @Html.TextBoxFor(model => model.hist3citystate, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-12">
                            @Html.Label("Telephone", new { })
                            @Html.TextBoxFor(model => model.hist3phone, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("Immediate Supervisor's Name :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist3supervisor, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-6">
                            @Html.Label("Rate of Pay", new { })
                            @Html.TextBoxFor(model => model.hist3rate, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-6">
                            @Html.Label("Per", new { })
                            @Html.TextBoxFor(model => model.hist3rateper, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("Supervisor's Job Title :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist3supervisortitle, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                        @Html.Label("Reason for Leaving :", new { })
                        <div class="row">
                            <div class="col-lg-12"> @Html.TextBoxFor(model => model.hist3leaving, new { @class = "form-control form-control-width-txtbox" }) </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                            @Html.Label("Summarize Job Responsibilities and Duties", new { })
                            @Html.TextBoxFor(model => model.hist3duties, new { @class = "form-control form-control-width-txtbox" })
                        </div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        @Html.Label("May we contact this employer now?", new { })
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.RadioButtonFor(model => model.hist3contactnow, true, new { }) Yes
                                @Html.RadioButtonFor(model => model.hist3contactnow, false, new { }) No
                            </div>
                        </div>
                        @Html.Label("If no, when?:", new { })
                        <div class="row">
                            <div class="col-lg-12 form-inline">
                                @Html.TextBoxFor(model => model.hist3contactdate, new { @class = "form-control form-control-width-txtbox", @placeholder = "mm/dd/yyyy", @style = "margin-left:5px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    if (ViewBag.EmploymentAppEducationHistory)
    {
        <div class="panel panel-info">
            <div class="panel-heading">Education</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-2">
                            &nbsp;
                        </div>
                        <div class="col-lg-2">
                            Name of School(No Abbreviations)
                        </div>
                        <div class="col-lg-2">
                            Location City/State
                        </div>
                        <div class="col-lg-2">
                            Dates of Attendance
                        </div>
                        <div class="col-lg-2">
                            Highest Grade Completed
                        </div>
                        <div class="col-lg-2">
                            Diploma/Degree  Acquired
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-2">
                            High School
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.eduhighname, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.eduhighlocation, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2 form-inline">
                            @Html.TextBoxFor(model => model.eduhighdates, new { @class = "form-control form-control-width-txtbox", @style = "margin-left:5px;" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.eduhighcompleted, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.eduhighdegree, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-2">
                            College
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.educollegename, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.educollegelocation, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2 form-inline">
                            @Html.TextBoxFor(model => model.educollegedates, new { @class = "form-control form-control-width-txtbox", @style = "margin-left:5px;" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.educollegecompleted, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.educollegedegree, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-2">
                            &nbsp;
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.educollege2name, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.educollege2location, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2 form-inline">
                            @Html.TextBoxFor(model => model.educollege2dates, new { @class = "form-control form-control-width-txtbox", @style = "margin-left:5px;" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.educollege2completed, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.educollege2degree, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-2">
                            Vocational/Technical
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.edutechname, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.edutechlocation, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2 form-inline">
                            @Html.TextBoxFor(model => model.edutechdates, new { @class = "form-control form-control-width-txtbox", @style = "margin-left:5px;" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.edutechcompleted, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.edutechdegree, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-2">
                            Other
                        </div>
                        <div class="col-lg-2 form-inline">
                            @Html.TextBoxFor(model => model.eduothername, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.eduotherlocation, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.eduotherdates, new { @class = "form-control form-control-width-txtbox", @style = "margin-left:5px;" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.eduothercompleted, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(model => model.eduotherdegree, new { @class = "form-control form-control-width-txtbox" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    if ((bool)ViewBag.EmploymentAppReferences)
    {
        <div class="panel panel-info">
            <div class="panel-heading">References</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        Please provide the names and contact information for three personal and professional references:
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">Name:</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref1name, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">Relationship:</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref1rel, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">Contact Information</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref1contact, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">Phone</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref1phone, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-lg-2">Name:</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref2name, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">Relationship:</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref2rel, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">Contact Information</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref2contact, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">Phone</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref2phone, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-lg-2">Name:</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref3name, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">Relationship:</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref3rel, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">Contact Information</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref3contact, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">Phone</div>
                                    <div class="col-lg-10">
                                        @Html.TextBoxFor(model => model.ref3phone, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="panel panel-info">
        <div class="panel-heading">
            APPLICANT OTHER QUESTIONS
        </div>



        <div class="panel-body">
            <div class="col-12">
                <div class="row">
                    <div class="form-group">
                        @Html.Label("Why do you want to work here?", new { })
                        @Html.TextAreaFor(model => model.other1, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.Label("What is your proudest work accomplishment?", new { })
                        @Html.TextAreaFor(model => model.other2, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.Label("", "Great Customer service is extremely important here at Ski Company. What does great service mean to you?", new { })
                        @Html.TextAreaFor(model => model.other3, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.Label("", "Tell us about a time you had a bad customer experience. What happened?", new { })
                        @Html.TextAreaFor(model => model.other4, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.Label("What are your hobbies and interests?", new { })
                        @Html.TextAreaFor(model => model.other5, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.Label("What are your goals for the next 5 years?", new { })
                        @Html.TextAreaFor(model => model.other6, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    <div class="panel panel-info">
                    <div class="panel-heading">
                        APPLICANT AUTHORIZATION AND CONSENT
                        FOR RELEASE OF INFORMATION
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    "I understand that if I am hired, my employment will be for no definite period, regardless of the period of payment of my wages. I further understand that I have the right to terminate my employment at any time with or without notice, and the Company has the same right. No one other than the President of the Company has the authority to modify this relationship or make any agreement to the contrary. Any such modification or agreement must be in writing.
                                    This release and authorization acknowledges that the Company may now, or at any time while I am employed, conduct a verification of my education, previous employment/work history, credit history for certain positions, or motor vehicle records. The Company may also contact personal references, require that I be tested for the presence of drugs or alcohol, and receive any criminal history record information and/or other information as deemed necessary to fulfill the job requirements.
                                    Medical and workers’ compensation information will only be requested in compliance with the Federal Americans with Disabilities Act and/or other applicable laws. The results of this verification process will be used to determine employment eligibility under this Company’s employment policies. I authorize the Company and any of its agents/designated Company personnel, to disclose orally and in writing the results of the verification process. The information obtained will not be provided to any other parties other than to the designated authorized representatives of this Company. All results will be kept CONFIDENTIAL.
                                    I, the undersigned applicant, do hereby certify that the information provided by me for the purpose of employment is true and complete to the best of my knowledge. I understand that if I am employed, any false statements will be considered as cause for possible dismissal.
                                    I have read and understand this consent for release of information, and authorize the background verification, and I do hereby authorize the Company to contact orally or in writing, any third parties to obtain information which the Company deems necessary and appropriate in conjunction with my application and qualifications for employment, and I hereby release all of the persons and agencies providing such information from any and all claims and damages connected with their release of information.
                                    I hereby authorize the Company to receive the results of any and all drug tests I have taken in any previous employment. This release specifically authorized the release of any confirmed, positive test results and a full and complete description of any disciplinary action, which followed.
                                    I so hereby agree to forever release and discharge the Company, and its affiliates and employees to the full extent permitted by law from any claims, complaint filed with any agency arising from the retrieving and reporting of information."
                                </p>
                            </div>
                            <div class="col-md-12">
                                @Html.CheckBoxFor(x => x.terms, new { }) I agree to the terms above.
                                <br /><br />
                            </div>
                            <div class="col-md-12">
                                The following information is required by law enforcement agencies and other entities for positive identification purposes when checking records. It is confidential and will not be used for employment consideration and/or any other purpose. <br />
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-4">Name:</div>
                                    <div class="col-lg-6">Driver's License Number:</div>
                                    <div class="col-lg-2">State:</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">@Html.TextBoxFor(model => model.finalname, new { @class = "form-control" })</div>
                                    <div class="col-lg-6">@Html.TextBoxFor(model => model.finallicesnsenumber, new { @class = "form-control" })</div>
                                    <div class="col-lg-2">@Html.TextBoxFor(model => model.finallicensestate, new { @class = "form-control" })</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">Maiden Name and/or Former Name :</div>
                                    <div class="col-lg-6">Name that your Driver’s License # is under</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">@Html.TextBoxFor(model => model.finalmaidenname, new { @class = "form-control" })</div>
                                    <div class="col-lg-6">@Html.TextBoxFor(model => model.finallicensename, new { @class = "form-control" })</div><br />
                                </div>
                                @if (ViewBag.EmploymentAppCollectSSN)
                    {
                                    <div class="row">
                                        <div class="col-lg-12">Social Security Number:</div>
                                        <div class="col-lg-6">
                                            @Html.TextBoxFor(model => model.finalssnumber, new { @class = "form-control" }) <br />
                                        </div>

                                    </div>
                    }
                                <div class="row">
                                    <div class="col-lg-12">Home Telephone Number :</div>
                                    <div class="col-lg-6">
                                        @Html.TextBoxFor(model => model.finalphone, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    The Ski Company (the company) is an equal opportunity employer, which makes employment decisions without regard to race, color, gender, religion, national origin, age, disability, marital status, veteran status, sexual orientation or any other characteristic protected under federal, state or local law. The Company also reasonably accommodates individuals with disabilities and bona fide religious beliefs. It complies with, and fully supports the Americans with Disabilities Act.
                                    Completion of the remaining part of this form is voluntary and in no way affects the decision regarding your employment opportunity. The information provided will be held in the strictest confidence, will be maintained in a separate file, and will not be used in a manner inconsistent with the Acts.
                                </p><br /><br />
                                <b>Choose one race/ethnic group. Submission of information is voluntary.</b><br />
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-2">Gender:</div>
                                    @Html.RadioButtonFor(x => x.gender, true, new { }) Male
                                    @Html.RadioButtonFor(x => x.gender, false, new { }) Female
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">Race/Ethnic Group:</div>
                                    @Html.RadioButtonFor(x => x.race, "Hispanic or Latino", new { }) Hispanic or Latino
                                    @Html.RadioButtonFor(x => x.race, "White", new { }) White
                                    @Html.RadioButtonFor(x => x.race, "Black or African American", new { }) Black or African American
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">&nbsp;</div>
                                    @Html.RadioButtonFor(x => x.race, "American Indian or Alaska Native", new { }) Native Hawaiian or Other Pacific Islander
                                    @Html.RadioButtonFor(x => x.race, "Asian", new { }) Asian
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">&nbsp;</div>
                                    @Html.RadioButtonFor(x => x.race, "American Indian or Alaska Native", new { }) American Indian or Alaska Native
                                    @Html.RadioButtonFor(x => x.race, "Two or more races", new { }) Two or more races
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom:10px;">
                    <input type="submit" name="btnSubmit" value="Submit" class="btn btn-primary" />
                </div>
                }
                <script>
                    $(function () {
                        $("#todaydate").datepicker({
                            showOn: "button",
                            buttonImage: "/Images/calendar.gif",
                            buttonImageOnly: true,
                            buttonText: "Select date"
                        });
                        $("#prevdate").datepicker({
                            showOn: "button",
                            buttonImage: "/Images/calendar.gif",
                            buttonImageOnly: true,
                            buttonText: "Select date"
                        });
                        $("#hist1contactdate").datepicker({
                            showOn: "button",
                            buttonImage: "/Images/calendar.gif",
                            buttonImageOnly: true,
                            buttonText: "Select date"
                        });
                        $("#hist2contactdate").datepicker({
                            showOn: "button",
                            buttonImage: "/Images/calendar.gif",
                            buttonImageOnly: true,
                            buttonText: "Select date"
                        });
                        $("#hist3contactdate").datepicker({
                            showOn: "button",
                            buttonImage: "/Images/calendar.gif",
                            buttonImageOnly: true,
                            buttonText: "Select date"
                        });
                        $("#eduhighdates").datepicker({
                            showOn: "button",
                            buttonImage: "/Images/calendar.gif",
                            buttonImageOnly: true,
                            buttonText: "Select date"
                        });
                        $("#educollegedates").datepicker({
                            showOn: "button",
                            buttonImage: "/Images/calendar.gif",
                            buttonImageOnly: true,
                            buttonText: "Select date"
                        });
                        $("#eduotherdates").datepicker({
                            showOn: "button",
                            buttonImage: "/Images/calendar.gif",
                            buttonImageOnly: true,
                            buttonText: "Select date"
                        }); dateavailable
                        $("#dateavailable").datepicker({
                            showOn: "button",
                            buttonImage: "/Images/calendar.gif",
                            buttonImageOnly: true,
                            buttonText: "Select date"
                        });
                    });
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        @*var settings = JSON.parse('@Html.Raw(ViewBag.configsettings)');
        debugger;
        alert(array);*@
                    });
                </script>
