﻿@model Biznetix.BizCMS.Data.Job_Listing
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<h2>@Model.Job_title</h2>
<br />
<span style="color:#57718d;font-weight:bold">Job Descriptions: </span>
@Html.Raw(Model.Job_description)
<br /><br />
@if (!String.IsNullOrEmpty(Model.Qualifications)) { 
<span style="color:#57718d;font-weight:bold">Qualifications: </span>@Model.Qualifications
<br /><br />
}
<div>
    @Html.ActionLink("Click here to submit your application On-line", "EmploymentApplicationForm", new  { jobid = @Model.Job_ID }, new { style = "color:#57718d;font-weight:bold;font-size:1.5em;" })
</div>
<br /><br />
<div>
  @*  @Html.ActionLink("Back to Job Listings", "Employment", null, new { style = "color:#57718d;font-weight:bold" })  *@
</div>
