﻿@model List<Biznetix.BizCMS.Data.Job_Listing>
@{
    ViewBag.Title = "Employment";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div>
    <h2>Employment</h2>
    <div class="col-12" id="employment_" @if (ViewBag.Editable) { <text> contenteditable="true" </text>           }>
        @Html.Raw(ViewBag.Employment_Content)
    </div>
   
</div>
<p> The following positions open at this time:</p>
<ul>
    @foreach (var items in Model)
    {
        <li><a style="font-size:14px;font-weight:bold;color:#57718d" href="/Employment/EmploymentDetail/@items.Job_ID">@items.Job_title</a></li>
    }
</ul>


