﻿
@{
    ViewBag.Title = "Donate";
}

<div class="container">
    <div class="site-center col-12">
        <h2>Donate</h2>
        <div class='col-xs-12 col-md-8 center'>
            <div id='donate'>
                <form novalidate accept-charset="UTF-8" action="/Donate/Give" class="clear_inputs needs-validation" data-hide-payment-section-for-zero-amount="true" data-paypal-supports-recurring="null" data-processing-fee="2.5" id="donation_form" method="post" role="form">
                    <div class=''>
                        <div class='row top-large '>
                            <div class='col-xs-12'>
                                <div class=' bottom-medium'>
                                    <span>United Way Logo</span>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <div class=''>
                                    <h3>Choose amount</h3>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div aria-label='Select a donation amount' class='btn-group' data-toggle="buttons" role='group'>
                                    <div class=''>
                                        <button type="button" arial-label='Donate $25' class='btn btn-primary btn-default btn-lg changeDonationAmount' data-suggested-amount='25.00'>
                                            $25
                                        </button>
                                        <button type="button" arial-label='Donate $50' class='btn btn-default btn-lg changeDonationAmount' data-suggested-amount='50.00'>
                                            $50
                                        </button>
                                        <button type="button" arial-label='Donate $100' class='btn btn-default btn-lg changeDonationAmount' data-suggested-amount='100.00'>
                                            $100
                                        </button>
                                        <button type="button" id="other-donate" arial-label='Donate a specific amount.' class='btn btn-default btn-lg changeDonationAmount' data-suggested-amount=''>
                                            Other
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <label for='amount'>
                                    <span class='sr-only'>Donation Amount</span>
                                </label>
                                <div class='input-group mb-3 input-group-lg'>
                                    <div class="input-group-prepend">
                                        <span class='input-group-text'>$</span>
                                    </div>
                                    <input autocomplete="off" aria-label="Donation Amount in Dollars" class="form-control donation_amount" data-linked-box="total_amount_label" id="amount" min="0.01" step="0.01" max="1000000" name="donation_amount" positiveNumber="true" required="required" type="number" value="25.00" />
                                    <div class="invalid-feedback">
                                        Please enter valid donation amount.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div aria-label='Select donation frequency' class='btn-group btn-group-lg' data-onetimeFreqId='frequency_one_time' data-toggle='buttons' id='btnFrequency' role='group'>
                                    <button aria-label='Set donation frequency as One Time donation.' class='active btn btn-primary changeFrequency' data-freq='one_time' id='frequency_one_time'>One Time</button>
                                    <button aria-label='Set donation frequency as Weekly donation.' class='btn btn-default changeFrequency' data-freq='weekly' id='frequency_weekly'>Weekly</button>
                                    <button aria-label='Set donation frequency as Monthly donation.' class='btn btn-default changeFrequency' data-freq='monthly' id='frequency_monthly'>Monthly</button>
                                    <button aria-label='Set donation frequency as Quarterly donation.' class='btn btn-default changeFrequency' data-freq='quarterly' id='frequency_quarterly'>Quarterly</button>
                                </div>
                                <input id="recurring_frequency" name="recurring_frequency" type="hidden" value="one_time" />
                                <input id="recurring_amount" name="recurring_amount" type="hidden" />
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col collapse' id='recurring_terms'>
                                <div class="checkbox">
                                    <label for="terms_and_conditions">
                                        <input checked="checked" id="terms_and_conditions" name="terms_and_conditions" type="checkbox" value="0" /><span>
                                            I have read the <a href="#" data-toggle="modal" data-target="#myModal">terms and conditions.</a><br> The total below is for <i>this</i> donation only.<br>
                                        </span>
                                    </label>
                                </div><label class="error" for="terms_and_conditions" style="display: none"></label>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class='form-group'>
                                    <small class="form-text text-muted"><em>For weekly, monthly or quarterly recurring gifts the amount you selected will continue to be charged at the interval selected until we are notified of any changes.&nbsp;</em></small>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class='form-group'>
                                    <label for="donor_directive">Optional: Support a Donor Choice Organization</label>
                                    <input class="form-control" id="donor_directive" maxlength="100" name="donor_directive" placeholder="Enter Info" type="text" value="" />
                                    <small class="form-text text-muted"><em>Leave this section blank if you are giving to United Way to address some of the most significant challenges in our community and help people across all stages of life and levels of need. If you would like to direct all or a portion of your gift to a donor choice organization, you may do so by entering the organization name or ID# and donation amount here. Donor choice information can be found at</em>&nbsp;<a href="http://www.uwrochester.org/donorchoice" target="_blank" rel="noopener">uwrochester.org/donorchoice</a>.&nbsp;</small>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class='form-group'>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class=''>
                                    <h3>Contact information</h3>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group'>
                                    <label for="first_name">First Name<span class="required"><span class="sr-only">required</span></span></label>
                                    <input autocomplete="given-name" class="form-control required-input invalid-input" id="first_name" name="first_name" placeholder="First Name" required="required" type="text" />
                                    <div class="invalid-feedback">
                                        Please enter first name.
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group'>
                                    <label for="last_name">Last Name<span class="required"><span class="sr-only">required</span></span></label>
                                    <input autocomplete="family-name" class="form-control required-input invalid-input" id="last_name" name="last_name" placeholder="Last Name" required="required" type="text" />
                                    <div class="invalid-feedback">
                                        Please enter last name.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group'>
                                    <label for="phone">Mobile Number<span class="required"><span class="sr-only">required</span></span></label>
                                    <input autocomplete="phone" class="form-control required-input invalid-input" id="phone" name="phone" placeholder="585-555-1234" required="required" type="tel" />
                                    <div class="invalid-feedback">
                                        Please enter valid, 10-digit phone number.
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group'>
                                    <label for="email">Email<span class="required"><span class="sr-only">required</span></span></label>
                                    <input autocomplete="email" class="form-control required-input invalid-input" email="true" id="email" name="email" placeholder="name@example.com" required="required" type="email" pattern="@ViewBag.emailValidationRegex" />
                                    <div class="invalid-feedback">
                                        Please enter valid email.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class='form-group'>
                                    <label for="street_address_1">Address 1<span class="required"><span class="sr-only">required</span></span></label>
                                    <input autocomplete="billing address-line1" class="form-control required-input invalid-input" id="street_address_1" name="street_address_1" placeholder="123 Address Blvd" required="required" type="text" />
                                </div>
                                <div class="invalid-feedback">
                                    Address is required.
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class='form-group'>
                                    <label for="street_address_2">Address 2</label>
                                    <input autocomplete="billing address-line2" class="form-control" id="street_address_2" name="street_address_2" placeholder="Apt 101" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class='form-group'>
                                    <label for="city">City<span class="required"><span class="sr-only">required</span></span></label>
                                    <input autocomplete="billing address-level2" class="form-control required-input invalid-input" id="city" name="city" placeholder="Your City" required="required" type="text" />
                                </div>
                                <div class="invalid-feedback">
                                    City is required.
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group'>
                                    <label for="state">State<span class="required"><span class="sr-only">required</span></span></label>
                                    <select autocomplete="billing address-level1" class="form-control required-input invalid-input" id="state" name="state" required="required">
                                        <option value="">Your State</option>
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="GU">Guam</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VI">Virgin Islands</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select State.
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-6 col-xs-12'>
                                <div class='form-group'>
                                    <label for="zip">Zip<span class="required"><span class="sr-only">required</span></span></label>
                                    <input autocomplete="billing postal-code" class="form-control required-input invalid-input" id="zip" name="zip" placeholder="12345" required="required" type="tel" />
                                    <div class="invalid-feedback">
                                        Postal code is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class='form-group'>
                                    <label for="employer">Employer</label>
                                    <input class="form-control" id="employer" maxlength="100" name="employer" placeholder="Enter Info" type="text" value="" />
                                    <small class="form-text text-muted"><em>You have the option of adding your employer to count this gift toward your company&rsquo;s workplace campaign, if applicable.</em></small>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class='form-group'>
                                    <label for="comments">Comments</label>
                                    <input class="form-control" maxlength="100" name="comments" placeholder="Enter Info" type="text" value="" id="comments" />
                                </div>
                            </div>
                        </div>
                        <script src="https://www.google.com/recaptcha/api.js"></script>
                        <div class='row bottom-large'>
                            <div class='col-md-12'>
                                <div class='g-recaptcha' data-sitekey='' data-tabindex='0'></div>
                                <label class='sr-only' for='g-recaptcha-response'>Google ReCaptcha Response</label>
                            </div>
                        </div>
                        <div class='payment-information'>
                            <div class='row'>
                                <div class='col'>
                                    <div class='text-center font-weight-bold'>
                                        <h3>Donation amount</h3>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col'>
                                    <div class='text-center font-weight-bold' style="font-size:xx-large"><span>$</span><span id='total_amount_label'>25.00</span></div>
                                </div>
                            </div>
                        </div>
                        <div class='row top-large'>
                            <div class='col text-center' id="paypal-button-container"></div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Recurring Terms and Conditions</h4>
                                </div>
                                <div class="modal-body">
                                    I have read and agreed to the Recurring Donation Terms and Conditions

                                    By selecting any recurring donation frequency, you are agreeing that the credit card you enter on the form may be charged the amount designated at the frequency designated with no pre-scheduled cancellation date.

                                    You have the option to set your recurring gift to the options given and displayed on the form by pressing a desired frequency button (weekly, monthly, quarterly, or annually). Lastly, check the box on the form labeled “I have read and agreed to the terms and conditions.”

                                    You will be notified by email before your credit card is to be charged and again upon successful completion of the transaction.

                                    Recurring gifts can be modified or cancelled at any time by taking one of the following actions:

                                    Calling us at 585-394-6550
                                    Emailing us at kari.buch@uwrochester.org


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class='clearfix'></div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="@ViewBag.payPalSmartButtonUrl"></script>
<script src="~/Scripts/BizAdmin/Donation/paypal.js"></script>

<br /><br />
