﻿@model IEnumerable<Biznetix.BizCMS.Data.FST_Folder>

@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/bundles/css/dataTables")

@*<script src="@Url.Content("~/Scripts/BizAdmin/FolderManager/Index.js")" type="text/javascript"></script>

    <script type="text/javascript">
        urlDocumentsApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "FolderManager", id = "-1" })';
        urlDocuments_Create = '@Url.Action("Create", "FolderManager")';
        urlDocuments_Edit = '@Url.Action("Edit", "FolderManager", new { id = -1 })';
    </script>*@

@{  
    ViewBag.Title = "Index";
}
<div class="clearfix"></div>
<div class="container" style="min-height:430px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12 page-top">
            <div class="col-md-12">
                <h1>Document Manager</h1>
            </div>            
            <div class="col-md-12 row" style="margin-bottom:20px;">
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-2 col-2 form-inline">
                    <button class="btn btn-outline-secondary float-left" id="btnFolderManager" data-toggle="modal" style="margin-right:10px;" data-target=".bs-example-modal-lg">
                        <img src="~/images/folder-dblue-24.png" style="padding-right:5px;" /> <span style="line-height:25px;">Folder Manager</span>
                    </button>
                </div>               
                <div class="col-md-2 col-sm-2 col-2 form-inline">
                    <button class="btn btn-outline-secondary float-left" id="btnFileManager" data-toggle="modal" style="margin-right:10px;" data-target=".bs-example-modal-lg">
                        <img src="~/images/file26.png" style="height: 24px;padding-right:5px;" /> <span style="line-height:25px;">File Manager</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        @if (ViewBag.ContentPage == "FolderManager")
        {
            @Html.Partial("../FolderManager/Index")
        }
        else if (ViewBag.ContentPage == "FileManager")
        {
            @Html.Partial("../FileManager/Index")
        }

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnFolderManager").on("click", function (e) {            
            window.location.href = "/BizAdmin/DocumentManager/Index?ContentPage=" + "FolderManager";
        });
        $("#btnFileManager").on("click", function (e) {            
            window.location.href = "/BizAdmin/DocumentManager/Index?ContentPage=" + "FileManager";
        });
    });
</script>