﻿@model List<Biznetix.BizCMS.Data.SlideShowImage>

    <div class="slider">
        <div class="camera_wrap">
            @foreach (var slide in Model)
            {
            <div data-src="@slide.Filename">
                <div class="camera_caption fadeIn">
                    <div class="camera_caption_bg">
                        <div class="title1">@Html.Raw(@slide.Title)</div>
                        <div class="title2">@Html.Raw(slide.Caption)</div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

