﻿@model List<Biznetix.BizCMS.Data.SlideShowImage>

<style>
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    width:@ViewBag.slideshowwidth ;
    height:@ViewBag.Slideshowheight ;
}
</style>
<div id="slider-section">
    <div id="slide_container_opacity"></div>
    <div id="carousel-main" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @foreach (var slide in Model)
            {
                <div class="item">                    
                    <img src="@slide.Filename" alt="...">
                </div>                                
            }
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
            <span class="left-arrow" aria-hidden="true"> <img src="/images/left-arrow.png" /> </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
            <span class="right-arrow" aria-hidden="true"> <img src="/images/right-arrow.png" /> </span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="slide_content">
    </div>
</div>
<script type="text/javascript">
    $(".item:first").addClass("active");
</script>