﻿@model List<Biznetix.BizCMS.Data.SlideShowImage>
<slider>
    <div id="features-container">
        <div class="frame-smaller-outer left">
            <div class="frame-smaller-inner">
                <div class="slider">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                    <img src="@Model[i].Filename">
                    }
                    @for (int i = 0; i < Model.Count - 1; i++)
                    {
                    <img src="@Model[i].Filename">
                    }
                </div>
            </div>
        </div>

        <div class="frame-smaller-outer right">
            <div class="frame-smaller-inner">
                <div class="slider">
                    @for (int i = 0; i < Model.Count; i++)
                {
                <img src="@Model[i].Filename">
                }
                    @for (int i = 0; i < Model.Count - 1; i++)
                {
                <img src="@Model[i].Filename">
                }
                </div>
            </div>
        </div>

        <div id="frame-center-outer">
            <div id="frame-center-inner">
                <div class="slider">
                    @for (int i = 0; i < Model.Count; i++)
                {
                <a href="#">
                    <span class="title">@Model[i].Title  </span>
                    <span class="more">@Html.Raw(Model[i].Caption)</span>
                    <span class="image-holder">
                        <img src="@Model[i].Filename">
                    </span>
                </a>
                }
                    @for (int i = 0; i < Model.Count - 1; i++)
                {
                <a href="#">
                    <span class="title">@Model[i].Title  </span>
                    <span class="more">@Html.Raw(Model[i].Caption)</span>
                    <span class="image-holder">
                        <img src="@Model[i].Filename">
                    </span>
                </a>
                }
                </div>
            </div>
        </div>

        <div class="nav-arrow back"></div>
        <div class="nav-arrow next"></div>
    </div>
</slider>
