﻿@model Biznetix.BizCMS.Data.ContactSubmission
@using Recaptcha.Web.Mvc;
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<div class="col-12">
    <h2>Contact Us</h2>
</div>
<div class="col-12">
    Thank you for contacting the Town of Cambria.
</div>
