﻿@model Biznetix.BizCMS.Data.ContactSubmission
@{
    ViewBag.Title = "Contact";
    Layout = (ViewBag.layout4email != null && ViewBag.layout4email) ? "~/Views/Shared/_Layout-Email.cshtml" : "~/Views/Shared/_ContentLayout.cshtml";

}
<h2>Contact Us</h2>
@using Recaptcha.Web.Mvc;

<div id="bizcontent_contact_page" @if (ViewBag.Editable) { <text> contenteditable="true" </text>       }> @Html.Raw(ViewBag.content) </div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="container page-wrap">
        <div>
            <div class="col-md-12 col-sm-12 col-12 page-top">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.Label("First Name", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control validate", id = "txtFirstName" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Last Name", new { @class = "control-label clear-fix" })
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "txtLastName" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.Label("Phone", new { @class = "control-label clear-fix" })
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control validate", id = "txtPhone" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.Label("City", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control validate", id = "txtCity" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("Email", new { @class = "control-label clear-fix", id = "lblEmail" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtEmail" })
                                @*@Html.DropDownList("DeptEmail", null, htmlAttributes: new { @class = "form-control", name="Email" })*@

                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Department", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownList("Department", null, htmlAttributes: new { @class = "form-control", name = "Department" })
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Commments", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", id = "txtComments", @Rows = 1 })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row ">
                            @if (ViewBag.useCaptcha != null && String.Equals(ViewBag.useCaptcha, "recaptcha"))
                            {
                                @Html.Raw(Html.Recaptcha(publicKey: "6LdQpr4SAAAAAEFP44DPc2fYq-yQuSHhXvyOLwCs"))
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row ">
                            <input type="submit" class="btn btn-primary" value="Submit" />

                            <div class="col-md-12" style="text-align:center">
                                <span id="errorMessage" class="alert-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}