﻿@model IEnumerable<Biznetix.BizCMS.Data.Doc_File>

@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/bundles/css/dataTables")

<script src="@Url.Content("~/Scripts/BizAdmin/DocumentCenter/Index.js")" type="text/javascript"></script>

<script type="text/javascript">
    urlDocumentsApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "DocumentCenter", id =ViewBag.FolderID })';
</script>

@{
    ViewBag.Title = "Index";
}
<div style="background-color: white; padding:10px;">
    @*<div id="divActive" class="right col-md-10 show-inactive">
            @Html.CheckBox("chk_showInactive", new { id = "chk_showInactive" })
            @Html.Label("Show all records", new { id = "lblShowActive" })
        </div>*@
    <table id="document" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
            </tr>
        </thead>
    </table>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.DocFileName' != null && '@ViewBag.DocFileName' != '') {
            var Url = window.location.host + '@Url.Content("/Content/Documents/SharedDocs/")';
            window.location.href = Url + '@ViewBag.DocFileName';
        }
    });

    function downloadfile() {
        location.href = "/Bizadmin/FileManager/DownloadFile?Id=" + $("#lblfileId").text();
    }

</script>