﻿@model Biznetix.BizCMS.Models.DocumentCenter
@{
    ViewBag.Title = "DocumentCenter";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<h2>Document Center</h2>
@helper NavTree(Biznetix.BizCMS.Models.DocumentCenter nodes, int? parentpage, bool subPages)
{
    if (nodes != null)
    {
        <ul>
            @foreach (var p in nodes.Folders)
            {
                <li>
                    <a href="/Home/DocumentCenter?Id= @p.FolderID">
                        <span>@p.FolderName</span>
                    </a>
                </li>
            }
        </ul>
    }
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2>Select Folders</h2>
            @NavTree(Model, 0, false)
        </div>
        <div class="col-md-6">
            <h2>Document Viewer</h2>
            @if (Model.Files != null)
            {
                List<Biznetix.BizCMS.Data.Doc_File> docfiles = null;
                docfiles = Model.Files.ToList();
                @Html.Partial("../Home/DocumentFiles", docfiles)
            }
            else
            {
                <table class="table table-bordered table-condensed">
                    <thead class="tblheader">
                        <tr>
                            <th style="background-color:white;">No records found..</th>
                        </tr>
                    </thead>
                </table>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("vfiles").on("click", function (e) {
            window.location.href = "/Home/DocumentCenter?ContentPage=" + "FolderManager";
        });
    });
</script>