﻿@{
    ViewBag.Title = "DrivingDirections";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div class="inner-bg">
    <div class="container">
        <div class="row">
            <h1>Driving Directions</h1>
            <h3>Get Directions!</h3><br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Street", new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBox("Street", null, new { @class = "form-control validate", id = "txtStreet" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Zip", new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBox("Zip", null, new { @class = "form-control validate", id = "txtZip" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <input type="button" class="btn btn-primary" id="btnGetDirections" onclick="calcRoute()" value="Get Directions!" />
                    <div class="col-md-12" style="text-align:center">
                        <span id="errorMessage" class="alert-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div id="map" style="height: 390px;" class="col-xs-12"></div>
                    <div id="directionpanel" class="col-xs-12" style="height:225px;float:left;overflow:scroll"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script language="javascript" type="text/javascript">
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var directions = null;

    $.ajax({
        url: "GetDrivingDirections",
        type: 'GET',
        contentType: 'application/json',
        success: function (data) {
            directions = data.location;
            InitializeMap();
        },
        error: function (st) {
        }
    });


    function InitializeMap() {

        directionsDisplay = new google.maps.DirectionsRenderer();
        var latlng = null;
        if (directions != null) {
            if (directions.Latitude != null && directions.Longitude != null) {
                latlng = new google.maps.LatLng(directions.Latitude, directions.Longitude);
            }
            else {
                latlng = new google.maps.LatLng(43.127, -77.666);
            }
        } else { latlng = new google.maps.LatLng(43.127, -77.666); }

        var myOptions =
        {
            zoom: 12,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directionpanel'));

        //var control = document.getElementById('control');
        //control.style.display = 'block';
    }

    function calcRoute() {
        //var start = "1200 A Scottsville Rd suite 399 Rochester, NY14624";
        var end = '';
        var start = document.getElementById('txtStreet').value + " " + document.getElementById('txtZip').value;

        if (directions != null && directions != "") {
            end = directions.Address + "," + directions.Zip;
        }
        else {
            end = "1200 A Scottsville Rd suite 399 Rochester, NY14624";
        }

        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });

    }

    //window.onload = InitializeMap;
</script>

