﻿@model List<Biznetix.BizCMS.Data.Event>

<link href='~/Content/fullcalendar.min.css' rel='stylesheet' />
<link href='~/Content/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='~/Scripts/fullcalendar.min.js'></script>



<h2>Event Calendar</h2>
<div class="row">
    <div class="col-lg-7">
        <div class="calendar">
            <div id="bizcalendar" style="background-color: white"></div>
            <div class="pull-right"><a class="view-all" href="/Events/Index"> View All</a></div>
        </div>
    </div>
    <div class="col-lg-4">
@if( Model ==null )
{
    // no events
}
else
{        
        foreach (var item in @Model.OrderByDescending(x => x.EventEndDate).Take(3))
        {
            <ul class="news-list">
                <li>
                    <a href="#">
                        <div class="date"><p>@item.EventStartDate.Value.Date.ToString("MMM dd")</p></div>
                        <div class="news-desc"><p>@Html.Raw(item.Description)</p></div>
                    </a>
                </li>
            </ul>
        }
}
        </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        
        $('#bizcalendar').fullCalendar({            
            eventRender: function(event, element) {
                $(element).find(".fc-time").remove();
            },
            editable: false,
            height: 'auto',
            width: 291,
            events: {
                url: '/Events/Lists',
                color: 'yellow',   // a non-ajax option
                textColor: 'black',
                allDay: false
            },
            //eventMouseover: function (calEvent, jsEvent) {
            //    //debugger;
            //    xOffset = 20;
            //    yOffset = 20;
            //    var tooltip = "<div id='caltooltip-" + calEvent.EventID + "' class='caltooltip'>" + calEvent.description + "</div>"
            //    $("body").append(tooltip);
            //    $("#caltooltip-" + calEvent.EventID)
            //    .css('z-index', 91000)
            //    .css('position', 'absolute')
            //    .css("top", (jsEvent.clientY - yOffset) + "px")
            //    .css("left", (jsEvent.clientX + xOffset) + "px")
            //        .fadeIn("fast");
            //},
            //eventMouseout: function (calEvent, jsEvent) {
            //    $("#caltooltip-" + calEvent.EventID).fadeOut("slow", function () {
            //        $(this).remove();
            //    });
            //},
            eventClick: function (calEvent, jsEvent, view) {
                window.location.href = '/Events/EventDetail/' + calEvent.EventID;
            }
        });
    });

</script>

<style>
    .caltooltip {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        max-width: 350px;
        box-shadow: 0px 0px 5px #0026ff;
    }
</style>
