﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@section slideshow {
     @Html.Partial("~/Views/Home/_SlideShow.cshtml", (List<Biznetix.BizCMS.Data.SlideShowImage>)ViewBag.Slideshowimages)
}
<div class="row">
    <div class="col-md-2 site-sidebar d-none d-md-block" role="navigation">
        <div id="bizcontent_@ViewBag.footerContentFile" @if (ViewBag.Editable) { <text> contenteditable="true" </text> }> @Html.Raw(ViewBag.footerContent) </div>
    </div>
    <div class="col-md-8 site-center">
        <!--============================== row_1 =================================-->
        
        <!--============================== row_2 =================================-->
        <div id="bizcontent_@ViewBag.fileName" @if (ViewBag.Editable) { <text> contenteditable="true" </text> }> @Html.Raw(ViewBag.content) </div>
        <!--============================== row_4 =================================-->
        
    </div>
    <div class="col-md-2 site-sidebar">
       <div id="bizcontent_@ViewBag.subContentFile" @if (ViewBag.Editable) { <text> contenteditable="true" </text> }> @Html.Raw(ViewBag.subContent) </div>
    </div>
</div>

