﻿@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div id="bizcontent_@ViewBag.fileName" @if (ViewBag.Editable){ <text> contenteditable="true" </text>  }> @Html.Raw(ViewBag.content) </div>





