﻿@model Biznetix.BizCMS.Data.FST_File
<div class="container page-wrap">
    <div>
        <h2>Create</h2>
        @Html.Partial("FileItemsForm")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
