﻿@model IEnumerable<Biznetix.BizCMS.Data.FST_File>

@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/bundles/css/dataTables")

<script src="@Url.Content("~/Scripts/BizAdmin/FileManager/Index.js")" type="text/javascript"></script>

<script type="text/javascript">
    urlDocumentsApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "FileManager", id = "-1" })';
    urlDocuments_Create = '@Url.Action("Create", "FileManager")';
    urlDocuments_Edit = '@Url.Action("Edit", "FileManager", new { id = -1 })';

</script>

@{
    ViewBag.Title = "Index";
}
<div style="background-color: white; padding:10px;" class="col-12">
    <div id="lblNotificationmessage" style="color: #C9302C;font-weight: bold">@ViewBag.Message</div>
    <div id="divActive" class="right col-md-9 show-inactive">
        @Html.CheckBox("chk_showInactive", new { id = "chk_showInactive" })
        @Html.Label("Show all records", new { id = "lblShowActive" })
    </div>
    <table id="document" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileSize)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.LinkUrl)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div id="DocPreview" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" style="z-index:9999" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background:none repeat scroll 0 0 #f9f9f9">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">File Manager - Download File</h4>
            </div>
            <div class="modal-body">
                <div class='img-fluid col-md-3'>
                    <img src='/images/icon_file.png' class='img-fluid thumbnail'  id='imgFileIcon' />
                    <label id="lblFilename"></label>
                </div>
            </div>

            <div style="clear:both"></div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <input id="btnDownload" type="button" value="Download" class="btn btn-primary float-left" data-file-id="" onclick="downloadfile()" />
                    </div>
                    <div class="col-md-6">
                        <input id="btnClose" type="button" value="Close" class="btn btn-outline-secondary float-right" data-dismiss="modal" />
                    </div>
                    <label id="lblfileId" style="display:none;"></label>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
        if ('@ViewBag.DocFileName' != null && '@ViewBag.DocFileName' != '') {
            var Url = window.location.host + '@Url.Content("/ContentPages/Documents/SharedDocs/")';
            window.location.href = Url + '@ViewBag.DocFileName';
        }
    });

    function downloadfile() {
        location.href = "/Bizadmin/FileManager/DownloadFile?Id=" + $("#lblfileId").text();
    }

</script>