﻿@model Biznetix.BizCMS.Data.Event
<div class="container page-wrap">
    <div>
        <h2>Edit</h2>
        @Html.Partial("Eventsitemform")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
