﻿@model IEnumerable<Biznetix.BizCMS.Data.Event>

@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/bundles/css/dataTables")

<script src="@Url.Content("~/Scripts/BizAdmin/Index.js")" type="text/javascript"></script>

<script type="text/javascript">
    urlItemApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Events", id = "-1" })';
    urlItemCreate = '@Url.Action("Create", "Events")';
    urlItemEdit = '@Url.Action("Edit", "Events", new { id = -1 })';

    confirmDelete = function (t) {
        return window.confirm("Are you sure you would like to delete Event - " + $(t).data('item-id') + "?");
    }

    var tblItems;
    $(document).ready(function () {
        var columnDefs = [
            { "data": "EventStartDate", "title": "Start Date", "render": RenderDate },
            { "data": "Title", "title": "Title", "class": "no_wrap" },
            { "data": "Description", "title": "Description", render: RenderPlainText, "orderable": false, defaultContent: ""},
            { "data": "Featured", "title": "Featured", "class": "text-center", render: RenderCheckbox },
            { "data": "Active", "title": "Active", "class": "text-center", render: RenderCheckbox },
            { "data": null, "defaultContent": "", "searchable": false, "orderable": false, "class": "details-control" },
            { "data": "EventID", "title": "", "searchable": false, "orderable": false, "render": RenderActionLinks, "visible": true }
        ];

        //Autogenerate targets and name members for the columnDefs object
        for (index = 0; index < columnDefs.length; index++) {
            columnDefs[index].targets = index;
            columnDefs[index].name = columnDefs[index].data;
        }

        $.fn.dataTable.ext.buttons.Add = {
            text: 'Add',
            action: function (e, dt, node, config) {
                window.location.href = urlItemCreate;
            }
        };

        tblItems = $('#events').dataTable({
            "ajax": PopulateTable,
            "columnDefs": columnDefs,
            "drawCallback": DrawCallback,
            "headerCallback": HeaderCallback,
            "aaSorting": [[1, 'desc']],
            "processing": true,
            "serverSide": true

        });
    });
</script>

@{
    ViewBag.Title = "Index";
}
<div class="col-12">
    <h2>Events</h2>

    <table id="events" class="table table-striped table-responsive" style="width:100%">
        <thead>
        </thead>
    </table>

</div>