﻿@using Microsoft.AspNet.Identity
@model Biznetix.BizCMS.Models.ManageUserViewModel

<p>You're logged in as <strong>@ViewBag.User</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "col-12", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control col-md-4" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control col-md-4" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-md-4" })
        </div>
    </div>
    <input type="hidden" name="user" value="@ViewBag.User" />
    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-primary" />
        </div>
    </div>
}
