﻿@model Biznetix.BizCMS.Models.ManageUserViewModel

<p class="text-info">
You're changing password for the user <strong>@ViewBag.User</strong>.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "col-12", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Create Local Login</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <input type="hidden" name="user" value="@ViewBag.User" />
    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <input type="submit" value="Set password" class="btn btn-primary" />
        </div>
    </div>
}
