﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="container frm-minhgt">
    <hgroup class="title">
        <h2>@ViewBag.Title.</h2>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
	
