﻿@model Biznetix.BizCMS.Models.LoginViewModel

@{
    Layout = "/Areas/BizAdmin/Views/_LayoutBizadmin.cshtml";
    ViewBag.Title = "Log in";
}
    <h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-12 loginfrmhgt">
            <section id="loginForm" style="text-align:center">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col-12", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6 center-block">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6 center-block">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-11">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-5 center-block">
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                    </div>
                    @*<p class="col-md-6" style="padding-right:55px;">
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>*@
                    //Enable this once you have account confirmation enabled for password reset functionality
                    <p class="col-md-6" >
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                }
            </section>
        </div>
        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new Biznetix.BizCMS.Models.ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}