﻿@model IEnumerable<Biznetix.BizCMS.Data.FST_Folder>

@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/bundles/css/dataTables")

<script src="@Url.Content("~/Scripts/BizAdmin/FolderManager/Index.js")" type="text/javascript"></script>

<script type="text/javascript">
    urlDocumentsApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "FolderManager", id = "-1" })';
    urlDocuments_Create = '@Url.Action("Create", "FolderManager")';
    urlDocuments_Edit = '@Url.Action("Edit", "FolderManager", new { id = -1 })';
</script>

@{
    ViewBag.Title = "Index";
}

<div style="background-color: white; padding:10px;" class="col-12">
    <table id="document" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FolderName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FolderDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>

                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div id="FolderView" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Folder Manager - View Files</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div style="clear:both"></div>
            <div class="popup-footer">
                <div class="row">
                    <div class="col-md-6">
                      &nbsp;
                    </div>
                    <div class="col-md-6">                        
                        <input id="btnClose" type="button" value="Close" class="btn btn-outline-secondary float-right" data-dismiss="modal" />
                    </div>                    
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
</script>