﻿@Styles.Render("~/bundles/css/uploadify")
@Styles.Render("~/bundles/css/imageresizeandcrop")
@Scripts.Render("~/bundles/uploadify")
@Scripts.Render("~/bundles/imageresizeandcrop")

@model IEnumerable<Biznetix.BizCMS.Data.SlideShowImage>

@{
    int inc = 0;
    List<Biznetix.BizCMS.Data.SlideShow> Slideshows = ViewBag.Slideshows;
    List<int> SlideshowCategories = ViewBag.SlideshowCategories;
}
<style type="text/css">
    .cke_contents {
        height: 120px !important;
    }
</style>
<div class="clearfix"></div>
<div class="container page-wrap" style="min-height:430px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12 page-top">
            <div class="col-md-6 title-header">
                <img src="~/Content/bizadmin/images/photos.png" /><h1>@ViewBag.SlideShowName</h1>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-secondary pull-right" onclick="deleteSS(@ViewBag.slideShowID)">Delete</button>
                <button class="btn btn-outline-secondary pull-right" style="margin-right:10px;" onclick="editSS(@ViewBag.slideShowID)">Edit</button>
                <button class="btn btn-outline-secondary pull-right" id="btnAddSlideshowImage" style="margin-right:10px;" onclick="addSSImage(@ViewBag.slideShowID)" >
                    <img src="~/Content/bizadmin/images/add-icn.png" /> Add Slideshow Image
                </button>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12 block-section" style ="background-color: white;padding-top: 10px">
            @foreach (var item in Model)
            {
                inc = inc + 1;
            <div class="col-md-3">
                <div class="col-md-12">
                    <a class="text-right clearfix" style="display:block;float:right" onclick="deleteSSImage(@item.SlideShowImageID)">
                        <img src="~/Images/cancel.png" style="width:20px;margin:1px 5px 0px 5px;" />
                    </a>&nbsp;
                    <a class="text-right clearfix" style="float:right;" onclick="editSSImage(@item.SlideShowImageID)">
                        <img src="~/Images/edit.png" style="width:auto;margin:0px 5px 0px 5px;" />
                    </a>
                    <div class="clearfix"></div>
                    <a class="fancybox thumbnail" rel="group" href="@item.Filename" title="@item.Title">
                        <img class="img-fluid" src="@item.Filename" alt="@item.Title" />
                    </a>
                    <strong>Title: @item.Title</strong><br />
                    <span><b>Caption:</b>@Html.Raw(item.Caption)</span>
                </div>
            </div>
                if (inc == 4)
                {
                    inc = 0;
            <div class="clearfix"></div>
                }
            }
        </div>
    </div>
</div>



@Html.Partial("_LayoutLargeModal")

@section scripts{
    <script type="text/javascript">
    var nextImageId = '@ViewBag.nextImageId';
    var SlideShowId = '@ViewBag.slideShowID';
    var SlideshowImgId = null;
    var jcrop_api;

    $(document).ready(function () {
        $(".reqspan").hide();
        $(".fancybox").fancybox({
            openEffect: 'elastic',
            nextEffect: 'fade',
            prevEffect: 'fade'
        });

        $('#btnAddSlideshowImage').click(function () {
            clearCtrls();
        });

        $('#chkAutoplay').change(function () {
            if ($('#chkAutoplay').is(":checked")) {
                $('#txtAutoPlaySecs').removeAttr('disabled');
            }
            else {
                $('#txtAutoPlaySecs').val('0');
                $('#txtAutoPlaySecs').attr('disabled', 'disabled');
            }
        });

    });
    $("#uploadFile").uploadifive({
        'swf': "/Scripts/Uploadify/uploadify.swf",
        'uploader': "/Bizadmin/SlideShow/UploadSlideshow?slideShowId=" + SlideShowId,
        'fileDataName': 'file',
        'fileDesc': 'Web Image Files (.JPG, .GIF, .PNG)',
        'fileExt': '*.jpg;*.gif;*.png',
        'buttonText': 'Upload Photos',
        'multi': true,
        'sizeLimit': '10MB',
        'simUploadLimit': 1,
        'cancelImg': '/Scripts/Uploadify/cancel.png',
        'auto': true,
        'height': 30,
        'queueID': 'fileQueue',
        'onError': function (a, b, c, d) {
            if (d.status == 404)
                alert("Could not find upload script. Use a path relative to: " + "<?= getcwd() ?>");
            else if (d.type === "HTTP")
                alert("error " + d.type + ": " + d.status);
        },
        'onUploadSuccess': function (file, data, response) {
            nextImageId = nextImageId + 1;
            var imageName = data.split("/")[3].split('.')[0] + nextImageId;
            //$("div.upload-section").append("<img src='" + data.split('.')[0] + "." + data.split('.')[1] + "' class='img-fluid' id='" + imageName + "' alt='Uploaded Image' />");
            $('#imgCrop').attr("src", data.split('.')[0] + "." + data.split('.')[1]);
            coords.path = $('#imgCrop').attr("src", data.split('.')[0] + "." + data.split('.')[1]);
            function getcroparea(c) {
                coords.x = c.x;
                coords.y = c.y,
                coords.w = c.w,
                coords.h = c.h,
                coords.path = c.orgObj.src,
                $("#lblImgWidth").text(coords.w.toFixed(2));
                $("#lblImgHeight").text(coords.h.toFixed(2));
            };
            $('#imgCrop').Jcrop({
                onSelect: getcroparea,
                trueSize: [450, 300]
                //maxSize: [450, 300],
                //boxWidth: 800, boxHeight:800
                //setSelect: [100, 100, 50, 50],
                //aspectRatio: 1//16 / 9
            }, function () {
                jcrop_api = this;
            });
            jcrop_api.setImage(data.split('.')[0] + "." + data.split('.')[1]);
        }
    });
    function editSS(id) {
        $('#editModal>.modal-dialog>.modal-content').empty();
        $('#editModal>.modal-dialog>.modal-content').load("/Bizadmin/SlideShow/EditSlideShow/@ViewBag.slideShowID");
        $('#editModal').modal('toggle');

    }

    function editSSImage(id) {
        SlideshowImgId = id;
        $('#editModal>.modal-dialog>.modal-content').empty();
        $('#editModal>.modal-dialog>.modal-content').load("/Bizadmin/SlideShow/EditSlideShowImage/" + id +"?rnd=" +Math.random());
        $('#editModal').modal('toggle');

    }

    function addSSImage(id) {
        SlideshowImgId = id;
        $('#editModal>.modal-dialog>.modal-content').empty();
        $('#editModal>.modal-dialog>.modal-content').load("/Bizadmin/SlideShow/AddSlideShowImage/" + id + "?rnd=" + Math.random());
        $('#editModal').modal('toggle');

    }
    

    function deleteSSImage(id) {
        var goDelete = window.confirm("Are you sure you want to delete the slideshow image?");

        if (!goDelete)
            return;
        $.ajax({
            url: "/SlideShow/DeleteSlideShowImage?imgid=" + id,
            type: 'POST',
            dataType: 'json',
            data: null
        }).success(function (data) {
            window.location.href = "/BizAdmin/SlideShow/DisplaySlideShow/" + '@ViewBag.slideShowID';
        }).fail(function () {
            console.log('Error in Operation');
        });
    };

    function deleteSS(id) {
        var goDelete = window.confirm("Are you sure you want to delete the slideshow?");

        if (!goDelete)
            return;
        else
            var confirm = window.confirm("If you delete this, all slideshow images will be deleted!");

        if (!confirm)
            return;

        $.ajax({
            url: "/SlideShow/DeleteSlideShow?slideShowId=" + id,
            type: 'POST',
            dataType: 'json',
            data: null
        }).success(function (data) {
            window.location.href = "/BizAdmin/SlideShow/Index";
        }).fail(function () {
            console.log('Error in Operation');
        });
    };




    function saveSlideShow() {
        $("div.clsreq").find("input").each(function () {
            if ($(this).val() == '' || $(this).val() == null) {
                $(".reqspan").show();
                return false;
            }
            else {
                $(".reqspan").hide();
                return true;
            }
        });
        if ($('#txtTitle').val() != "" && $('#txtHeight').val() != "" && $('#txtWidth').val() != "") {
            var dataToPost = {
                SlideShowId: SlideShowId,
                SlideShowName: $('#txtTitle').val(),
                Description: $('#txtDescription').val(),
                height: $('#txtHeight').val(),
                width: $('#txtWidth').val(),
                transitionType: $('#ddlTransitionType').val(),
                Autoplay: $('#chkAutoplay').is(":checked"),
                Transition_Playtime: $('#txtAutoPlaySecs').val(),
                Active: $('#chkActive').is(':checked')
            };

            $.ajax({
                url: '/SlideShow/SaveSlideShow',
                type: "POST",
                data: dataToPost,
                success: function (data) {
                    window.location.href = "/BizAdmin/SlideShow/Index";
                }
            });
        }
        else {
            errorMessage.innerHTML = 'Please Enter on required fields!..';
        }
    }

</script>

}
