﻿@model Biznetix.BizCMS.Data.SlideShow

@{
    Layout = "~/Areas/Bizadmin/Views/Shared/_ModalContent.cshtml";
}

  

<div class="modal-header">
    <h4 class="modal-title">Add / Edit Slideshow</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>

<div class="modal-body">
    @using ( Html.BeginForm("SaveSlideShow","SlideShow", FormMethod.Post, new { @id="EditSSForm", @class="" }))
    { 
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m=>m.SlideShowID)
        <div class="form-group">
            <div class="row  clsreq">
                <div class="col-md-6">
                    @Html.Label("Title", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.SlideShowName, new { @class = "form-control", id = "txtTitle" })
                </div>
                <div class="col-md-6">
                    @Html.Label("Description", new { @class = "control-label clear-fix" })
                    @Html.TextBoxFor(m => m.SlideShowDescription, new { @class = "form-control"})
                    
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row clsreq">
                <div class="col-md-6">
                    @Html.Label("Height", new { @class = "control-label" })
                </div>
                <div class="col-md-6">
                    @Html.Label("Width", new { @class = "control-label" })
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Height, new { @class = "form-control numbersOnly", id = "txtHeight", @maxlength = "3", @type = "number" })
                </div>
                <div class="col-md-1">
                    <span class="reqspan text-danger">*</span>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Width, new { @class = "form-control numbersOnly", id = "txtWidth", @maxlength = "3", @type = "number" })
                </div>
                <div class="col-md-1">
                    <span class="reqspan alert-danger">*</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("TransitionType", new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(m => m.TransitionType, new SelectListItem[] {
                    new SelectListItem() { Text = "--Select--", Value = "0",Selected=true },
                    new SelectListItem() { Text = "top", Value = "top" },
                    new SelectListItem() { Text = "bottom", Value = "bottom" },
                    new SelectListItem() { Text = "left", Value = "left" },
                    new SelectListItem() { Text = "right", Value = "right" },
                    new SelectListItem() { Text = "fade", Value = "fade" } }, new { @class = "form-control form-control-width-smltxtbox", @style = "display:inline;float: left;margin-right:15px;width:220px" })

                <div style="margin-right:15px;display: inline;">
                    @Html.CheckBoxFor(m => m.Autoplay, new { @id = "chkAutoplay" })
                    <span>AutoPlay</span>
                </div>
                <div style="margin-right:15px;display: inline;">
                    <span>Time :</span>
                    @Html.TextBoxFor( m => m.TransitionPlaytime, new { @class = "form-control numbersOnly", @style = "width:60px; display: inline;", @disabled = "disabled", @maxlength = "2", @type = "number" })
                    <span>(in Secs)</span>
                </div>
            </div>
        </div>
        <div style="text-align:right;display: inline">
            @Html.CheckBoxFor(m => m.Active, new { id = "chkActive" })
            @Html.LabelFor(m => m.Active, new { @class = "control-label" })
        </div>
        }

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" onclick="saveSlideShow()">Save changes</button>
</div>
<div class="col-md-12" style="text-align:center">
    <span id="errorMessage" class="alert-danger"></span>
</div>


<script>
    function saveSlideShow() {

        if ($('#txtTitle').val() != "" && $('#txtHeight').val() != "" && $('#txtWidth').val() != "") {

            



            $.ajax({
                url: '/SlideShow/SaveSlideShow',
                type: "POST",
                data: $("#EditSSForm").serialize(),
                success: function (data) {
                    window.location.reload(true);
                }
            });
        }
        else {
            errorMessage.innerHTML = 'Please Enter on required fields!..';
        }
    }

</script>