﻿@model Biznetix.BizCMS.Data.SlideShowImage

@{
    Layout = "~/Areas/Bizadmin/Views/Shared/_ModalContent.cshtml";
}


<style type="text/css">
    .cke_contents {
        height: 120px !important;
    }
</style>

<div class="modal-header">
    <h4 class="modal-title">Add/Edit Image</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">

    @using (Html.BeginForm("EditSlideShowImage", "SlideShow", FormMethod.Post, new { @id = "EditSlideShowImageForm" }))
    {
        @Html.HiddenFor(m => m.SlideShowID)
        @Html.HiddenFor(m => m.SlideShowImageID)
        <div class="form-group">
            <div class="col-md-2">@Html.Label("Title", new { @class = "control-label" })</div>
            <div class="col-md-9 slideshow-popup-margin"> @Html.TextBoxFor(m => m.Title, new { @class = "form-control clsreq", id = "txtImageTitle", @style = "max-width:100%!important" })</div>
            <div class="col-md-1">
                <span class="reqspan text-danger">*</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">@Html.Label("Caption", new { @class = "control-label" })</div>
            <div class="col-md-10 slideshow-popup-margin">@Html.TextAreaFor(m => m.Caption, new { @class = "form-control", id = "txtImageCaption" })</div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.Label("Link URL", new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.LinkURL, new { @class = "form-control", id = "txtLinkUrl", @placeholder = "/" })
            </div>
        </div>
        <div class="col-md-12  slideshow-popup-margin"><h5 style="color:#808080"> Note: Ideal size for upload slideshow image is <span id="uploadwidth">@ViewBag.SlideShowWidth</span> * <span id="uploadheight">@ViewBag.SlideShowHeight</span> in resolution </h5></div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="scroll" style="overflow-y:scroll;height:@ViewBag.SlideShowHeight px;">
                <div class="col-md-12 upload-section" style="line-height:0px">
                    <div id="views"><canvas id="canvas"></canvas></div>
                    
                </div>
            </div>

        </div>
    
    <div class="col-md-4" style="margin-bottom: 10px;">
        <span>Crop Image Width: </span>@Html.TextBoxFor(m => m.Width, new { @class = "form-control-static", id = "ImgWidth" }) 
    </div>
    <div class="col-md-4">
        <span>Crop Image Height: </span>@Html.TextBoxFor(m => m.Height, new { @class = "form-control-static", id = "ImgHeight" })
    </div>
    <div class="clearfix"></div>
    }
    <div class="popup-footer">
        <div class="row">
            <div class="col-md-6">
                <label class="btn btn-outline-secondary btn-file">Upload Photo
                    <input type="file" id="uploadFile" style="display:none">
                </label>
            </div>
            <div class="col-md-6  text-right">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" onclick="CancelSlideshow()">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="applyCrop()">Crop Image</button>
                <button type="button" class="btn btn-primary" onclick="saveSlideshowImage()">Save Slideshow Image</button>
            </div>
            <div class="col-md-12" style="text-align:center">
                <span id="errorMessage" class="alert-danger"></span>
            </div>
        </div>
    </div>
   


</div>



    <script type="text/javascript">
    var nextImageId = '@ViewBag.nextImageId';
    var SlideShowId = '@ViewBag.slideShowID';
    var SlideshowImgId = null;
    var crop_max_width = @ViewBag.SlideShowWidth;
    var crop_max_height = @ViewBag.SlideShowHeight;
    var jcrop_api;
    var canvas;
    var context;
    var image;

    var prefsize;
    var display_width;
    var display_height;
    var image_scale;

    function loadImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            canvas = null;
            reader.onload = function (e) {
                image = new Image();
                image.onload = scaleToFit;
                image.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function dataURLtoBlob(dataURL) {
        var BASE64_MARKER = ';base64,';
        if (dataURL.indexOf(BASE64_MARKER) == -1) {
            var parts = dataURL.split(',');
            var contentType = parts[0].split(':')[1];
            var raw = decodeURIComponent(parts[1]);

            return new Blob([raw], {
                type: contentType
            });
        }
        var parts = dataURL.split(BASE64_MARKER);
        var contentType = parts[0].split(':')[1];
        var raw = window.atob(parts[1]);
        var rawLength = raw.length;
        var uInt8Array = new Uint8Array(rawLength);
        for (var i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
        }

        return new Blob([uInt8Array], {
            type: contentType
        });
    }

    function validateImage() {
        //alert('validate image')
        if (canvas != null) {
            image = new Image();
            image.onload = restartJcrop;
            image.src = canvas.toDataURL('image/png');
        } else restartJcrop();
    }


    function clearcanvas() {
        prefsize = {
            x: 0,
            y: 0,
            w: canvas.width,
            h: canvas.height,
        };
        $("#ImgWidth").val(canvas.width);
        $("#ImgHeight").val(canvas.height);

    }

    function selectcanvas(coords) {
        prefsize = {
            x: Math.round(coords.x),
            y: Math.round(coords.y),
            w: Math.round(coords.w),
            h: Math.round(coords.h)
        };
        $("#ImgWidth").val(coords.w.toFixed(0));
        $("#ImgHeight").val(coords.h.toFixed(0));


    }

    function applyCrop() {


        display_width = crop_max_width;
        display_height = crop_max_height;

        //    image_scale= (crop_max_width - image.width )>0 ?  crop_max_width/image.width : image.width/crop_max_width ;
        //    image_scale= (crop_max_height - image.height )<0 ? crop_max_height/image.height :  image.height/crop_max_height ;

        //alert(prefsize.w +'x'+prefsize.h);

        //alert(image.width +'x'+image.height);

        canvas.width = prefsize.w;
        canvas.height = prefsize.h;
        context.drawImage(image, prefsize.x, prefsize.y, prefsize.w, prefsize.h, 0, 0, canvas.width, canvas.height);
        image = new Image();
        image.onload = scaleToFit;
        image.src = canvas.toDataURL('image/png');
        
    }

    function scaleToFit() {
        var displayAR = crop_max_width/crop_max_height;
        var imageAR = image.width/image.height;
        //alert('scaling to fit ' + image.width + 'x' + image.height);
        var image_scale;
        // alert('viewport ar: '+displayAR +'\nimage ar: '+imageAR);
        if(imageAR==displayAR) {
            display_width = crop_max_width;
            display_height = crop_max_height;
        }
        else if (imageAR > displayAR){
            display_width = crop_max_width;
            image_scale=  crop_max_width/image.width ;
            display_height = image.height*image_scale;
      //         alert('image bound by width\nfound image ' + image.width + 'x' + image.height +'\n scaling by ' + image_scale +'\nto reach target of ' + display_width + 'x' + display_height );

        }
        else {
            display_height = crop_max_height;
            image_scale=  crop_max_height/image.height  ;
            display_width = image.width*image_scale;
      //        alert('image bound by height\nfound image ' + image.width + 'x' + image.height +'\n scaling by ' + image_scale +'\nto reach target of ' + display_width + 'x' + display_height );
        }

        canvas = $("#canvas")[0];
        context = canvas.getContext("2d");
        canvas.width = display_width;
        canvas.height = display_height;
        context.drawImage(image, 0, 0,display_width, display_height);
        validateImage();
    }

    function applyScale(scale) {
        if (scale == 1) return;
        canvas.width = canvas.width * scale;
        canvas.height = canvas.height * scale;
        context.drawImage(image, 0, 0, canvas.width, canvas.height);
        validateImage();
    }

    function applyRotate() {
        canvas.width = image.height;
        canvas.height = image.width;
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.translate(image.height / 2, image.width / 2);
        context.rotate(Math.PI / 2);
        context.drawImage(image, -image.width / 2, -image.height / 2);
        validateImage();
    }

    function applyHflip() {
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.translate(image.width, 0);
        context.scale(-1, 1);
        context.drawImage(image, 0, 0);
        validateImage();
    }

    function applyVflip() {
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.translate(0, image.height);
        context.scale(1, -1);
        context.drawImage(image, 0, 0);
        validateImage();
    }

    $("#cropbutton").click(function (e) {
        applyCrop();
    });
    $("#scalebutton").click(function (e) {
        var scale = prompt("Scale Factor:", "1");
        applyScale(scale);
    });
    $("#rotatebutton").click(function (e) {
        applyRotate();
    });
    $("#hflipbutton").click(function (e) {
        applyHflip();
    });
    $("#vflipbutton").click(function (e) {
        applyVflip();
    });

    function restartJcrop() {
        if (jcrop_api != null) {
            jcrop_api.destroy();
        }
        //alert('strarting JCrop');
        $("#views").empty();
        $("#views").append("<canvas id=\"canvas\">");
        
        canvas = $("#canvas")[0];
        context = canvas.getContext("2d");
        canvas.width = display_width;
        canvas.height = display_height;
        context.drawImage(image, 0, 0,display_width, display_height);
        $("#canvas").Jcrop({
            onSelect: selectcanvas,
            onRelease: clearcanvas,
            aspectRatio: @ViewBag.SlideShowWidth/@ViewBag.SlideShowHeight
            }, function () {
                jcrop_api = this;
            });
        clearcanvas();
    }

    function loadBase() {
        image = null;
        image = new Image();
        image.onload = scaleToFit;
        image.src = '@Model.Filename';
    }

    @{
         if (Model.SlideShowImageID > 0)
        {

            <text>loadBase();</text>
        }
    }

    $("#uploadFile").change(function () {
        loadImage(this);
    });

    $(document).ready(function () {

        $(".reqspan").hide();
        $(".fancybox").fancybox({
            openEffect: 'elastic',
            nextEffect: 'fade',
            prevEffect: 'fade'
        });

        CKEDITOR.replace("txtImageCaption",
        {
            customConfig: "custom/ckeditor_config.js"
            //    toolbarGroups:
            //[
            //  { name: 'links' },
            //  { name: 'document', groups: ['mode', 'document', 'doctools'] },
            //  { name: 'basicstyles', groups: ['basicstyles', 'cleanup'] },
            //  { name: 'styles' }
            //]
        });

    });



    $("#uploadFile1").uploadifive({
        'swf': "/Scripts/Uploadify/uploadify.swf",
        'uploader': "/Bizadmin/SlideShow/UploadSlideshow?slideShowId=" + SlideShowId,
        'fileDataName': 'file',
        'fileDesc': 'Web Image Files (.JPG, .GIF, .PNG)',
        'fileExt': '*.jpg;*.gif;*.png',
        'buttonText': 'Upload Photos',
        'multi': true,
        'sizeLimit': '10MB',
        'simUploadLimit': 1,
        'cancelImg': '/Scripts/Uploadify/cancel.png',
        'auto': true,
        'height': 30,
        'queueID': 'fileQueue',
        'onError': function (a, b, c, d) {
            if (d.status == 404)
                alert("Could not find upload script. Use a path relative to: " + "<?= getcwd() ?>");
            else if (d.type === "HTTP")
                alert("error " + d.type + ": " + d.status);
        },
        'onUploadSuccess': function (file, data, response) {
            nextImageId = nextImageId + 1;
            var imageName = data.split("/")[3].split('.')[0] + nextImageId;
            //$("div.upload-section").append("<img src='" + data.split('.')[0] + "." + data.split('.')[1] + "' class='img-fluid' id='" + imageName + "' alt='Uploaded Image' />");
            $('#imgCrop').attr("src", data.split('.')[0] + "." + data.split('.')[1]);
            coords.path = $('#imgCrop').attr("src", data.split('.')[0] + "." + data.split('.')[1]);
            function getcroparea(c) {
                coords.x = c.x;
                coords.y = c.y;
                coords.w = c.w;
                coords.h = c.h;
                coords.path = c.orgObj.src;
                $("#lblImgWidth").text(coords.w.toFixed(2));
                $("#lblImgHeight").text(coords.h.toFixed(2));
            };
            $('#imgCrop').Jcrop({
                onSelect: getcroparea,
                //trueSize: [450, 300]
                //maxSize: [450, 300],
                boxWidth: 800, boxHeight: 400
                //setSelect: [100, 100, 50, 50],
                //aspectRatio: 1//16 / 9
            }, function () {
                jcrop_api = this;
            });
            jcrop_api.setImage(data.split('.')[0] + "." + data.split('.')[1]);
        }
    });





    function saveSlideshowImage() {
        $("div.clsreq").find("input").each(function () {
            if ($(this).val() == '' || $(this).val() == null) {
                $(".reqspan").show();
                $('#errorMessage').text("Please enter the required fields");
                return false;
            }
            else {
                $(".reqspan").hide();
                return true;
            }
            var validateURL = /(http(s)?:\\)?([\w-]+\.)+[\w-]+[.com|.in|.org]+(\[\?%&=]*)?/
            if (validateURL.test($('#txtLinkUrl').val())) {
                return true;
            }
            else {
                $('#errorMessage').text("Please enter valid URL");
                return false;
            }
        });

        //applyCrop();

        var formData = new FormData($('#EditSlideShowImageForm')[0]);
        var imageblob = dataURLtoBlob(canvas.toDataURL('image/png'));
        formData.append("image", imageblob);
        $.ajax({
            dataType: "json",
            type: 'POST',
            url: '/SlideShow/saveSlideshowImage',
            data: formData,
            enctype: 'multipart/form-data',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.HasError == false) {
                    alert('saved');
                    //window.location.href = "/Bizadmin/SlideShow/DisplaySlideShow/" + data.slide.SlideShowID;
                } else {
                    errorMessage.innerHTML = data.Message;
                }
                //clearCtrls();
            },
            failure: function (response) {
                alert("save failed");
            }
        });

    }

    function CancelSlideshow() {
        var path = null;
        if ($('#imgCrop')[0].src != null) {
            if (SlideShowId == null || SlideShowId != 0) {
                path = null;
            }
            else {
                path = $('#imgCrop')[0].src;
            }
            $.ajax({
                url: "/SlideShow/CancelUploadedSlideShowImage?uploadedPath=" + path + "&slideShowName=" + '@ViewBag.SlideShowName',
                type: 'POST',
                dataType: 'json',
                data: null
            }).success(function (data) {
                if (data.HasError == false) {
                    window.location.href = "/Bizadmin/SlideShow/DisplaySlideShow?slideShowName=" + data.SlideShowName;
                } else {
                    errorMessage.innerHTML = data.Message;
                }
            });
        }
    }


</script>




