﻿@{
    List<Biznetix.BizCMS.Data.SlideShow> Slideshows = ViewBag.Slideshows;
    List<int> SlideshowCategories = ViewBag.SlideshowCategories;
}
@Styles.Render("~/bundles/css/uploadify")
@Styles.Render("~/bundles/css/imageresizeandcrop")
@Scripts.Render("~/bundles/uploadify")
@Scripts.Render("~/bundles/imageresizeandcrop")
<style type="text/css">
    .cke_contents {
        height: 120px !important;
    }
</style>
<div class="clearfix"></div>
<div class="container page-wrap" style="min-height:430px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12 page-top">
            <div class="col-md-6 title-header">
                <img src="~/Content/bizadmin/images/photos.png" /><h1>SlideShows</h1>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-secondary pull-right" id="btnCreateSlideshow" data-toggle="modal" onclick="$('.modal-dialog.modal-lg > .modal-content').load('@Url.Action("CreateSlideShow", "SlideShow", null)')" style="margin-right:10px;" data-target=".bs-example-modal-lg">
                    <img src="~/Content/bizadmin/images/add-icn.png" /> Create Slideshows
                </button>
            </div>
            <div class="col-md-3">
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-12">
                    @*<ul>
                            <li><a href="#">Slideshow Categories</a></li>
                        </ul>*@
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-12" style="background-color: white;padding-top: 10px" @*block-section*@>
            @for (int i = 0; i < SlideshowCategories.Count; i++)
            {
                var objSlideshow = Slideshows.Where(x => x.SlideShowID == SlideshowCategories[i]).FirstOrDefault();
                <div class="col-md-3">
                    <div class="col-md-12 blocks-new">
                        <a href="@Url.Action("DisplaySlideShow", "SlideShow", new { @id= objSlideshow.SlideShowID } )" class="block_aligncenter">
                            @if (@objSlideshow.PrimaryImageUrl == null)
                            {
                                <img src="~/Images/addImage_128.png" style="text-align:center;width:150px;height:150px;" title="Add Slideshow Image" alt="Add Slideshow Image" />
                                <strong class="block_alignleft">@objSlideshow.SlideShowName</strong>
                                <span class="block_alignleft">Caption: 0 Photos</span>
                            }
                            else
                            {
                                <img src="@objSlideshow.PrimaryImageUrl" class="img-fluid" alt="@objSlideshow.Title" />
                                <strong class="block_alignleft">@objSlideshow.SlideShowName</strong>
                                <span class="block_alignleft">Caption: @Slideshows.Where(x => x.SlideShowID == SlideshowCategories[i]).Count() Photos</span>
                            }
                        </a>
                        <button class="btn btn-outline-secondary" id="btnEditSlideshow" onclick="editSS(@objSlideshow.SlideShowID)" style="margin-right:10px;">
                            Edit Slideshow
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

    @* popup to create category and upload image *@
@Html.Partial("_LayoutLargeModal")



    @section scripts {
        <script type="text/javascript">
        $(document).ready(function () {
            $(".reqspan").hide();

            $('#btnCreateSlideshow').click(function () {
                clearControls();
            });

            $('.numbersOnly').keyup(function () {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            });

            $('#chkAutoplay').change(function () {
                if ($('#chkAutoplay').is(":checked")) {
                    $('#txtAutoPlaySecs').removeAttr('disabled');
                }
                else {
                    $('#txtAutoPlaySecs').attr('disabled', 'disabled');
                }
            });
        });

        function saveSlideShow() {
            $("div.clsreq").find("input").each(function () {
                if ($(this).val() == '' || $(this).val() == null) {
                    $(".reqspan").show();
                    return false;
                }
                else {
                    $(".reqspan").hide();
                    return true;
                }
            });
            if ($('#txtTitle').val() != "" && $('#txtHeight').val() != "" && $('#txtWidth').val() != "") {
                var dataToPost = {
                    SlideShowId: 0,
                    SlideShowName: $('#txtTitle').val(),
                    Description: $('#txtDescription').val(),
                    height: $('#txtHeight').val(),
                    width: $('#txtWidth').val(),
                    transitionType: $('#ddlTransitionType').val(),
                    Autoplay: $('#chkAutoplay').is(":checked"),
                    Transition_Playtime: $('#txtAutoPlaySecs').val(),
                    Active: $('#chkActive').is(':checked')
                };

                $.ajax({
                    url: '/SlideShow/SaveSlideShow',
                    type: "POST",
                    data: dataToPost,
                    success: function (data) {
                        window.location.href = "/BizAdmin/SlideShow/DisplaySlideShow?slideShowName=" + data.SlideShowName;
                    }
                });
            }
            else {
                errorMessage.innerHTML = 'Please Enter on required fields!..';
            }
        }
        function clearControls() {
            $('#txtTitle').val('');
            $('#txtDescription').val('');
            $('#txtHeight').val('');
            $('#txtWidth').val('');
            $('#ddlTransitionType').val('');
            //$('#chkAutoplay').is(":checked") = false;
            $('#txtAutoPlaySecs').val('');
            $(".reqspan").hide();
            $("#errorMessage").html('');
        }

        function editSS( id) {
            $('#editModal>.modal-dialog>.modal-content').load("@Url.Action("EditSlideShow","SlideShow")/" + id);
            $('#editModal').modal('toggle');

        }

        </script>
        

    }
