﻿@model IEnumerable<Biznetix.BizCMS.Data.NewsItem>

@Styles.Render("~/bundles/css/dataTables")
@Scripts.Render("~/bundles/dataTables")

<script src="@Url.Content("~/Scripts/BizAdmin/Index.js")" type="text/javascript"></script>

<script type="text/javascript">
    urlItemApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "News", id = "-1" })';
    urlItemCreate = '@Url.Action("Create", "News")';
    urlItemEdit = '@Url.Action("Edit", "News", new { id = -1 })';

    confirmDelete = function (t) {
        return window.confirm("Are you sure you would like to delete News Item - " + $(t).data('item-id') + "?");
    }

    var tblItems;
    $(document).ready(function () {
        var columnDefs = [
            { "data": "PostedDate", "title": "Posted Date", "render": RenderDate },
            { "data": "Title", "title": "Title", "class": "no_wrap" },
            { "data": "ExpiresDate", "title": "Expires Date", "render": RenderDate },
            { "data": "Active", "title": "Active", "class": "text-center", render: RenderCheckbox },
            { "data": "Home", "title": "Home", "class": "text-center", render: RenderCheckbox },
            { "data": "Archive", "title": "Archive", "class": "text-center", render: RenderCheckbox },
            { "data": null, "defaultContent": "", "searchable": false, "orderable": false, "class": "details-control" },
            { "data": "NewsItem_ID", "title": "", "searchable": false, "orderable": false, render: RenderActionLinks, "visible": true },
        ];

        //Autogenerate targets and name members for the columnDefs object
        for (index = 0; index < columnDefs.length; index++) {
            columnDefs[index].targets = index;
            columnDefs[index].name = columnDefs[index].data;
        }

        tblItems = $('#news').dataTable({
            "ajax": PopulateTable,
            "columnDefs": columnDefs,
            "drawCallback": DrawCallback,
            "headerCallback": HeaderCallback,
            "order": [2, 'desc'],
            "processing": true,
            "serverSide": true
        });

    });

</script>

    <div class="col">
        <h2>News</h2>
        <table id="news" class="table">
            <thead>
            </thead>
        </table>
    </div>
