﻿@model Biznetix.BizCMS.Data.Event
@using Biznetix.BizCMS;
@using Biznetix.Common.StringExtensions;

@{
    ViewBag.Title = "Event Detail";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<h2>@Model.Title</h2>
<div>
    <dl class="dl-horizontal">

        <dt>
            When
        </dt>

        @if (Model.EventStartDate == Model.EventEndDate || !Model.EventEndDate.HasValue)
        {
            <dd>
                @Html.ValueFor(model => model.EventStartDate, "{0:d}")
            </dd>
        }
        else if (Model.EventStartDate.Value.Date == Model.EventEndDate.Value.Date)
        {
            <dd>
                @Html.ValueFor(model => model.EventStartDate, "{0:d}")   @Html.ValueFor(model => model.EventStartDate, "{0:h:mm tt}") - @Html.ValueFor(model => model.EventEndDate, "{0:h:mm tt}")
            </dd>
        }
        else
        {
            <dd>
                @Html.ValueFor(model => model.EventStartDate, "{0:d}")
                @Html.ValueFor(model => model.EventStartDate, "{0:h:mm tt}")
            </dd>
            <dt>
                Ending
            </dt>

            <dd>
                @Html.ValueFor(model => model.EventEndDate, "{0:d}")
                @Html.ValueFor(model => model.EventEndDate, "{0:h:mm tt}")
            </dd>

        }

        @if (!String.IsNullOrEmpty(Model.Description))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.Raw(Model.Description)
            </dd>

        }

        @if (!String.IsNullOrEmpty(Model.Location))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.Raw(Model.Location) <!-- <a href='@String.Format("https://maps.google.com?q={0}",Model.Location)' target="_new">Map It</a>  -->
            </dd>
        }

    </dl>
    @if (!String.IsNullOrEmpty(Model.EventCoordinatorEmail))
    {
        <span class="eventContact">For more information, please contact: @Model.EventCoordinatorEmail</span>
    }

    @if (Model.Recurring)
    {
        <span class="eventRecurring">This event occurs every @Model.RecurringDay.</span>
    }
</div>

@if (GlobalSettings.config_settings.ContainsKey("EnableEvents") && GlobalSettings.config_settings.ContainsKey("AllowEventRegistration") && GlobalSettings.config_settings["EnableEvents"].ToBoolean() && GlobalSettings.config_settings["AllowEventRegistration"].ToBoolean() && Model.RequiresRegistration)
{
    <a href="~/Events/Register/@Model.EventID">Register</a>
}
<p>
    @if (User.IsInRole("Admin"))
    {
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.EventID })*@
        <a href="~/BizAdmin/Events/Edit?id=@Model.EventID">Edit</a>
    }
    <a href="~/Events/Index">Back to list</a>
</p>
