﻿@model List<Biznetix.BizCMS.Data.Event>
@{
    ViewBag.Title = "Event Detail";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<link href='~/Content/fullcalendar.min.css' rel='stylesheet' />
<link href='~/Content/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='~/Scripts/moment.js'></script>
<script src='~/Scripts/fullcalendar.min.js'></script>

<h2>Event Calendar</h2>
<div class="row" style="margin-bottom:25px;">
    <div class="col-md-8">
        <div class="calendar" style="position: relative; z-index: 0;">
            <div id="bizcalendar" style="background-color: white"></div>
            @*<div class="float-right"><a class="view-all" href="/Events/Index"> View All</a></div>*@
        </div>
    </div>
    <div class="col-md-4">
        @if (ViewBag.SubmissionsEnabled && Request.IsAuthenticated)
        { // Only show events button to registered users
            <a href="/Events/SubmitNew" class="btn btn-primary col-12">Submit a new event</a>
            <hr />
        }
        @{ List<Biznetix.BizCMS.Data.Event> featuredEvents = Model.OrderBy(x => x.EventStartDate).Where(y => y.EventStartDate > DateTime.Now).Take(4).ToList(); }
        @foreach (var item in featuredEvents)
        {
            <ul class="news-list">
                <li>
                    <a href="/Events/EventDetail/@item.EventID">
                        <div class="news-title"><p>@Html.Raw(item.Title)</p></div>
                        <div class="date"><p>
    @if (item.EventStartDate == item.EventEndDate || !item.EventEndDate.HasValue)
    {
        @String.Format("{0:d}", item.EventStartDate)
    }
    else if (item.EventStartDate.Value.Date == item.EventEndDate.Value.Date)
    {
        @String.Format("{0:d}", item.EventStartDate) <span> </span> @String.Format("{0:h:mm tt}", item.EventStartDate) <span>-</span> @String.Format("{0:h:mm tt}", item.EventEndDate)
    }
    else
    {
        @String.Format("{0:d}", item.EventStartDate)
        @String.Format("{0:h:mm tt}", item.EventStartDate)
        < span > Ending </ span >
        @String.Format("{0:d}", item.EventEndDate)
        @String.Format("{0:h:mm tt}", item.EventEndDate)
    }
</p></div>
                        
                    </a>
                </li>
            </ul>
        }

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#bizcalendar').fullCalendar({
            eventRender: function (event, element) {
                $(element).find(".fc-time").remove();
            },
            editable: false,
            height: 'auto',
            width: 291,
            events: {
                url: '/Events/Lists',
                color: 'yellow',   // a non-ajax option
                textColor: 'black',
                allDay: false
            },
            //eventMouseover: function (calEvent, jsEvent) {
            //    //debugger;
            //    xOffset = 20;
            //    yOffset = 20;
            //    var tooltip = "<div id='caltooltip-" + calEvent.EventID + "' class='caltooltip'>" + calEvent.description + "</div>"
            //    $("body").append(tooltip);
            //    $("#caltooltip-" + calEvent.EventID)
            //    .css('z-index', 91000)
            //    .css('position', 'absolute')
            //    .css("top", (jsEvent.clientY - yOffset) + "px")
            //    .css("left", (jsEvent.clientX + xOffset) + "px")
            //        .fadeIn("fast");
            //},
            //eventMouseout: function (calEvent, jsEvent) {
            //    $("#caltooltip-" + calEvent.EventID).fadeOut("slow", function () {
            //        $(this).remove();
            //    });
            //},
            eventClick: function (calEvent, jsEvent, view) {
                window.location.href = '/Events/EventDetail/' + calEvent.EventID;
            }
        });
    });

</script>

<style>
    .caltooltip {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        max-width: 350px;
        box-shadow: 0px 0px 5px #0026ff;
    }
</style>
