﻿@model Biznetix.BizCMS.Data.Event
@{
    ViewBag.Title = "Submit New Event";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}





<style type="text/css">
    input, select, textarea {
        max-width: none;
    }

    .cke_contents {
        height: 120px !important;
    }
</style>

<script type="text/javascript" src="@Url.Content("~/Content/jquery.timepicker/js/jquery.timepicker.js")"></script>
<link href="@Url.Content("~/Content/jquery.timepicker/css/jquery.timepicker.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-sm-12">
        <h2>Submit New Event</h2>
        @{
            Html.ValidationSummary();
            Html.HiddenFor(model => model.EventID);

            Html.HiddenFor(model => model.CategoryID);

            Html.HiddenFor(model => model.Cost_1);
            Html.HiddenFor(model => model.Cost_2);
            Html.HiddenFor(model => model.Cost_3);
            Html.HiddenFor(model => model.Cost_4);
            Html.HiddenFor(model => model.Description_Cost_1);
            Html.HiddenFor(model => model.Description_Cost_2);
            Html.HiddenFor(model => model.Description_Cost_3);
            Html.HiddenFor(model => model.Description_Cost_4);
            Html.HiddenFor(model => model.EventCoordinatorEmail);
            Html.HiddenFor(model => model.Recurring);
            Html.HiddenFor(model => model.RecurringDay);
            Html.HiddenFor(model => model.RequiresRegistration);
            Html.HiddenFor(model => model.Featured);
            Html.HiddenFor(model => model.Active); // TODO: Remember to set this to true
        }
        <input type="hidden" value="@ViewBag.EventStartTime" id="starttime" />
        <input type="hidden" value="@ViewBag.EventEndTime" id="endtime" />
        <div class="form-group row" style="display:none">
            @Html.LabelFor(model => model.EventID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.EventID)
                @Html.HiddenFor(model => model.EventID)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control form-control-width-txtbox" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = " form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.EventStartDate, "Start Date/Time", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.EventStartDate, "{0:yyyy/MM/dd}", new { @class = "form-control form-control-width-smltxtbox " })
                @Html.ValidationMessageFor(model => model.EventStartDate)
            </div>
            <div class="col-md-5">
                <div class="bootstrap-timepicker">
                    @Html.TextBoxFor(model => model.EventStartTimeValue, "{0:hh\\:mm}", new { @class = "form-control input-small" })
                    @Html.ValidationMessageFor(model => model.EventStartTimeValue)
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.EventEndDate, "End Date/Time", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.EventEndDate, "{0:yyyy/MM/dd}", new { @class = "form-control form-control-width-smltxtbox " })
                @Html.ValidationMessageFor(model => model.EventEndDate)
            </div>
            <div class="col-md-5">
                <div class="bootstrap-timepicker">
                    @Html.TextBoxFor(model => model.EventEndTimeValue, new { @class = "form-control input-small" })
                    @Html.ValidationMessageFor(model => model.EventEndTimeValue)
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Submit for approval" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#EventStartDate").datepicker();
            $("#EventEndDate").datepicker();
        });



        $(function () {
            $("#EventStartTimeValue").timepicker();
            $("#EventStartTime").timepicker('setTime', $("#starttime").val());

            $("#EventEndTimeValue").timepicker();
            $("#EventEndTime").timepicker('setTime', $("#endtime").val());
        });
    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>