﻿<!DOCTYPE HTML>
<html>
<head>
    @{
        var isAuth = Convert.ToBoolean(ViewData["userAuthorized"]);

    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/css/bizadmin")
    @RenderSection("PageStyles", false)
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryaddins")

    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/font/font-face.css" rel="stylesheet" />

</head>

<body>
    <div class="container">

        <header>
            <div class="row top-section vcenter">
                <div class="col-3">
                    <div class="logo"><a title="Logo" href="/Home/Index"><img class="img-fluid" src="~/ContentPages/Images/logo.png" /></a></div>
                </div>
                <div class="col-9">
                    <div class="float-right">
                        @Html.Partial("_LogOff")
                        <a title="Logo" href="/Bizadmin/BizAdmin/Index"><img src="~/Content/BizAdmin/Images/bizadmin.jpg" /></a>
                    </div>
                </div>
            </div>
            @if ((string)ViewContext.RouteData.DataTokens["area"] == "BizAdmin")
            {
                @Html.Partial("_AdminNav");
            }
        </header>
        <div class="row" id="content-area">
            <div class="col-12" style="min-height:430px;">
                @RenderBody()
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="col-12 text-center copyright"> <p> Copyright © 2019 - All Rights Reserved </p> </div>
            </div>
        </footer>

    </div>
    <script>
        window.CKEDITOR_BASEPATH = '/include/editor/';
    </script>

    @Scripts.Render("~/bundles/ckeditor")
    <script>
        window.CKEDITOR.config.customConfig = @if (User.IsInRole("TrustedEditor")) // if user is cleared for high-level editing
            {
                <text>CKEDITOR_BASEPATH + 'custom/ckeditor_admin_config.js'</text>
            } else
            {
                <text>CKEDITOR_BASEPATH + 'custom/ckeditor_simple_admin_config.js'</text>
            }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jCarouselLite")
    @Scripts.Render("~/bundles/bizadmin/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
