﻿<!DOCTYPE HTML>
<html>
<head>
    @{
        var isAuth = Convert.ToBoolean(ViewData["userAuthorized"]);

    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    @Scripts.Render("~/bundles/base")    
    @Styles.Render("~/bundles/css/bizadmin")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fonts/font-face.css" rel="stylesheet" />
</head>

<body>
    <div class="container">

        <header class="add-position">
            <div class="row">
                <div class="top-section">
                    <div class="col-12">
                        <div class="logo"><a title="Logo" href="/Home/Index"> Home </a></div>
                    </div>

                </div>
                <div class="col-12">
                    <nav>
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Main Menu</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="main-menu">
                            <ul class="nav navbar-nav">
                                <li><a href="/BizAdmin/Pages/" class="nav">Edit Pages</a></li>
                                <li><a href="/BizAdmin/SlideShow/" class="nav">Slide Shows</a></li>
                                <li><a href="/BizAdmin/Events/"> Events</a></li>
                                <li><a href="/BizAdmin/News/">News  </a></li>
                                <li><a href="/BizAdmin/Gallery/">Gallery  </a></li>
                                @if (User.IsInRole("Admin") || isAuth)
                            {
                            <li><a href="/BizAdmin/Employment/">Employment </a></li>
                            }

                                <li><a href="/BizAdmin/DocumentManager/">Documents</a></li>
                                <li><a href="/BizAdmin/Contact/">View Contacts</a></li>
                                <li><a href="/BizAdmin/DrivingDirection/">Company Locations</a></li>
                                @if(User.IsInRole("Admin"))
                            {
                            <li><a href="/BizAdmin/UserManager/">Users</a></li>
                            }
                                <li><a href="/BizAdmin/BizAdmin/ConfigurationSettings/">Settings</a></li>
                                <li><a href="/Home/Index" target="_blank">See the site</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
            @RenderSection("slideshow", required: false)
        </header>
        @RenderBody()
        <footer style="background:none;">
            <div class="dark-blue">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center copyright"> <p> Copyright © 2019 - All Rights Reserved </p> </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
<script>
    window.CKEDITOR_BASEPATH = '/include/editor/';
</script>

@Scripts.Render("~/bundles/ckeditor")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jCarouselLite")

@RenderSection("scripts", required: false)
</body>
</html>
