﻿@model Biznetix.BizCMS.Models.RegisterViewModel
    <div class="col-12">
        <h2>Create</h2>
        @{
            ViewBag.Title = "Create Users";
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary()
                <div class="form-group row">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>               
                <div class="form-group row">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Roles", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.CheckBox("AdminRole", (bool)ViewBag.AdminRole, new { id = "chkAdminRole" })
                        @Html.Label("lblAdminRole", "Admin", new { @class = "control-label", id = "lblAdminRole" })
                    </div>
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <div class="col-md-10 offset-md-2">
                            @Html.CheckBox("SuperAdminRole", (bool)ViewBag.SuperAdminRole, new { id = "chkSuperAdminRole" })
                            @Html.Label("lblSuperAdminRole", "Super Admin", new { @class = "control-label", id = "lblSuperAdminRole" })
                        </div>
                    }
                    <div class="col-md-10 offset-md-2">
                        @Html.CheckBox("TrustedRole", (bool)ViewBag.TrustedRole, new { id = "chkTrustedRole" })
                        @Html.Label("lblTrustedRole", "Trusted Editor", new { @class = "control-label", id = "lblTrustedRole" })
                    </div>
                </div>
                @*<div class="form-group row" id="divDepartment">
                    <div class="col-md-2">
                        @Html.Label("Department", new { @class = "control-label col-md-2", id = "lblmemFeatures" })
                    </div>
                    <div class="col-md-8">
                        @foreach (var item in (List<Biznetix.BizCMS.Data.Department>)ViewBag.Deparments)
                        {
                            <div class="col-md-3 departments" style="float:left">
                                @Html.CheckBox(item.DepartmentName, new { id = "chkDepartment_" + item.DepartmentTypeId, value = "false" })
                                @Html.Label(item.DepartmentName, new { @class = "control-label", @style = "margin-left:5px;", id = "lbldepartment_" + item.DepartmentTypeId })
                            </div>
                        }
                    </div>
                </div>*@
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" onclick="getDepartments()" />
                    </div>
                </div>
            </div>
            <input hidden="hidden" name="departments" id="hdnDeparments" />
            <input hidden="hidden" name="AdminRole" id="hdnAdminRole" />
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>


    </div>

<script type="text/javascript">
    function getDepartments() {
        var Departments = "";
        $('.departments > input:checkbox').each(function () {
            if ($('#' + this.id).is(":checked")) {
                Departments += $('#lbldepartment_' + this.id.split('_')[1]).text() + "_" + this.id.split('_')[1] + ",";
            }
        });
        $('#hdnDeparments').val(Departments);
        $('#hdnAdminRole').val($('#chkAdminRole').is(":checked"));
        $('#hdnSuperAdminRole').val($('#chkSuperAdminRole').is(":checked"));
        $('#hdnTrustedRole').val($('#chkTrustedRole').is(":checked"));
    }
    //$(document).ready(function () {
    //    $('#chkAdminRole').change(function () {
    //        if ($('#chkAdminRole').is(':checked')) {
    //            $('#divDepartment').hide();
    //        }
    //        else {
    //            $('#divDepartment').show();
    //        }
    //    });        
    //});
</script>
