﻿@model IEnumerable<Biznetix.BizCMS.Data.AspNetUser>

@Styles.Render("~/bundles/css/dataTables")
@Scripts.Render("~/bundles/dataTables")

<script src="@Url.Content("~/Scripts/BizAdmin/Index.js")" type="text/javascript"></script>

<script type="text/javascript">
    urlItemApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "UserManager", id = "-1" })';
    urlItemCreate = '@Url.Action("Create", "UserManager")';
    urlItemEdit = '@Url.Action("Edit", "UserManager", new { userName = "-1" })';

    confirmDelete = function (t) {
        return window.confirm("Are you sure you would like to delete User - " + $(t).data('item-id') + "?");
    };

    deleteItem = function (e) {
        var goDelete = confirmDelete(this); // window.confirm("Are you sure you would like to delete - " + $(this).data('item-id') + "?");

        if (!goDelete)
            return;
        $.ajax({
            url: urlItemApi.replace("-1", btoa($(this).data('item-id'))),
            type: 'DELETE',
            dataType: 'json',
            data: null
        }).done(function (data) {
            tblItems.api().draw();
        }).fail(function () {
            console.log('Error in Operation');
        });

    };


    var tblItems;
    $(document).ready(function () {
        var columnDefs = [
            { "data": "UserName", "title": "User Name", "class": "no_wrap" },
            { "data": "FirstName", "title": "First Name", "class": "no_wrap" },
            { "data": "LastName", "title": "Last Name", "class": "no_wrap" },
            { "data": "Email", "title": "Email", "class": "no_wrap" },
            { "data": null, "defaultContent": "", "searchable": false, "orderable": false, "class": "details-control", "visible": false },
            { "data": "UserName", "title": "", "searchable": false, "orderable": false, "render": RenderActionLinks, "visible": true },
        ];

        //Autogenerate targets and name members for the columnDefs object
        for (index = 0; index < columnDefs.length; index++) {
            columnDefs[index].targets = index;
            columnDefs[index].name = columnDefs[index].data;
        }

        tblItems = $('#UserManager').dataTable({
            "ajax": PopulateTable,
            "columnDefs": columnDefs,
            "drawCallback": DrawCallback,
            "headerCallback": HeaderCallback,
            "order": [0, 'desc'],
            "processing": true,
            "serverSide": true
        });
    });

</script>
@{
    ViewBag.Title = "Index";
}
<div class="col-12">
    <h2>Users</h2>
    <table id="UserManager" class="table">
        <thead>

        </thead>
    </table>
</div>
