﻿@model IEnumerable<Biznetix.BizCMS.Data.ContactSubmission>

@Styles.Render("~/bundles/css/dataTables")
@Scripts.Render("~/bundles/dataTables")
<script src="@Url.Content("~/Scripts/BizAdmin/Contact/Index.js")" type="text/javascript"></script>

<script type="text/javascript">
    urlContactApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Contact", id = "-1" })';
</script>
@{
    ViewBag.Title = "Contacts - Bizadmin";
}
    <div class="col-12">
        <h2>View Contacts</h2>
        <table id="contacts" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.SearchEngine)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SearchPhrase)
                    </th>*@
                    <th> @Html.DisplayNameFor(model => model.ContactId)
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>


