﻿@model IEnumerable<Biznetix.BizCMS.Data.Job_Application>

@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/bundles/css/dataTables")

<script src="@Url.Content("~/Scripts/BizAdmin/Employment/Applicants.js")" type="text/javascript"></script>

<script type="text/javascript">
    urlApplicantsApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Applicants"  })';
    urlApplicant_View = '@Url.Action("Applicant", "Employment", new { id = -1 })';
    urlApplicant_Delete = '@Url.Action("Applicant", "Employment", new { id = -1 })';
    job_id = '@ViewBag.job_id';
</script>

@{
    ViewBag.Title = "Applicants";
}

<div class="clearfix"></div>
<div class="container" style="min-height:430px;">
    <div>
        <h2>Applicants</h2>
        <table id="applicants" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.applicationdate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.applicantfirstname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.applicantlastname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.applicantemail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.applicantposition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.finalphone)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>