﻿@model Biznetix.BizCMS.Data.Job_Listing

<div class="container page-wrap">
    <div>
        <h2>Create</h2>
        @Html.Partial("EmploymentItemsForm")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
