﻿@model IEnumerable<Biznetix.BizCMS.Data.Job_Listing>

@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/bundles/css/dataTables")

<script src="@Url.Content("~/Scripts/BizAdmin/Employment/Index.js")" type="text/javascript"></script>

<script type="text/javascript">
    urlEmploymentsApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Employment", id = "-1" })';
    urlEmployment_Create = '@Url.Action("Create", "Employment")';
    urlEmployment_Edit = '@Url.Action("Edit", "Employment", new { id = -1 })';
    urlApplicantView = '@Url.Action("Applications", "Employment", new { id = -1 })';
</script>

@{
    ViewBag.Title = "Index";
}
    <div class="col-12">
        <h2>Employment</h2>
        <table id="employment" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.date_Posted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Job_title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.When_available)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qualifications)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Part_Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    @*<th>@Html.DisplayNameFor(model => model.Job_ID)</th>*@
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
