﻿@model Biznetix.BizCMS.Data.configuration_setting
@{
    ViewBag.Title = "AddConfigurationSettings";
}

<script type="text/javascript" src="@Url.Content("~/Content/jquery.timepicker/js/jquery.timepicker.js")"></script>
<link href="@Url.Content("~/Content/jquery.timepicker/css/jquery.timepicker.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />

<div class="clearfix"></div>
<div class="container page-wrap" style="min-height:430px;">
    <div class="row">
        <h2>Add Configuration Settings</h2>

        @Html.AntiForgeryToken()
        <div class="col-sm-12">
            <h4>Add New Configuration Settings</h4>
            <div class="form-group row">
                <div class="col-md-2">
                    @Html.Label("Setting Type", new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("ddlSettingType", new SelectListItem[] {
                    new SelectListItem() { Text = "--Select--", Value = "0",Selected=true },
                    new SelectListItem() { Text = "Numeric", Value = "Numeric" },
                    new SelectListItem() { Text = "True or False(0 or 1)", Value = "TRUE-FALSE" },
                    new SelectListItem() { Text = "Text", Value = "TEXT" },
                    new SelectListItem() { Text = "Radio", Value = "TRUE-FALSE" },
                    new SelectListItem() { Text = "Date", Value = "Date" },
                    new SelectListItem() { Text = "Phone", Value = "Phone" } }, new { @class = "form-control form-control-width-smltxtbox", @style = "display:inline;float: left;margin-right:15px;width:220px" })
                </div>
            </div>
            <div id="addConfigSettings">
                <table class="table table-bordered table-condensed" id="tbladdConfigSettings">
                    <thead class="tblheader">
                        <tr>
                            <th class="col-sm-2">Group</th>
                            <th class="col-sm-2">Name</th>
                            <th class="col-sm-1">Starting Values</th>
                            <th class="col-sm-8">Possible Values</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="col-md-4">
                    <input type="button" id="btnAddSettings" value="Add New Configuration Setting" class="btn btn-primary" />&nbsp;&nbsp;
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to Configuration Settings", "ConfigurationSettings")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var settings = new Array();
        $('#addConfigSettings').hide();
        $('#ddlSettingType').change(function () {
            $('#addConfigSettings').show();
            $('#tbladdConfigSettings tbody').append((new emptyRow($('#ddlSettingType').val())).obj);
            $(".date").datepicker();            
        });
        $('#btnAddSettings').click(function () {
            $('#tbladdConfigSettings tbody  > tr').each(function () {
                var setting = {};
                setting.Group = $(this).find("input[type = text]").eq(0).val();
                setting.Key = $(this).find("input[type = text]").eq(1).val();
                setting.Value = $(this).find("input[type = text]").eq(2).val();
                setting.Type = $(this).find("span").text();
                settings.push(setting);     
            });
            var settingsJson = JSON.stringify(settings);    
            $.ajax({
                contentType: 'application/json;',
                dataType: 'json',
                type: 'POST',
                url: '/Bizadmin/Bizadmin/AddConfigurationSettings',
                data: settingsJson,
                success: function (data) {
                    if (data.Message == '' || data.Message == 'undefined') {
                        window.location.href = "/Bizadmin/Bizadmin/ConfigurationSettings";
                    } else {
                        errorMessage.innerHTML = data.Message;
                    }
                },
                failure: function (response) {
                    alert("save failed");
                }
            });
        });
    });
    function emptyRow(possiblevalues) {
        this.obj = $("<tr></tr>");
        this.obj.append('<td><input type="text" id="Group" /></td>');
        this.obj.append('<td><input type="text" id="Name" /></td>');
        if (possiblevalues == "Date") {
            this.obj.append('<td><input type="text" class="date" id="StartingValue" /></td>');
        }
        else {
            this.obj.append('<td><input type="text" id="StartingValue" /></td>');
        }
        this.obj.append('<td><span>' + possiblevalues + '</span></td>');
    }

</script>
