﻿@model List<Biznetix.BizCMS.Data.configuration_setting>
@{
    ViewBag.Title = "ConfigurationSettings";
    Boolean first = true;
}

<script type="text/javascript" src="@Url.Content("~/Content/jquery.timepicker/js/jquery.timepicker.js")"></script>
<link href="@Url.Content("~/Content/jquery.timepicker/css/jquery.timepicker.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />

<div class="col-12">
    <h2>ConfigurationSettings</h2>
    <div class="col-md-12" style="text-align: right;margin-bottom:5px;">
        <input type="button" id="btnAddSettings" value="Add" class="btn btn-primary" />&nbsp;&nbsp;
    </div>
    <div class="col-md-12 alignleft">
        <span id="NotifyMsg" class="alert-success"></span>
    </div>
    <nav>
        <div class="nav nav-tabs" role="tablist">
            @foreach (var group in ViewBag.Groups)
            {
                String groupid = group ?? "General";
                groupid = groupid.Replace(" ", "-");

            <a class="nav-item nav-link @if (first) { <text>active</text> ; first = false; }" id="nav-@groupid" data-toggle="tab" role="tab" href="#@groupid">@group</a>
            }

        </div>
    </nav>
    <div class="tab-content">

        @{first = true; }
        @foreach (var group in ViewBag.Groups)
        {

            String groupid = group ?? "General";
            groupid = groupid.Replace(" ", "-");

            <div class="tab-pane fade @if (first) { <text>show active</text> ; first = false; } " id="@groupid" role="tabpanel" aria-labelledby="@group-tab">
                <table class="table table-bordered table-condensed">
                    <thead class="tblheader">
                        <tr>
                            <th>Key</th>
                            <th>Saved Settings</th>
                            <th>Running Config</th>
                        </tr>
                    </thead>
                    @foreach (var settings in Model)
                    {
                        if (settings.Group == group)
                        {
                            <text>
                    <tr>
                        <td>@settings.Key</td>
                        @if (settings.Type == "TEXT")
                        {
                            <td>@Html.TextBox(@settings.Key, settings.Value, new { id = settings.Key, @class = "settings_txt", @onchange = "addEditClass(this);" })</td>
                        }
                        @if (settings.Type == "Numeric")
                        {
                            <td>@Html.TextBox(@settings.Key, settings.Value, new { id = settings.Key, @class = "settings_txt", @onchange = "addEditClass(this);" })</td>
                        }
                        @if (settings.Type == "Date")
                        {
                            <td>@Html.TextBox(settings.Key, settings.Value, new { id = settings.Key, @class = "date settings_txt", @onchange = "addEditClass(this);" })</td>
                        }
                        @if (settings.Type == "Date")
                        {
                            <td>@Html.TextBox(settings.Key, settings.Value, new { id = settings.Key, @class = "date settings_txt", @onchange = "addEditClass(this);" })</td>
                        }
                        else if (settings.Type == "TRUE-FALSE")
                        {
                            if (settings.Value == "1" || settings.Value == "True")
                            {
                                <td>
                                    @Html.RadioButton("rdbSettingsValue" + @settings.Key, true, true, new { id = "rdbSettingsValue_true", @class = "settings_rdb", @onchange = "addEditClass(this);" }) True
                                    @Html.RadioButton("rdbSettingsValue" + @settings.Key, false, false, new { id = "rdbSettingsValue_false", @class = "settings_rdb", @onchange = "addEditClass(this);" }) False
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.RadioButton("rdbSettingsValue" + @settings.Key, true, false, new { id = "rdbSettingsValue_true", name = "rdbSettingsValue", @class = "settings_rdb", @onchange = "addEditClass(this);" }) True
                                    @Html.RadioButton("rdbSettingsValue" + @settings.Key, false, true, new { id = "rdbSettingsValue_false", name = "rdbSettingsValue", @class = "settings_rdb", @onchange = "addEditClass(this);" }) False
                                </td>
                            }
                        }
                        <td>@Html.Label("txtRunningConfig", settings.Value, new { id = "lblRunningConfig" })</td>
                        <td style="display:none">@Html.Label("txtType", settings.Type, new { id = "lblType" })</td>
                    </tr>
                            </text>
                        }
                    }
                </table>
            </div>
        }
    </div>
    <div>
        <input type="button" id="btnUpdateSettings" value="Update" class="btn btn-primary" />
    </div>
    <br />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnUpdateSettings").click(function () {
            var settings = [];
            $('table tr').each(function () {
                var setting = {};
                if ($(this).hasClass("edited")) {
                    var keyField = $(this).find("td:eq(0)");
                    var TypeField = $(this).find("td:eq(3)");
                    var valueField = $(this).find("td:eq(1)");
                    if (valueField.find('input[type="text"]').length) {
                        setting.Value = valueField.find('input[type="text"]').val();
                    } else if (valueField.find('input[type="checkbox"]').length) {
                        setting.Value = valueField.find('input[type="checkbox"]:checked').val();
                    } else if (valueField.find('input[type="radio"]').length) {
                        setting.Value = valueField.find('input[type="radio"]:checked').val();
                    }
                    setting.Group = '';
                    setting.Key = keyField.text();
                    setting.Type = TypeField.text();
                    settings.push(setting);
                }
            });

            $.ajax({
                contentType: 'application/json;',
                dataType: 'json',
                type: 'POST',
                url: '/Bizadmin/Bizadmin/ConfigurationSettings',
                data: JSON.stringify(settings),
                success: function (data) {
                    if (data.Message != '') {
                        //window.location.href = "/Bizadmin/Bizadmin/ConfigurationSettings";
                        $('#NotifyMsg').text(data.Message);
                    } else {
                        errorMessage.innerHTML = data.Message;
                    }
                },
                failure: function (response) {
                    alert("save failed");
                }
            });
        })
        $(".date").datepicker({
            showOn: "button",
            buttonImage: "/Images/calendar.gif",
            buttonImageOnly: true,
            buttonText: "Select date"
        });
        $("#btnAddSettings").click(function () {
            window.location.href = "/Bizadmin/Bizadmin/AddConfigurationSettings";
        });
    });
    function addEditClass(element) {
        $(element).parents('tr').attr('class', 'edited');
    }
    $().tab
</script>