﻿@model IEnumerable<Biznetix.BizCMS.Data.CompanyLocation>
@{
    ViewBag.Title = "Driving Directions  - Bizadmin";
}
@Styles.Render("~/bundles/css/dataTables")
@Scripts.Render("~/bundles/dataTables")
<script src="@Url.Content("~/Scripts/BizAdmin/DrivingDirections/Index.js")" type="text/javascript"></script>

<script type="text/javascript">
    urlLocationApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "DrivingDirection", id = "-1" })';
    urlEventitem_Create = '@Url.Action("Create", "DrivingDirection")';
    urlEventitem_Edit = '@Url.Action("Edit", "DrivingDirection", new { id = -1 })';
</script>

    <div class="col-12">
        <div class="opacity-add">
            <h2>Company Location</h2>

            <table id="locations" class="table">
                <thead class="tblheader">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.State)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Zip)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Latitude)
                        </th>
                        <th> @Html.DisplayNameFor(model => model.Longitude)
                        <th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
