﻿@model Biznetix.BizCMS.Data.cms_Page

@helper getPageTypes(int thispageTypeID, string pagetypedesc)
{
    foreach (Biznetix.BizCMS.Data.cms_PagesType t in ViewBag.pageTypes)
    {
        <option value="@t.PageTypeID" @(t.PageTypeID == thispageTypeID ? "selected" : null)>@t.PageType</option>
        if (t.PageTypeID == thispageTypeID) { pagetypedesc = t.Description; }
    }
}

@helper create_file_history(string filename)
{
}

@helper MakeEditor(string p_filename, string p_elementname, string p_elementvalue, string stylesheet)
{
    <textarea name="@p_elementname" id="bizcontent_@p_filename"> @Html.Raw(p_elementvalue)</textarea>
    <script>
        $(document).ready(function () {
            var thiseditor = CKEDITOR.replace('bizcontent_@p_filename');
            CKFinder.setupCKEditor(thiseditor, '/include/ckfinder/');
        });
    </script>
}

@helper getPageTreeAndDisplayAsOptions(IEnumerable<Biznetix.BizCMS.Data.cms_Page> nodes, int? parentpage, string indent, int selected)
{
    if (nodes.Any(n => n.ParentPage == parentpage))
    {
        foreach (var p in nodes.Where(n => n.ParentPage == parentpage))
        {
            <option value="@p.PageID" @(p.PageID == selected ? " selected" : null)> @Html.Raw(indent) @p.PageName </option>
            @getPageTreeAndDisplayAsOptions(nodes, p.PageID, @indent + "--", selected)
        }
    }
}

<div class="inner-bg">
    <div class="container">
        <div class="row">
            <div class="opacity-add">
                <p>@ViewBag.msg</p>
                <a class="list" href="/BizAdmin/Pages">Back to Page List</a>
                <br><br>
                <div>You are editing the page/content for: <span style="font-weight:bold">@(Model.PageName != null ? Model.PageName : "new page")</span></div>
                <br>
                <form action="" method="post" name="Form1">
                    <input type="hidden" name="id" value="@Model.PageID">
                    
                    <div id="tabs">
                        <ul>
                            <li><a href="#tab-Basic">Basic</a></li>
                            <li><a href="#tab-ALT">Side Content</a></li>
                            <li><a href="#tab-SEO">SEO</a></li>
                            <li><a href="#tab-Social">Social Media</a></li>
                            <li><a href="#tab-Advanced">Advanced</a></li>
                            <li><a href="#tab-Bottom">Bottom Content</a></li>
                        </ul>
                        <div id="tab-Basic">
                            <div>
                                <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                    @if ((Model.PageTypeID != 3) && ViewBag.ENABLE_PAGE_ADD)
                                    {
                                        <tr>
                                            <td align="right"><b>Parent Page:</b>&nbsp; </td>
                                            <td>
                                                @*@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/legislature.inc")))*@

                                                <select name="ParentPage">
                                                    @*disabled="!@ViewBag.IsAdmin"*@

                                                    @if (!ViewBag.IsAdmin)
                                                    {
                                                        if (ViewData["DepartmentTypeId"] != null)
                                                        {
                                                            int DepartmentTypeId = Convert.ToInt32(ViewData["DepartmentTypeId"]);
                                                            @*getPageTreeAndDisplayAsOptions(ViewBag.rootPageforDepartment, 0, "", @Model.ParentPage.Value)*@
                                                            @getPageTreeAndDisplayAsOptions(ViewBag.AllPages, DepartmentTypeId, "--", @Model.ParentPage.Value)
                                                        }
                                                        @*@getPageTreeAndDisplayAsOptions(ViewBag.rootPageforDepartment, 0, "", @Model.ParentPage.Value)
                                    @getPageTreeAndDisplayAsOptions(ViewBag.AllPages, 2, "--", @Model.ParentPage.Value)*@
                                                    }
                                                    else
                                                    {
                                                        <option value="0">Root Page</option>
                                                        @getPageTreeAndDisplayAsOptions(ViewBag.AllPages, 0, "", @Model.ParentPage.Value)
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <input type="hidden" name="ParentPage" value="@Model.ParentPage.Value">
                                    }
                                    @if (@Model.PageTypeID != 3)
                                    {
                                        <tr>
                                            <td align="right"><b>Page Name:</b>&nbsp; </td>
                                            <td>
                                                <input type="text" name="PageName" size="60" maxlength="255" value="@Model.PageName">
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <input type="hidden" name="PageName" value="@Model.PageName">
                                    }
                                    @if (ViewBag.ENABLE_PAGE_ADD)
                                    {
                                        <tr>
                                            <td></td>
                                            <td class="content" style="font-size:9px;color:#B6B6B6;">This is the Page Name as it will appear in navigation and in the page Header.</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><b>Display in Nav:</b>&nbsp;</td>
                                            <td><input type="checkbox" name="Display" value="true" checked="@Model.Display"> Display this in the navigation.</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <input type="hidden" name="Display" value="@Model.Display">
                                    }
                                    @if ((!ViewBag.filecreated) && (Model.PageTypeID != 6))
                                    { // ' anything but an internal link only type
                                        <tr>
                                            <td align="right"><b>File Name:</b>&nbsp; </td>
                                            <td>
                                                <input type="text" name="Filename"
                                                       maxlength="255" size="60" value="@Model.Filename">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="content">This is the actual file name for the page. Once a page is created, the file name cannot be changed.</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <input type="hidden" name="Filename" value="@Model.Filename">
                                    }


                                    @if ((!@Model.HeaderImage.IsEmpty()) && (@Model.PageTypeID != 3))
                                    {
                                        <tr>
                                            <td align="right"><b>Inside Header Image:</b>&nbsp; </td>
                                            <td>
                                                <input type="text" size="30" id="image_filename" name="HeaderImage" value="@Model.HeaderImage">
                                                <input type="button" name="uploadimage" value="Upload Image" onclick="javascript:pickImage('image');">&nbsp;(Dimensions = @Model.HeaderImageWidth w x @Model.HeaderImageHeight h)<input type="hidden" name="image" value="" id="image">
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <input type="hidden" id="image_filename" name="HeaderImage" value="@Model.HeaderImage" />
                                    }
                                    @*@if ((@ViewBag.PageHeaders) && (@Model.PageTypeID != 3))
                        {
                            <tr>
                                <td align="right"><b>Page Header:</b>&nbsp; </td>
                                <td><input type="text" name="Header" size="60" value="@Model.pHeader"></td>
                            </tr>
                        }
                        else
                        {
                            <input type="hidden" id="pHeader" name="Header" value="@Model.pHeader" />
                        }
                        @if ((@Model.PageTypeID == 1) || (@Model.PageTypeID == 3))
                        {
                            <tr>
                                <td colspan="2"><br><b>Body:</b></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @MakeEditor(@Model.Filename, "content_editor", @ViewBag.content_txt, "/include/style.css") <br>
                                    @*<input type="button" value="Previous Saved Version" onclick="main_history.load_previous();">
                                    <input type="button" value="Current Version" onclick="main_history.load_current();">
                                    @if (ViewBag.ENABLE_SAVE_DRAFT)
                                    {
                <!--last saved draft -->
                                        <input type="button" value="Last Saved Draft" onclick="fetch_content('@Model.Filename','draft');">
                <!-- the submit button's names and values are important. If they change the code will break -->
                <!-- save draft -->
                                        <input name="submit_btn" type="submit" value="Save Draft">
                                    }
                                </td>
                            </tr>
                        }
                        @if ((@Model.PageTypeID == 2) || (@Model.PageTypeID == 5) || (@Model.PageTypeID == 6))
                        {
                            <tr>
                                <td align="right"><b>Link Address:</b>&nbsp; </td>
                                <td>
                                    <input type="text" name="LinkAddress"
                                           maxlength="255" size="100" value="@Model.LinkAddress" />
                                </td>
                            </tr>
                        }
                        else
                        {
                            <input type="hidden" name="LinkAddress" value="@Model.LinkAddress" />
                        }*@
                                </table>
                            </div>
                            <div style="padding-top:20px;">
                                <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                    <tr>
                                        <td align="right" colspan="2">
                                            <!-- the submit button's names and values are important. If they change the code will break -->
                                            <input id="btnSubmit" name="submit_btn" type="submit" value="Update Current Page">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="tab-ALT">
                            <div>
                            <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                <tr>
                                    <td>
                                        <select name="SubPageType" id="SubPageType">
                                            <option @(Model.SubPageType == "content" ? "selected" : null) value="content">Content</option>
                                            @if (ViewBag.CAREERS_TOOL)
                                            {
                                                <option @(Model.SubPageType == "job_listings" ? "selected" : null) value="job_listings">Job Listings</option>
                                            }
                                            @if (ViewBag.NEWS_TOOL)
                                            {
                                                <option @(Model.SubPageType == "news" ? "selected" : null) value="news">News Listings</option>
                                            }
                                            @if (ViewBag.PORTFOLIO_TOOL)
                                            {
                                                <option @(Model.SubPageType == "portfolio" ? "selected" : null) value="portfolio">Portfolio Items</option>
                                            }
                                            @if (ViewBag.TESTIMONIAL_TOOL)
                                            {
                                                <option @(Model.SubPageType == "testimonial" ? "selected" : null) value="testimonial">Testimonial Items</option>
                                            }
                                            <option @(Model.SubPageType == "file" ? "selected" : null) value="file">Specified File</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><br><b>Right Content Area:</b></td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div id="side_type_content" style="display:block;">
                                            @{
                                                @MakeEditor("default_editor_side", "alt_content", @ViewBag.alt_content_txt, "/include/style.css"); <br>
                                                if (ViewBag.ENABLE_SAVE_DRAFT)
                                                {
                                                    <!--last saved draft -->
                                                    <input type="button" value="Last Saved Draft" onclick="fetch_content('@Model.Filename','draft');">
                                                    <!-- the submit button's names and values are important. If they change the code will break -->
                                                    <!-- save draft -->
                                                    <input name="submit_btn" type="submit" value="Save Draft">
                                                }
                                            }
                                        </div>
                                        <div id="side_type_job" style="display:none;">
                                            @{
                                                @:The right pane will include items from the portfolio at random.
                                            }
                                        </div>
                                        <div id="side_type_portfolio" style="display:none;">
                                            @{
                                                @:The right pane will include items from the portfolio at random.
                                            }
                                        </div>
                                        <div id="side_type_test" style="display:none;">
                                            @{
                                                @:The right pane will include items from customer testimonials at random.
                                            }
                                        </div>
                                        <div id="side_type_file" style="display:none;">
                                            @{
                                                @:The right pane will include the specified file.<br>
                                                <input type="text" size="80" name="SubPageFilename" value="@Model.SubPageFilename">
                                            }
                                        </div>
                                        
                                    </td>
                                </tr>
                            </table>
                            </div>
                            <div style="padding-top:20px;">
                                <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                    <tr>
                                        <td align="right" colspan="2">
                                            <!-- the submit button's names and values are important. If they change the code will break -->
                                            <input id="btnSubmit" name="submit_btn" type="submit" value="Update Current Page">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="tab-SEO">
                            <div>
                            <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                @if (Model.PageTypeID == 1 || Model.PageID == 0)
                                {
                                    <tr>
                                        <td align="right"><b>Title:</b>&nbsp; </td>
                                        <td>
                                            <input type="text" name="Title"
                                                   maxlength="255" size="80" value="@Model.Title">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="content" style="font-size:9px;color:#B6B6B6;">This is the Title that will appear in the Browser's title bar.</td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b>Description:</b>&nbsp; </td>
                                        <td>
                                            <textarea rows="3" cols="80" name="Description">@Model.Description</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="content" style="font-size:9px;color:#B6B6B6;">This is the META description for the page. This will not be seen by the user, but will be used by search engines.</td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b>Keywords:</b>&nbsp; </td>
                                        <td>
                                            <input type="text" name="Keywords" size="80" value="@Model.Keywords">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="content" style="font-size:9px;color:#B6B6B6;">These are the META keywords for the page. These will not be seen by the user, but will be used by search engines.</td>
                                    </tr>
                                }
                                else
                                {
                                    <input type="hidden" name="Title" value="@Model.Title">
                                    <input type="hidden" name="Description" value="@Model.Description">
                                    <input type="hidden" name="Keywords" value="@Model.Keywords">
                                }
                            </table>
                            </div>
                            <div style="padding-top:20px;">
                                <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                    <tr>
                                        <td align="right" colspan="2">
                                            <!-- the submit button's names and values are important. If they change the code will break -->
                                            <input id="btnSubmit" name="submit_btn" type="submit" value="Update Current Page">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        @if ((Model.PageTypeID == 1) || (Model.PageID == 0))
                        {
                            <div id="tab-Social">
                                <div>
                                <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                    <tr>
                                        <td align="right"><b>Title:</b>&nbsp; </td>
                                        <td>
                                            <input type="text" name="og_title"
                                                   maxlength="255" size="80" value="@Model.og_title">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="content" style="font-size:9px;color:#B6B6B6;">The title of your object as it should appear within the graph.</td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b>Type:</b>&nbsp; </td>
                                        <td>
                                            <select name="og_type" class=BizformInActive onfocus="this.className='BizformActive';" onblur="this.className='BizformInActive';">

                                                <option @(Model.og_type == "activity" ? " selected " : null) value="activity">Activity</option>
                                                <option @(Model.og_type == "sport" ? " selected " : null) value="sport">Sport</option>
                                                <option @(Model.og_type == "bar" ? " selected " : null) value="bar">Bar</option>
                                                <option @(Model.og_type == "company" ? " selected " : null) value="company">Company</option>
                                                <option @(Model.og_type == "cafe" ? " selected " : null) value="cafe">Cafe</option>
                                                <option @(Model.og_type == "hotel" ? " selected " : null) value="hotel">Hotel</option>
                                                <option @(Model.og_type == "restaurant" ? " selected " : null) value="restaurant">Restaurant</option>
                                                <option @(Model.og_type == "cause" ? " selected " : null) value="cause">Cause</option>
                                                <option @(Model.og_type == "sports_league" ? " selected " : null) value="sports_league">Sports League</option>
                                                <option @(Model.og_type == "sports_team" ? " selected " : null) value="sports_team">Sports Team</option>
                                                <option @(Model.og_type == "band" ? " selected " : null) value="band">Band</option>
                                                <option @(Model.og_type == "government" ? " selected " : null) value="government">Government</option>
                                                <option @(Model.og_type == "non_profit" ? " selected " : null) value="non_profit">Non Profit</option>
                                                <option @(Model.og_type == "school" ? " selected " : null) value="school">School</option>
                                                <option @(Model.og_type == "university" ? " selected " : null) value="university">University</option>
                                                <option @(Model.og_type == "actor" ? " selected " : null) value="actor">Actor</option>
                                                <option @(Model.og_type == "athelete" ? " selected " : null) value="athelete">Athlete</option>
                                                <option @(Model.og_type == "author" ? " selected " : null) value="author">Author</option>
                                                <option @(Model.og_type == "director" ? " selected " : null) value="director">Director</option>
                                                <option @(Model.og_type == "musician" ? " selected " : null) value="musician">Musician</option>
                                                <option @(Model.og_type == "politician" ? " selected " : null) value="politician">Politician</option>
                                                <option @(Model.og_type == "profile" ? " selected " : null) value="profile">Profile</option>
                                                <option @(Model.og_type == "public_figure" ? " selected " : null) value="public_figure">Public Figure</option>
                                                <option @(Model.og_type == "city" ? " selected " : null) value="city">City</option>
                                                <option @(Model.og_type == "country" ? " selected " : null) value="country">Country</option>
                                                <option @(Model.og_type == "landmark" ? " selected " : null) value="landmark">Landmark</option>
                                                <option @(Model.og_type == "state_province" ? " selected " : null) value="state_province">State Province</option>
                                                <option @(Model.og_type == "album" ? " selected " : null) value="album">Album</option>
                                                <option @(Model.og_type == "book" ? " selected " : null) value="book">Book</option>
                                                <option @(Model.og_type == "drink" ? " selected " : null) value="drink">Drink</option>
                                                <option @(Model.og_type == "food" ? " selected " : null) value="food">Food</option>
                                                <option @(Model.og_type == "game" ? " selected " : null) value="game">Game</option>
                                                <option @(Model.og_type == "movie" ? " selected " : null) value="movie">Movie</option>
                                                <option @(Model.og_type == "product" ? " selected " : null) value="product">Product</option>
                                                <option @(Model.og_type == "song" ? " selected " : null) value="song">Song</option>
                                                <option @(Model.og_type == "tv_show" ? " selected " : null) value="tv_show">TV Show</option>
                                                <option @(Model.og_type == "article" ? " selected " : null) value="article">Article</option>
                                                <option @(Model.og_type == "blog" ? " selected " : null) value="blog">Blog</option>
                                                <option @(Model.og_type == "website" ? " selected " : null) value="website">Website</option>

                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="content" style="font-size:9px;color:#B6B6B6;">The type of your object, e.g., "article". Depending on the type you specify, other properties may also be required.</td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b>Description:</b>&nbsp; </td>
                                        <td>
                                            <textarea rows="3" cols="80" name="og_description">@Model.og_description</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="content" style="font-size:9px;color:#B6B6B6;">A one to two sentence description of your object.</td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b>Site Name:</b>&nbsp; </td>
                                        <td>
                                            <input type="text" name="og_siteName" size="80" value="@Model.og_siteName">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="content" style="font-size:9px;color:#B6B6B6;">If your object is part of a larger web site, the name which should be displayed for the overall site. e.g., "Biznetix".</td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b>Canonical URL:</b>&nbsp; </td>
                                        <td>
                                            <input type="text" name="og_url" size="80" value="@Model.og_url">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="content" style="font-size:9px;color:#B6B6B6;">The canonical URL of your object that will be used as its permanent ID in the graph, e.g., "http://www.biznetix.net/seo.asp".</td>
                                    </tr>
                                    <tr>
                                        <td align="right"><b>Image:</b>&nbsp; </td>
                                        <td>
                                            <input type="text" name="og_image" id="og_image" size="80" value="@Model.og_image">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="content" style="font-size:9px;color:#B6B6B6;">Image thumbnail associated with link.</td>
                                    </tr>

                                </table>
                                </div>
                                <div style="padding-top:20px;">
                                    <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                        <tr>
                                            <td align="right" colspan="2">
                                                <!-- the submit button's names and values are important. If they change the code will break -->
                                                <input id="btnSubmit" name="submit_btn" type="submit" value="Update Current Page">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" name="og_title" value="@Model.og_title">
                            <input type="hidden" name="og_type" value="@Model.og_type">
                            <input type="hidden" name="og_description" value="@Model.og_description">
                            <input type="hidden" name="og_siteName" value="@Model.og_siteName">
                            <input type="hidden" name="og_url" value="@Model.og_url">
                            <input type="hidden" name="og_image" value="@Model.og_image">
                        }
                        <div id="tab-Advanced">
                            <div>
                            <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                
                                @if (ViewBag.ENABLE_PAGE_ADD && Model.PageTypeID.HasValue && Model.PageTypeID != 3)
                                {
                                    <tr>
                                        <td align="right"><b>Page Type:</b>&nbsp;</td>
                                        <td>
                                            <select name="PageTypeID">
                                                @getPageTypes(Model.PageTypeID.Value, ViewBag.pagetypedesc);
                                            </select><span style="font-size: 0.9em;">&nbsp;&nbsp;@ViewBag.pagetypedesc</span>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <input type="hidden" name="PageTypeID" value="@Model.PageTypeID.Value">
                                }
                                @if (ViewBag.PCT_ADD_SECURE_PAGE && ViewBag.ENABLE_PAGE_ADD)
                                {
                                    <tr>
                                        <td align="right"><b>Secure Page:</b>&nbsp;</td>
                                        <td><input type="checkbox" name="SecurePage" value="true" @(Model.SecurePage && Model.SecurePage ? "checked" : null)></td>
                                    </tr>
                                }
                                @if (Model.PageTypeID != 3)
                                {
                                    <tr>
                                        <td align="right"><b>Sort Order:</b>&nbsp;</td>
                                        <td><input type="text" name="Sort" size="5" value="@Model.Sort.Value"></td>
                                    </tr>
                                }
                                else
                                {
                                    <input type="hidden" name="Sort" value="@Model.Sort.Value">
                                }
                                <tr>
                                    <td align="right"><b>Clean Url:</b>&nbsp;</td>
                                    <td><input type="text" name="CleanUrl" value="@Model.CleanUrl"></td>
                                </tr>
                                <script language="javascript">

                                    function selectText(divid) {
                                        if (document.selection) {
                                            var div = document.body.createTextRange();

                                            div.moveToElementText(document.getElementById(divid));
                                            div.select();
                                        }
                                        else {
                                            var div = document.createRange();

                                            div.setStartBefore(document.getElementById(divid));
                                            div.setEndAfter(document.getElementById(divid));

                                            window.getSelection().addRange(div);
                                        }

                                    }
                                </script>
                                <tr>
                                    <td align="right"><b>Permalink:</b>&nbsp;</td>
                                    <td>
                                        <span id=mypermalink onclick="selectText('mypermalink')">
                                            <span id=mypermalink onclick="selectText('mypermalink')">"http://" @(System.Web.HttpContext.Current.Application["PRIMARY_URL"] == "" ? Request.ServerVariables["SERVER_NAME"] : System.Web.HttpContext.Current.Application["PRIMARY_URL"])/@Model.CleanUrl ></span>
                                        </span>
                                    </td>
                                </tr>

                                @if (ViewBag.PCT_BIZNETIX_ONLY_OPTIONS_ON)
                                {
                                    <tr>
                                        <td>
                                            Editable
                                        </td>
                                        <td>
                                            <input type="radio" name="Editable" value="Yes" checked="@Model.Editable">Yes&nbsp;&nbsp;
                                            <input type="radio" name="Editable" value="No" checked="!@Model.Editable">No
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cannot Delete</td>
                                        <td>
                                            <input type="radio" name="CannotDelete" value="Yes" checked="@Model.CannotDelete">Yes&nbsp;&nbsp;
                                            <input type="radio" name="CannotDelete" value="No" checked="!@Model.CannotDelete">No
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <input type="hidden" name="Editable" value="@(Model.Editable && Model.Editable ? "Yes" : "No")" />
                                    <input type="hidden" name="CannotDelete" value="@(Model.CannotDelete && Model.CannotDelete ? "Yes" : "No")" />
                                }


                            </table>
                            </div>
                            <div style="padding-top:20px;">
                                <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                    <tr>
                                        <td align="right" colspan="2">
                                            <!-- the submit button's names and values are important. If they change the code will break -->
                                            <input id="btnSubmit" name="submit_btn" type="submit" value="Update Current Page">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="tab-Bottom">
                            <div>
                            <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                <tr>
                                    <td>
                                        <select name="BottomPageType" id="BottomPageType">
                                            <option @(Model.BottomPageType == "content" ? "selected" : null) value="content">Content</option>
                                            @if (ViewBag.CAREERS_TOOL)
                                            {
                                                <option @(Model.BottomPageType == "job_listings" ? "selected" : null) value="job_listings">Job Listings</option>
                                            }
                                            @if (ViewBag.NEWS_TOOL)
                                            {
                                                <option @(Model.BottomPageType == "news" ? "selected" : null) value="news">News Listings</option>
                                            }
                                            @if (ViewBag.PORTFOLIO_TOOL)
                                            {
                                                <option @(Model.BottomPageType == "portfolio" ? "selected" : null) value="portfolio">Portfolio Items</option>
                                            }
                                            @if (ViewBag.TESTIMONIAL_TOOL)
                                            {
                                                <option @(Model.BottomPageType == "testimonial" ? "selected" : null) value="testimonial">Testimonial Items</option>
                                            }
                                            <option @(Model.BottomPageType == "file" ? "selected" : null) value="file">Specified File</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><br><b>Bottom Content Area:</b></td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div id="bottom_type_content" style="display:block;">
                                            @{
                                                @MakeEditor("default_editor", "bottom_content", @ViewBag.alt_content_txt, "/include/style.css"); <br>
                                                if (ViewBag.ENABLE_SAVE_DRAFT)
                                                {
                                                    <!--last saved draft -->
                                                    <input type="button" value="Last Saved Draft" onclick="fetch_content('@Model.Filename','draft');">
                                                    <!-- the submit button's names and values are important. If they change the code will break -->
                                                    <!-- save draft -->
                                                    <input name="submit_btn" type="submit" value="Save Draft">
                                                }
                                            }
                                        </div>
                                        <div id="bottom_type_job" style="display:none;">
                                            @{
                                                @:The bottom pane will include items from the portfolio at random.
                                            }
                                        </div>
                                        <div id="bottom_type_portfolio" style="display:none;">
                                            @{
                                                @:The bottom pane will include items from the portfolio at random.
                                            }
                                        </div>
                                        <div id="bottom_type_test" style="display:none;">
                                            @{
                                                @:The bottom pane will include items from customer testimonials at random.
                                            }
                                        </div>
                                        <div id="bottom_type_file" style="display:none;">
                                            @{
                                                @:The bottom pane will include the specified file.<br>
                                                <input type="text" size="80" name="BottomPageFilename" value="@Model.BottomPageFilename">
                                            }
                                        </div>                                        
                                    </td>
                                </tr>
                            </table>
                            </div>
                            <div style="padding-top:20px;">
                                <table border="0" cellpadding="2" cellspacing="0" valign="top" class="content" style="color: #000000;">
                                    <tr>
                                        <td align="right" colspan="2">
                                            <!-- the submit button's names and values are important. If they change the code will break -->
                                            <input id="btnSubmit" name="submit_btn" type="submit" value="Update Current Page">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $("#tabs").tabs();

                            $("#SubPageType").change(function () {
                                var type = $("#SubPageType").val();

                                if (type == "content") {
                                    $("#side_type_content").css("display", "block");
                                    $("#side_type_file").css("display", "none");
                                } else if (type == "file") {
                                    $("#side_type_content").css("display", "none");
                                    $("#side_type_file").css("display", "block");
                                }
                            });

                            $("#BottomPageType").change(function () {
                                var type = $("#BottomPageType").val();

                                if (type == "content") {
                                    $("#bottom_type_content").css("display", "block");
                                    $("#bottom_type_file").css("display", "none");
                                } else if (type == "file") {
                                    $("#bottom_type_content").css("display", "none");
                                    $("#bottom_type_file").css("display", "block");
                                }
                            });
                        });

                        var previous_version = '1';
                        var last_version = '1';
                        var current_version = 'inc';
                        var draft_version = 'draft';

                        function Editor_history(control_name, base_filename, version_count) {
                            this.editor_control = control_name;
                            this.basefilename = base_filename;
                            this.previous_version = version_count - 1;
                            this.version_count = version_count;
                            this.current_version = 'inc';
                            this.draft_version = 'draft';

                        }

                        Editor_history.prototype.load_previous = function () {
                            if (this.previous_version == 0) {
                                alert('No more previous versions, starting over at most recent.');
                                this.load_current.call(this);

                            }
                            else {
                                //		alert(this.basefilename + '\n' + 'inc.' + this.previous_version + '\n' + this.editor_control);
                                fetch_content_to_control(this.basefilename, 'inc.' + this.previous_version, this.editor_control);
                                this.previous_version = this.previous_version - 1;
                            }
                        }

                        Editor_history.prototype.load_current = function () {
                            fetch_content_to_control(this.basefilename, this.current_version, this.editor_control);
                            this.previous_version = this.version_count - 1;
                        }
                    </script>                   
                    @create_file_history(@Model.Filename)
                    <script>
                        main_history = new Editor_history('content_editor', '@Model.Filename', '@ViewBag.version_count');
                        alt_history = new Editor_history('content_editor_ALT', '@(Model.Filename)_ALT', '@ViewBag.alt_version_count');

                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
