﻿@model IEnumerable<Biznetix.BizCMS.Data.cms_Page>
@using Biznetix.BizCMS.Data;
@{
    ViewBag.Title = "List/Edit Pages";
}

<div class="container">
    <div class="row">

        <h2>List/Edit Pages</h2>
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "textcolor" })
        </p>
        @helper NavTree(IEnumerable<Biznetix.BizCMS.Data.cms_Page> nodes, int? parentpage, bool subPages)
{
    if (nodes.Any(n => n.ParentPage == parentpage))
    {
        List<DepartmentUser> usrDepartments = (List<DepartmentUser>)ViewBag.GetDeparmentUsers;        
        <ul>
            @foreach (var p in nodes.Where(n => n.ParentPage == parentpage))
            {
                <li>
                    <span>@p.PageName</span>
                    @if ((bool)ViewBag.IsAdmin || 
                        usrDepartments.Any(x => x.DepartmentName == p.PageName) || 
                        usrDepartments.Any(x => x.UserId == p.UserId))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = p.PageID }, new { @class = "textcolor" })  <text>|</text>
                    }

                    @if (subPages == true)
                    {
                        if (@p.PageTypeID == 2 || p.PageTypeID == 5)
                        {
                            <a href="@p.LinkAddress" class="textcolor">View</a>
                        }
                        else
                        {
                            <a href="/@p.Filename" class="textcolor">View</a>
                        }
                    }
                    else
                    {
                        if ((bool)ViewBag.IsAdmin)
                        {
                            @Html.ActionLink("Create Sub Page", "Create", new { parentpage = p.PageID }, new { @class = "textcolor" })
                        }
                    }
                    @if ((p.ParentPage != 0) && 
                        (usrDepartments.Any(x => x.DepartmentName == p.PageName) || 
                        (bool)ViewBag.IsAdmin || 
                        usrDepartments.Any(x => x.UserId == p.UserId)))
                    {
                        <text>|</text> @Html.ActionLink("Delete", "Delete", new { id = p.PageID }, new { @class = "textcolor", @onclick = "return window.confirm('Are you sure you would like to delete?');" })
                    }
                    @NavTree(nodes, p.PageID, true)
                </li>
            }
        </ul>
    }
}
        @NavTree(Model, 0, false)
    </div>
</div>
