﻿@model  Biznetix.BizCMS.Data.MediaGalleryCategory
@Styles.Render("~/bundles/css/uploadify")
@Scripts.Render("~/bundles/uploadify")

@{
    List<Biznetix.BizCMS.Data.MediaGalleryCategory> Galleries = ViewBag.Galleries;
    List<int> PhotoCount = ViewBag.GalleryPhotoCount;
}
            <div class="col-md-6 title-header">
                <img src="~/Content/bizadmin/images/photos.png" /><h1>Gallery</h1>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-secondary float-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                    <img src="~/Content/bizadmin/images/add-icn.png" /> Create category
                </button>
            </div>
            <div class="clearfix"></div>


            <div class="col-12 row">
                @if (Galleries != null)
                {
                    for (int i = 0; i < Galleries.Count(); i++)
                    {
                <div class="col-6 col-sm-4 col-md-3">
                    <div class="col-md-12 ">
                        @if (@Galleries[i].FrontImageId != 0)
                        {
                            <a href="/BizAdmin/Gallery/ShowGallery?categoryName=@Galleries[i].CategoryName" class="gallerythumbnail">
                                <div style="background-image:url('/ContentPages/Gallery/@Galleries[i].PrimaryImageUrl')"  alt="@Galleries[i].Title" ></div>
                                <strong>@Galleries[i].CategoryName</strong><br />
                                <span>@PhotoCount[i] Photos</span>
                            </a>


                        }
                        else
                        {
                            <a href="/BizAdmin/Gallery/ShowFBGallery?categoryName=@Galleries[i].CategoryName&FBAlbumId=@Galleries[i].FacebookAlbumId">
                                <img src="//graph.facebook.com/@Galleries[i].FacebookAlbumId/picture" class="img-fluid" alt="No Image" />
                                <strong>@Galleries[i].CategoryName</strong>
                            </a>
                        }
                    </div>

                </div>
                    }
                }
            </div>
    

@* popup to create category and upload image *@
<div id="CreateAlbum" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add New Gallery</h4>
            </div>
                    @*@using (Html.BeginForm())
                        {*@
                    @Html.ValidationSummary()
                    <div class="popup-header">
                        <div class="popheader-sec col-md-6">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Untitled Category" })
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Say something about this Category..." })
                        </div>
                        @*<div class="col-md-6">
                            @Html.CheckBox("chkFacebook", false, new { @id = "chkFacebook" })
                            <span>Get Facebook Albums</span>*@
                            @*<div style="float:right;display:block">
                                @*<span style="">Cover Photo</span>*@
                          @*  <img style="height:80px;width:100px;float:right;display:block" id="imgFBCoverphoto" />*@
                            @*</div>*@
                            @*<select id="ddlFacebookAlbums" class="form-control form-control-width-smltxtbox" onchange="ShowAlbumImages(this)" disabled="disabled"></select>*@

                        @*</div>*@
                        <div class="clearfix"></div>
                    </div>

                    <div class="popup-body" id="fileQueue">
                        
                    </div>
                    <div class="popup-footer">
                        <div class="row">
                            <div class="col-md-6">
                                
                                    <input type="file" id="uploadFile" style="display:none">
                                
                            </div>
                            <div class="col-md-6">
                                <input id="btnSave" type="button" value="Save & Close" class="btn btn-outline-secondary float-right" disabled="disabled" onclick="saveImageFiles()" />
                                <input id="btnCancel" type="button" value="Cancel" onclick="cancelImageFiles()" class="btn btn-outline-secondary float-right" />
                            </div>
                            <div class="col-md-12" style="text-align:center">
                                <span id="errorMessage" class="alert-danger"></span>
                            </div>
                        </div>
                    </div>
                    @* } *@
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var imgarray = new Array();
        var nextImageId = @ViewBag.nextImageId
        $(document).ready(function () {
            $('#chkFacebook').change(function () {
                if ($('#chkFacebook').is(":checked")) {
                    $('#ddlFacebookAlbums').removeAttr('disabled');
                    listAlbums('BristolMountain');
                }
                else {
                    $('#ddlFacebookAlbums').attr('disabled', 'disabled');
                }
            });
        });
        $("#Description").blur(function () {
            if ($("#Title").val() != "" && $("#Description").val() != "") {
                $("#btnSave").removeAttr("disabled");
            }
            else {
                $("#btnSave").attr("disabled", "disabled");
            }
        });

        $("#Title").blur(function () {
            if ($("#Title").val() != "" && $("#Description").val() != "") {
                $("#btnSave").removeAttr("disabled");
            }
            else {
                $("#btnSave").attr("disabled", "disabled");
            }
        });

       $("#uploadFile").uploadifive({
            'swf': "/Scripts/Uploadify/uploadify.swf",
            'uploadScript': "/Bizadmin/Gallery/Uploadfile?categoryId=" + '@ViewBag.GalleryCategoryId',
            'fileObjName': 'fileData',
            'fileDesc': 'Web Image Files (.JPG, .GIF, .PNG)',
            'fileType': 'image/*',
            'buttonText': 'Upload Photos',
            'multi': true,
            'fileSizeLimit': '10MB',
            'simUploadLimit': 1,
            'cancelImg': '/Scripts/Uploadify/cancel.png',
            'auto': true,
            'height': 'auto',
            'width': 'auto',
            'removeCompleted': true,
            'buttonClass': 'btn btn-outline-secondary btn-file',
            'queueID': 'fileQueue',
            'onError': function (errorType, file) {
                if (errorType == "404_FILE_NOT_FOUND")
                    alert("Could not find upload script. Use a relative path. " );
                else if (errorType === "FILE_SIZE_LIMIT_EXCEEDED")
                    alert(file.name + " " + " Limit: " + Math.round(d.info / (1024 * 1024)) + "MB");
                else
                    alert("error " + file.name + ": " + errorType );
            },
            'onUploadComplete': function (file, data, response) {
                nextImageId = nextImageId + 1;
                var imageName = data.split("/")[3].split('.')[0] + nextImageId;
                $("div.popup-body").append("<div id='" + imageName + "' class='col-md-4'><img src='" + data + "' class='img-fluid' id='img_upload_" + nextImageId + "' style='height:150px' alt='Uploaded Image' /><textarea id='" + "imgdesc_" + imageName + "' class='form-control value=''></textarea></div>");

                imgarray.push({
                    ImageId: nextImageId,
                    CategoryId: '@ViewBag.GalleryCategoryId',
                    ImagePath: data,
                    ImageName: imageName
                });
            }
        });

        function saveImageFiles() {
            if ($("#Title").val() != "" && $("#Description").val() != "" && (imgarray.length > 0 || ($('#chkFacebook').is(":checked") && ($('#ddlFacebookAlbums').val() != "" && $('#ddlFacebookAlbums').val() != null)))) {
                errorMessage.innerHTML = '';
                var GalleryImages = new Array();
                if (imgarray.length > 0) {
                    for (var i = 0; i < imgarray.length; i++) {
                        GalleryImages.push({ CategoryTitle: $('#Title').val(), CategoryDesc: $('#Description').val(), ImageId: imgarray[i].ImageId, CategoryId: imgarray[i].CategoryId, ImagePath: imgarray[i].ImagePath, Title: $("#imgdesc_" + imgarray[i].ImageName).val() + "_" + $('#Title').val() + "_" + $('#Description').val() });
                    }
                }
                else {
                    GalleryImages.push({ Title: "" + "_" + $('#Title').val() + "_" + $('#Description').val() });
                }


                var images = JSON.stringify({ 'uploadedImages': GalleryImages, FbAlbumId: $('#chkFacebook').is(":checked") ? $('#ddlFacebookAlbums').val() : null });

                $.ajax({
                    contentType: 'application/json;',
                    dataType: 'json',
                    type: 'POST',
                    url: '/Bizadmin/Gallery/Index',
                    data: images,
                    success: function (data) {
                        if (data.Message == '' || data.Message == 'undefined') {
                            window.location.href = "/Bizadmin/Gallery/Index";
                        } else {
                            errorMessage.innerHTML = data.Message;
                        }
                    },
                    failure: function (response) {
                        alert("save failed");
                    }
                });
            }
            else {
                errorMessage.innerHTML = 'Please Upload Photos!..';
            }
        }

        function cancelImageFiles() {
            isCancel = true;
            var GalleryImages = new Array();
            if ($('#chkFacebook').is(":checked") == true && $('#ddlFacebookAlbums').val() > 0) {
                $('.FBfileQueue').remove();
                window.location.href = "/Bizadmin/Gallery/Index";
                return true;
            }
            if (imgarray.length > 0) {
                for (var i = 0; i < imgarray.length; i++) {
                    GalleryImages.push({ CategoryTitle: $('#Title').val(), CategoryDesc: $('#Description').val(), ImageId: imgarray[i].ImageId, CategoryId: imgarray[i].CategoryId, ImagePath: imgarray[i].ImagePath, Title: $("#imgdesc_" + imgarray[i].ImageName).val() + "_" + $('#Title').val() + "_" + $('#Description').val() });
                }

                var images = JSON.stringify({ 'uploadedImages': GalleryImages });

                $.ajax({
                    contentType: 'application/json;',
                    dataType: 'json',
                    type: 'POST',
                    url: '/Bizadmin/Gallery/CancelUploadImage',
                    data: images,
                    success: function (data) {
                        window.location = "/Bizadmin/Gallery/Index";
                    },
                    failure: function (response) {
                        alert("save failed");
                    }
                });
            }
            else {
                window.location = "/Bizadmin/Gallery/Index";
                return true;
            }
        }

        function ShowAlbumImages(selected_albumid) {
            if (selected_albumid.value == 0) {
                $('#uploadFile').css('visibility', 'visible');
            }
            else {
                $('#uploadFile').css('visibility', 'hidden');
            }
            //to get album cover photo
            $.getJSON('//graph.facebook.com/' + selected_albumid.value + '?callback=?', function (json, status, xhr) {
                var albums = json;
                $('#imgFBCoverphoto').attr('src', "//graph.facebook.com/" + albums.cover_photo + "/picture");
                $('#imgFBCoverphoto').attr('title', "Cover Photo - " + albums.name);
            });
            // images
            $.getJSON('//graph.facebook.com/' + selected_albumid.value + '/photos?callback=?', function (json, status, xhr) {
                $('.FBfileQueue').remove();
                var imgs = json.data;
                for (var i = 0, l = imgs.length - 1; i < l; i++) {
                    //$('<div class="col-6 col-sm-3"><a class="fancybox thumbnail" rel="group" href="' + imgs[i].images[0].source + '" title="' + imgs[i].from.name + '"><img class="img-thumbnail" src="' + imgs[i].images[3].source + '" alt="" /></a></div>').appendTo(thumbs);<textarea id='" + "imgdesc_" + imgs[i].images[0].name + "' class='form-control value=''></textarea>
                    $("div.popup-body").append("<div id='" + imgs[i].id + "' class='col-md-4 FBfileQueue'><img src='" + imgs[i].images[0].source + "' class='img-fluid' id='" + imgs[i].id + "_" + i + "' style='height:150px' alt='Uploaded Image' /></div>");
                }
            });
        }

        function listAlbums(username, limit) {
            thumbs = $('#thumbs');
            $.getJSON('//graph.facebook.com/' + username + '/albums', {}, function (json, status, xhr) {
                var albums = json.data;
                for (var i = 0, l = albums.length - 1; i < l; i++) {
                    $('#ddlFacebookAlbums').fillSelect(albums);
                    var option = new Option("--Select Albums--", 0);
                    $('#ddlFacebookAlbums').prepend(option);
                    $('#ddlFacebookAlbums').val(0);
                }
            });
        }

    </script>
}

