﻿@model IEnumerable<Biznetix.BizCMS.Data.MediaGalleryImage>
@section PageStyles {
    @Styles.Render("~/bundles/css/uploadify")
    
}


        <div class="col-md-12 col-sm-12 col-12 page-top row">
            <div class="col-md-6 title-header">
                <img src="~/Content/bizadmin/images/photos.png" /><h1>@ViewBag.GalleryCategoryName</h1>
            </div>
            <div class="col-md-6">
                <button class="btn btn-outline-secondary float-right" onclick="DeleteGallery('@ViewBag.GalleryCategoryId')">Delete</button>
                <button class="btn btn-outline-secondary float-right" style="margin-right:10px;" data-toggle="modal" data-target="#editGalleryCategory" onclick="EditGallery('@ViewBag.GalleryCategoryId')">Edit</button>
                <button class="btn btn-outline-secondary float-right" id="btnAddGalleryImage" style="margin-right:10px;" data-toggle="modal" data-target="#AddGalleryImage">
                    <img src="~/Content/bizadmin/images/add-icn.png" /> Gallery Image
                </button>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12 block-section">
            <div id="imageSort" class="row">
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    <div class="col-6 col-sm-4 col-md-3" data-id="@item.ImageId">
                        <div class="col-md-12">
                            <a class="text-right clearfix" style="display:block;float:right">
                                <img src="~/Images/cancel.png" style="width:20px;margin:1px 5px 0px 5px;" onclick="DeleteGalleryImage(@item.ImageId)" />
                            </a>&nbsp;
                            <a class="text-right clearfix" style="float:right;">
                                <img src="~/Images/edit.png" style="width:auto;margin:0px 5px 0px 5px;" data-toggle="modal" data-target="#editGalleryImage" onclick="LoadGalleryImgTitle('@item.Title','@item.ImageId','@ViewBag.FrontImageId')" />
                            </a>
                            <div class="clearfix"></div>

                            <a class="fancybox img-thumbnail" rel="group" href="/ContentPages/Gallery/@item.ImagePath" title="@item.Title">
                                <div style="background-image:url('/ContentPages/Gallery/@item.ImagePath')" alt="@item.Title" ></div>
                            </a>
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>

<div id="AddGalleryImage" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Gallery Image - @ViewBag.GalleryCategoryName</h4>
            </div>
            <div class="popup-body row no-gutters" id="fileQueue">

            </div>
            <div class="clearfix"></div>
            <div class="popup-footer">
                <div class="row">
                    <div class="col-md-6">
                            <input type="file" id="uploadFile" >
                    </div>
                    <div class="col-md-6  text-right">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" onclick="cancelImageFiles()">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="saveGalleryImages()">Save Gallery Images</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div id="editGalleryCategory" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-block">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit Gallery - @ViewBag.GalleryCategoryName</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <div class="row  clsreq">
                            <div class="col-md-6">
                                @Html.Label("Title", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBox("Title", null, new { @class = "form-control validate", id = "txtTitle" })
                            </div>
                            <div class="col-md-1">
                                <span class="reqspan text-danger">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row clsreq">
                            <div class="col-md-6">
                                @Html.Label("Description", new { @class = "control-label clear-fix" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBox("Description", null, new { @class = "form-control", id = "txtDescription" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer row no-gutters">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="UpdateGallery(@ViewBag.GalleryCategoryId)">Save changes</button>
                <div class="col-md-12" style="text-align:center">
                    <span id="errorMessage" class="alert-danger"></span>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="editGalleryImage" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-block">
                <div class="d-block no-gutters">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Gallery Image - @ViewBag.GalleryCategoryName</h4>
                </div>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <div class="row  clsreq">
                            <div class="col-md-6">
                                @Html.Label("Title", new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBox("Title", null, new { @class = "form-control validate", id = "txtGalleryImgTitle" })
                            </div>
                            <div class="col-md-1">
                                <span class="reqspan text-danger">*</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("Set as Front Image", new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.CheckBox("FrontImageId", new { id = "chkGalleryFrontImgId" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer row no-gutters">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="UpdateGalleryImage(@ViewBag.GalleryCategoryId)">Save changes</button>
                <div class="col-md-12" style="text-align:center">
                    <span id="errorMessage" class="alert-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("hdnImageId")

@section Scripts {
    @Scripts.Render("~/bundles/uploadify")
    @Scripts.Render("~/bundles/sortable")

<script type="text/javascript">
    var imgarray = new Array();
    var nextImageId = @ViewBag.nextImageId

    $(document).ready(function () {
        $(".reqspan").hide();
        $(".fancybox").fancybox({
            openEffect: 'elastic',
            nextEffect: 'fade',
            prevEffect: 'fade'
        });
    });
    
        
        $("#uploadFile").uploadifive({
            'swf': "/Scripts/Uploadify/uploadify.swf",
            'uploadScript': "/Bizadmin/Gallery/Uploadfile?categoryId=" + '@ViewBag.GalleryCategoryId',
            'fileObjName': 'fileData',
            'fileDesc': 'Web Image Files (.JPG, .GIF, .PNG)',
            'fileType': 'image/*',
            'buttonText': 'Upload Photos',
            'multi': true,
            'fileSizeLimit': '10MB',
            'simUploadLimit': 1,
            'cancelImg': '/Scripts/Uploadify/cancel.png',
            'auto': true,
            'height': 'auto',
            'width': 'auto',
            'removeCompleted':true,
            'buttonClass': 'btn btn-outline-secondary btn-file',
            'queueID': 'fileQueue',
            'onError': function (errorType, file) {
                if (errorType == "404_FILE_NOT_FOUND")
                    alert("Could not find upload script. Use a relative path. " );
                else if (errorType === "FILE_SIZE_LIMIT_EXCEEDED")
                    alert(file.name + " " + " Limit: " + Math.round(d.info / (1024 * 1024)) + "MB");
                else
                    alert("error " + file.name + ": " + errorType );
            },
            'onUploadComplete': function (file, data, response) {
                nextImageId = nextImageId + 1;
                var imageName = data.split("/")[3].split('.')[0] + nextImageId;
                $("div.popup-body").append("<div id='" + imageName + "' class='col-md-4 m-1'><img src='" + data + "' class='img-fluid' id='img_upload_" + nextImageId + "' style='height:150px;object-fit:contain' alt='Uploaded Image' /><textarea id='" + "imgdesc_" + imageName.replace(/ /g, '-') + "' class='form-control value=''></textarea></div>");

                imgarray.push({
                    ImageId: nextImageId,
                    CategoryId: '@ViewBag.GalleryCategoryId',
                    ImagePath: data,
                    ImageName: imageName
                });
            }
        });
  

    function saveGalleryImages() {
        if (imgarray.length > 0) {
            errorMessage.innerHTML = '';
            var GalleryImages = new Array();
            for (var i = 0; i < imgarray.length; i++) {
                GalleryImages.push({ ImageId: imgarray[i].ImageId, CategoryId: imgarray[i].CategoryId, ImagePath: imgarray[i].ImagePath, Title: $("#imgdesc_" + imgarray[i].ImageName.replace(/ /g, '-')).val() });
            }

            var images = JSON.stringify({ 'uploadedImages': GalleryImages, CategoryName: '@ViewBag.GalleryCategoryName' });

            $.ajax({
                contentType: 'application/json;',
                dataType: 'json',
                type: 'POST',
                url: '/Bizadmin/Gallery/SaveGalleryImages',
                data: images,
                success: function (data) {
                    if (data.Message == '' || data.Message == 'undefined') {
                        window.location.href = "/Bizadmin/Gallery/ShowGallery?categoryName=" + data.categoryName;
                    } else {
                        errorMessage.innerHTML = data.Message;
                    }
                },
                failure: function (response) {
                    alert("save failed");
                }
            });
        }
        else {
            errorMessage.innerHTML = 'Please Upload Photos!..';
        }
    }

    function cancelImageFiles() {
        isCancel = true;
        var GalleryImages = new Array();
        for (var i = 0; i < imgarray.length; i++) {
            GalleryImages.push({ ImagePath: imgarray[i].ImagePath });
        }

        var images = JSON.stringify({ 'uploadedImages': GalleryImages, categoryName: '@ViewBag.GalleryCategoryName' });

        $.ajax({
            contentType: 'application/json;',
            dataType: 'json',
            type: 'POST',
            url: '/Bizadmin/Gallery/CancelUploadImage',
            data: images,
            success: function (data) {
                window.location.href = "/Bizadmin/Gallery/ShowGallery?categoryName=" + data.categoryName;
            },
            failure: function (response) {
                alert("save failed");
            }
        });
    }

    function DeleteGalleryImage(id) {
        var goDelete = window.confirm("Are you sure you want to delete?");

        if (!goDelete)
            return;
        $.ajax({
            url: "/Bizadmin/Gallery/DeleteGalleryImage?imgid=" + id + "&categoryName=" + '@ViewBag.GalleryCategoryName',
            type: 'POST',
            dataType: 'json',
            data: null
        }).success(function (data) {
            if (!data.HasError) {
                window.location.href = "/Bizadmin/Gallery/ShowGallery?categoryName=" + data.categoryName;
            }
            else {
                window.alert(data.Message);
            }
        }).fail(function () {
            console.log('Error in Operation');
        });
    }

    function DeleteGallery(id) {
        var goDelete = window.confirm("Are you sure you want to delete the Gallery?");

        if (!goDelete)
            return;
        else
            var confirm = window.confirm("If you delete this, all Gallery images will be deleted!");

        if (!confirm)
            return;

        $.ajax({
            url: "/Bizadmin/Gallery/DeleteGallery?galleryCategoryId=" + id,
            type: 'POST',
            dataType: 'json',
            data: null
        }).success(function (data) {
            if (!data.HasError) {
                window.location.href = "/Bizadmin/Gallery/Index";
            }
        }).fail(function () {
            console.log('Error in Operation');
        });
    }

    function UpdateGallery(id) {
        var datatoSend = {
            CategoryID: id,
            Title: $('#txtTitle').val(),
            Description: $('#txtDescription').val()
        };
        $.ajax({
            url: "/Bizadmin/Gallery/UpdateGallery",
            type: 'POST',
            dataType: 'json',
            data: datatoSend
        }).success(function (data) {
            if (!data.HasError) {
                if (!data.HasError) {
                    window.location.href = "/Bizadmin/Gallery/ShowGallery?categoryName=" + data.CategoryName;
                }
            }
        });
    }

    function EditGallery(id) {
        $.ajax({
            url: "/Bizadmin/Gallery/EditGallery?id=" + id,
            type: 'POST',
            dataType: 'json',
            data: null
        }).success(function (data) {
            if (data != null) {
                $('#txtTitle').val(data.Gallery.Title);
                $('#txtDescription').val(data.Gallery.Description);
            }
        });
    }

    function LoadGalleryImgTitle(title, imgId, frontImageId) {
        $('#hdnImageId').val(imgId);
        $("#txtGalleryImgTitle").val(title);

        //debugger;
        if (parseInt(frontImageId) != parseInt(imgId)) {
            $('#chkGalleryFrontImgId').removeAttr('checked');
        }
        else {
            $('#chkGalleryFrontImgId').attr('checked', 'checked');
        }
        //parseInt(frontImageId) == parseInt(imgId) ? $('#chkGalleryFrontImgId').attr('checked', 'checked') : $('#chkGalleryFrontImgId').removeAttr('checked');
    }

    function UpdateGalleryImage() {
        var datatoSend = {
            ImageId: $('#hdnImageId').val(),
            CategoryID: '@ViewBag.GalleryCategoryId',
            Title: $('#txtGalleryImgTitle').val(),
            FrontImageId: $('#chkGalleryFrontImgId').is(":checked") == true ? $('#hdnImageId').val() : null,
            categoryName: '@ViewBag.GalleryCategoryName',
        };
        $.ajax({
            url: "/Bizadmin/Gallery/UpdateGalleryImage",
            type: 'POST',
            dataType: 'json',
            data: datatoSend
        }).success(function (data) {
            if (!data.HasError) {
                window.location.href = "/Bizadmin/Gallery/ShowGallery?categoryName=" + data.CategoryName;
            }
        });
    }

    var sortOptions = {
        onSort: function (evt) {
            var items = evt.to.children;
            var newOrder = [];
            for (var i = 0; i < items.length; i++) { newOrder.push($(items[i]).data('id')); }
            $.ajax({
                url: "/Bizadmin/Gallery/UpdateSort",
                type: "POST",
                data: { CategoryID: @ViewBag.GalleryCategoryId, SortedList: newOrder },
                dataType: "json"

            }).success(function (data) {

                });
        }
    }
    Sortable.create(imageSort, sortOptions);
</script>

}