﻿@{
    var isAuth = Convert.ToBoolean(ViewData["userAuthorized"]);

}
<div class="row dark-blue">
    <nav class="navbar navbar-expand-lg navbar-dark" style="width: 100%">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav justify-content-around" style="width: 100%">
                <li class="nav-item"><a class="nav-link" href="/BizAdmin/Pages/">Edit Pages</a></li>
                <li class="nav-item"><a class="nav-link" href="/BizAdmin/SlideShow/">Slide Shows</a></li>
                <li class="nav-item"><a class="nav-link" href="/BizAdmin/Events/"> Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/BizAdmin/News/">News  </a></li>
                <li class="nav-item"><a class="nav-link" href="/BizAdmin/Gallery/">Gallery  </a></li>
                @if (User.IsInRole("Admin") || isAuth)
                {
                    <li class="nav-item"><a class="nav-link" href="/BizAdmin/Employment/">Employment </a></li>
                }
                <li class="nav-item"><a class="nav-link" href="/BizAdmin/DocumentManager/">Documents</a></li>
                <li class="nav-item"><a class="nav-link" href="/BizAdmin/Contact/">View Contacts</a></li>
                @if (User.IsInRole("Admin"))
                {
                }
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item"><a class="nav-link" href="/BizAdmin/UserManager/">Users</a></li>
                    <li class="nav-item"><a class="nav-link" href="/BizAdmin/DrivingDirection/">Company Locations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/BizAdmin/BizAdmin/ConfigurationSettings/">Settings</a></li>
                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
