﻿
<style type="text/css">
    .cke_contents {
        height: 120px !important;
    }
</style>
<div id="addSlideshowImage" class="modal fade ss-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="SlideShowImageDialog" class="modal-dialog modal-dialog-slideshow clearfix">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@ViewBag.ModalTitle</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
