﻿@model Biznetix.BizCMS.Data.CompanyLocation
@{
    var Title = Model == null ? "Add Company Location" : "Edit Company Location";
}
<div class="col-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="inner-bg">
            <div class="container">
                <div class="col-12">
                    <div class="opacity-add">
                        <h4>@Title</h4>
                        <div class="col-md-12 row">
                            

                            <div class="col-6">
                                <div class="form-group row" style="display:none">
                                    @Html.LabelFor(model => model.LocationID, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.LocationID)
                                        @Html.HiddenFor(model => model.LocationID)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-width-txtbox" })
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control form-control-width-txtbox" })
                                        @Html.ValidationMessageFor(model => model.Address)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.City, "City", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control form-control-width-txtbox" })
                                        @Html.ValidationMessageFor(model => model.City)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.State, "State", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.State, new { @class = "form-control form-control-width-txtbox" })
                                        @Html.ValidationMessageFor(model => model.State)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Zip, "Zip", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Zip, new { @class = "form-control", maxlength = 10 })
                                        @Html.ValidationMessageFor(model => model.Zip)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9" style="padding-top:5px !important">
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", type = "tel", maxlength = 20 })
                                        @Html.ValidationMessageFor(model => model.Phone)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9" style="padding-top:5px !important">
                                        @Html.CheckBoxFor(model => model.Active)
                                        @Html.ValidationMessageFor(model => model.Active)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.RegularHours, new { @class = "control-label col-md-3" })

                                    <div class="col-md-9" style="padding-top:5px !important">

                                        @Html.TextBoxFor(model => model.RegularHours, new { @class = "form-control form-control-width-txtbox" })
                                        @Html.ValidationMessageFor(model => model.RegularHours)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.SaturdayHours, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9" style="padding-top:5px !important">
                                        @Html.TextBoxFor(model => model.SaturdayHours, new { @class = "form-control form-control-width-txtbox" })
                                        @Html.ValidationMessageFor(model => model.SaturdayHours)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.SundayHours, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9" style="padding-top:5px !important">
                                        @Html.TextBoxFor(model => model.SundayHours, new { @class = "form-control form-control-width-txtbox" })
                                        @Html.ValidationMessageFor(model => model.SundayHours)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-md-3 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                                <span id="errorMessage" class="alert-danger"></span>
                                <div>
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form">
                                    <div class="form-group row">
                                        @Html.Label("Geocoding", new { @class = "control-label col-md-2" })
                                        <div class="col-md-10" style="border:1px solid #fff;">
                                            <div class="col-6 row-offset0">
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.Latitude)
                                                    @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control", @style = "width:150px;", id = "txtLatitude", type = "number" })
                                                </div>
                                            </div>
                                            <div class="col-6 row-offset0">
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.Longitude)
                                                    @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control", @style = "width:150px;", id = "txtLongitude", type = "number" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-10">
                                                    <input type="button" value="Get Directions" class="btn btn-outline-secondary" onclick="getDirection()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="row">
                                        <div id="map" style="height: 390px;" class="col-12"></div>
                                        <div id="directionpanel" style="height: 390px;overflow: auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script language="javascript" type="text/javascript">
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();

    function InitializeMap() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var latlng = new google.maps.LatLng($('#txtLatitude').val(),$('#txtLongitude').val());
        var myOptions =
        {
            zoom: 12,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directionpanel'));

        var control = document.getElementById('control');
        control.style.display = 'block';
    }

    function calcRoute() {
        var start = "1200 A Scottsville Rd suite 399 Rochester, NY14624";
        var end = document.getElementById('txtStreet').value + document.getElementById('txtZip').value;
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });
    }
    function getDirection()
    {
        InitializeMap();
    }
    //window.onload = InitializeMap;
</script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#errorMessage').text('@ViewBag.errorMessage');
    });
</script>