﻿@model Biznetix.BizCMS.Data.Job_Listing

<script>
    $(function () {
        $("#date_Posted").datepicker({
            showOn: "button",
            buttonImage: "/Images/calendar.gif",
            buttonImageOnly: true,
            buttonText: "Select date"
        });        
    });
</script>

<style type="text/css">
    input, select, textarea {
        max-width: none;
    }

    .cke_contents {
        height: 120px !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-sm-12">
        <h4>Employment</h4>
        @Html.ValidationSummary()

        <div class="form-group row" style="display:none">
            @Html.LabelFor(model => model.Job_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Job_ID)
                @Html.HiddenFor(model => model.Job_ID)
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Title", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Job_title, new { @class = "form-control form-control-width-txtbox" })
                @Html.ValidationMessageFor(model => model.Job_title)
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Posted Date", "Posted Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.date_Posted, "{0:yyyy/MM/dd}", new { @class = "form-control form-control-width-smltxtbox col-md-6" })
                @Html.ValidationMessageFor(model => model.date_Posted)
            </div>
        </div>           
        <div class="form-group row">
            @Html.Label("Qualifications", new { @class = "control-label col-md-2" })

            <div class="col-md-10" style="padding-top:5px !important">
                @Html.TextBoxFor(model => model.Qualifications, new { @class = "form-control form-control-width-txtbox" })
                @Html.ValidationMessageFor(model => model.Qualifications)
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Job Description", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Job_description, new { @class = "ckeditor form-control" })
                @Html.ValidationMessageFor(model => model.Job_description)
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Short Job Description", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Short_Job_Description, new { @class = "ckeditor form-control" })
                @Html.ValidationMessageFor(model => model.Short_Job_Description)
            </div>
        </div>     
        <div class="form-group row">
            @Html.Label("Contact", new { @class = "control-label col-md-2" })

            <div class="col-md-10" style="padding-top:5px !important">
                @Html.TextBoxFor(model => model.Contact, new { @class = "form-control form-control-width-txtbox" })
                @Html.ValidationMessageFor(model => model.Contact)
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Salary Range", new { @class = "control-label col-md-2" })

            <div class="col-md-10" style="padding-top:5px !important">
                @Html.TextBoxFor(model => model.Salary_range, new { @class = "form-control form-control-width-txtbox" })
                @Html.ValidationMessageFor(model => model.Salary_range)
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Availability", new { @class = "control-label col-md-2" })

            <div class="col-md-10" style="padding-top:5px !important">
                @Html.TextBoxFor(model => model.When_available, new { @class = "form-control form-control-width-txtbox" })
                @Html.ValidationMessageFor(model => model.When_available)
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Active", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-top:5px !important">
                @Html.CheckBoxFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>