﻿@model Biznetix.BizCMS.Data.Event
@using Biznetix.BizCMS
@using Biznetix.Common.StringExtensions

<script>
    $(function () {
        $("#EventStartDate").datepicker({  });
        $("#EventEndDate").datepicker({ });
        $("#EventStartTimeValue").timepicker();
        //  $("#EventStartTime").timepicker('setTime', $("#starttime").val());

        $("#EventEndTimeValue").timepicker();
      //  $("#EventEndTime").timepicker('setTime', $("#endtime").val());
    });
</script>

<style type="text/css">
    input, select, textarea {
        max-width: none;
    }

    .cke_contents {
        height: 120px !important;
    }
</style>

<script type="text/javascript" src="@Url.Content("~/Content/jquery.timepicker/js/jquery.timepicker.js")"></script>
<link href="@Url.Content("~/Content/jquery.timepicker/css/jquery.timepicker.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="col-sm-12">
    <h4>Events</h4>
    @{
        Html.ValidationSummary();
        Html.HiddenFor(model => model.EventID);

        Html.HiddenFor(model => model.CategoryID);

        Html.HiddenFor(model => model.Recurring);
        Html.HiddenFor(model => model.RecurringDay);
    }
    <input type="hidden" value="@ViewBag.EventStartTime" id="starttime" />
    <input type="hidden" value="@ViewBag.EventEndTime" id="endtime" />
    <div class="form-group row" style="display:none">
        @Html.LabelFor(model => model.EventID, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.EventID)
            @Html.HiddenFor(model => model.EventID)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control form-control-width-txtbox" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>
    @if (ViewBag.UseCategories != null && ViewBag.UseCategories)
    {
        <div class="form-group row">
            @Html.LabelFor(model => model.CategoryID, "Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryID, new SelectList(ViewBag.EventCategory, "CategoryID", "CategoryName"), "--Select Categories--", new { @class = "form-control form-control-width-smltxtbox" })
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>
    }
    <div class="form-group row">
        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { @class = "ckeditor form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Location, new { @class = "form-control form-control-width-txtbox" })

            @Html.ValidationMessageFor(model => model.Location)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.EventStartDate, "Start Date/Time", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="row col">
                @Html.TextBoxFor(model => model.EventStartDate, "{0:d}", new { @class = "form-control form-control-width-smltxtbox col-md-4" })
                @Html.ValidationMessageFor(model => model.EventStartDate)
                <div class="control-label"> : </div>
                @Html.TextBoxFor(model => model.EventStartTimeValue, "{0:hh\\:mm}", new { @class = "form-control input-small bootstrap-timepicker col-md-4" })
                @Html.ValidationMessageFor(model => model.EventStartTimeValue)
            </div>
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.EventEndDate, "End Date/Time", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="row col">
                @Html.TextBoxFor(model => model.EventEndDate, "{0:d}", new { @class = "form-control form-control-width-smltxtbox col-md-4" })
                @Html.ValidationMessageFor(model => model.EventEndDate)
                <div class="control-label">:</div>
                @Html.TextBoxFor(model => model.EventEndTimeValue, new { @class = "form-control input-small bootstrap-timepicker col-md-4" })
                @Html.ValidationMessageFor(model => model.EventEndTimeValue)
            </div>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Featured, new { @class = "control-label col-md-2" })

        <div class="col-md-10" style="padding-top:5px !important">

            @Html.CheckBoxFor(model => model.Featured)
            @Html.ValidationMessageFor(model => model.Featured)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="padding-top:5px !important">
            @Html.CheckBoxFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>
    </div>
    @if (GlobalSettings.config_settings["AllowEventRegistration"].ToBoolean())
    {
        <div class="form-group row">
            @Html.LabelFor(model => model.RequiresRegistration, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-top:5px !important">
                @Html.CheckBoxFor(model => model.RequiresRegistration)
                @Html.ValidationMessageFor(model => model.RequiresRegistration)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.EventCoordinatorEmail, "Event Coordinator Email", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EventCoordinatorEmail, new { @class = "form-control form-control-width-txtbox" })
                @Html.ValidationMessageFor(model => model.EventCoordinatorEmail)
            </div>
        </div>
        if (GlobalSettings.config_settings["AllowEventPricingOptions"].ToBoolean())
        {
            <div class="card" id="EventPricingOptions">
                <div class="card-body">
                    <h6 class="card-title">Event Options &amp; costs</h6>
                    <div class="card-text">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Description_Cost_1, "Cost Description", new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Description_Cost_1, new { @class = "form-control form-control-width-txtbox" })
                                @Html.ValidationMessageFor(model => model.Description_Cost_1)
                            </div>
                            <div class="col-md-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Cost_1, new { @class = "form-control form-control-width-txtbox" })
                                </div>

                                @Html.ValidationMessageFor(model => model.Cost_1)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Description_Cost_2, "Cost Description", new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Description_Cost_2, new { @class = "form-control form-control-width-txtbox" })
                                @Html.ValidationMessageFor(model => model.Description_Cost_2)
                            </div>
                            <div class="col-md-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Cost_2, new { @class = "form-control form-control-width-txtbox" })
                                </div>

                                @Html.ValidationMessageFor(model => model.Cost_2)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Description_Cost_3, "Cost Description", new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Description_Cost_3, new { @class = "form-control form-control-width-txtbox" })
                                @Html.ValidationMessageFor(model => model.Description_Cost_3)
                            </div>
                            <div class="col-md-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Cost_3, new { @class = "form-control form-control-width-txtbox" })
                                </div>

                                @Html.ValidationMessageFor(model => model.Cost_3)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Description_Cost_4, "Cost Description", new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Description_Cost_4, new { @class = "form-control form-control-width-txtbox" })
                                @Html.ValidationMessageFor(model => model.Description_Cost_4)
                            </div>
                            <div class="col-md-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Cost_4, new { @class = "form-control form-control-width-txtbox" })
                                </div>

                                @Html.ValidationMessageFor(model => model.Cost_4)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
        else
        {
            Html.HiddenFor(model => model.Cost_1);
            Html.HiddenFor(model => model.Cost_2);
            Html.HiddenFor(model => model.Cost_3);
            Html.HiddenFor(model => model.Cost_4);
            Html.HiddenFor(model => model.Description_Cost_1);
            Html.HiddenFor(model => model.Description_Cost_2);
            Html.HiddenFor(model => model.Description_Cost_3);
            Html.HiddenFor(model => model.Description_Cost_4);

        }
    }
    else
    {
        Html.HiddenFor(model => model.Cost_1);
        Html.HiddenFor(model => model.Cost_2);
        Html.HiddenFor(model => model.Cost_3);
        Html.HiddenFor(model => model.Cost_4);
        Html.HiddenFor(model => model.Description_Cost_1);
        Html.HiddenFor(model => model.Description_Cost_2);
        Html.HiddenFor(model => model.Description_Cost_3);
        Html.HiddenFor(model => model.Description_Cost_4);
        Html.HiddenFor(model => model.EventCoordinatorEmail);
        Html.HiddenFor(model => model.RequiresRegistration);

    }

        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

        }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>