﻿@model Biznetix.BizCMS.Data.FST_File
@Styles.Render("~/bundles/css/uploadify")
@Scripts.Render("~/bundles/uploadify")
@{
    string Action = ViewBag.Action;
}
@using (Html.BeginForm(Action, "FileManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="col-sm-12">
        <h4>Document - File Management</h4>
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row" style="display:none">
            @Html.LabelFor(model => model.FileID, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DisplayFor(model => model.FileID)
                @Html.HiddenFor(model => model.FileID)
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Folder", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.FolderID, ViewBag.FolderList as IEnumerable<SelectListItem>, "Select Folder", new { @id = "ddlFolder", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FolderID)
            </div>
        </div>
        @if (Action == "Create")
        {
            <div class="form-group row">
                @Html.Label("Select a file to upload", new { @class = "control-label col-md-2" })

                <div class="col-md-4" style="padding-top:5px !important">
                    <input type="file" name="file" id="uploadFile" />

                </div>
            </div>
        }
        @Html.LabelFor(x => x.FileName, new { @style = "display:none;", id = "lblFileName" })

        <div class="form-group row">
            @Html.Label("Enter file title", "Title", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control form-control-width-smltxtbox col-md-6", id = "txtTitle" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        @*<div class="form-group row">
            @Html.Label("Description", "Description", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control form-control-width-smltxtbox col-md-6" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>*@
        <div class="form-group row">
            @Html.Label("SortOrder", "SortOrder", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.SortOrder, new { @class = "form-control form-control-width-smltxtbox col-md-6" })
                @Html.ValidationMessageFor(model => model.SortOrder)
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Is Private", new { @class = "control-label col-md-2" })
            <div class="col-md-4" style="padding-top:5px !important">
                @Html.CheckBoxFor(model => model.IsPrivate, new { id = "chkIsPrivate" })
                @Html.ValidationMessageFor(model => model.IsPrivate)
            </div>
        </div>
        @*<div class="form-group row">
            @Html.Label("LinkUrl", "Link Url", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.LinkUrl, new { @class = "form-control form-control-width-smltxtbox col-md-6", id = "txtLinkUrl", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.LinkUrl)
                @Html.Label("PermaLink:", new { id = "lblPermaLink" })
            </div>
        </div>*@
        <div class="form-group row">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
            <div class="col-md-4" style="padding-top:5px !important">
                @Html.CheckBoxFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index", "DocumentManager", new { ContentPage = "FileManager" }, new { })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$("#uploadFile").uploadify({
        //    'swf': "/Scripts/Uploadify/uploadify.swf",
        //    'uploader': "/Bizadmin/FileManager/Uploadfile?folderID=" + $('#ddlFolder').val(),
        //    'fileDataName': 'file',
        //    'fileDesc': 'Web Image Files (.JPG, .GIF, .PNG)',
        //    'fileExt': '*.jpg;*.gif;*.png',
        //    'buttonText': 'Upload Photos',
        //    'multi': true,
        //    'sizeLimit': 1048576,
        //    'simUploadLimit': 1,
        //    'cancelImg': '/Scripts/Uploadify/cancel.png',
        //    'auto': true,
        //    'height': 30,
        //    'queueID': 'fileQueue',
        //    'onError': function (a, b, c, d) {
        //        if (d.status == 404)
        //            alert("Could not find upload script. Use a path relative to: " + "<?= getcwd() ?>");
        //        else if (d.type === "HTTP")
        //            alert("error " + d.type + ": " + d.status);
        //        //else if (d.type === "File Size")
        //        //   alert(c.name + " " + d.type + " Limit: " + Math.round(d.info / (1024 * 1024)) + "MB");
        //        //else
        //        //    alert("error " + d.type + ": " + d.text);
        //    },
        //    'onUploadSuccess': function (file, data, response) {
        //        $('#lblFileName').text(data.fileName);
        //    }
        //});
        $('#chkIsPrivate').change(function () {
            if ($('#chkIsPrivate').is(":unchecked")) {
                $('#txtLinkUrl').removeAttr('disabled');
                $('#txtLinkUrl').val($('#txtTitle').val().trim());
                $('#lblPermaLink').text(window.location.host + '/Bizadmin/FileManager?FileName=' + $('#txtLinkUrl').val().trim());
            }
            else {
                $('#txtLinkUrl').attr('disabled', 'disabled');
            }
        });

        if ($('#chkIsPrivate').is(":unchecked")) {
            $('#txtLinkUrl').removeAttr('disabled');
        }
        else {
            $('#txtLinkUrl').attr('disabled', 'disabled');
        }

        $('#txtLinkUrl').keyup(function () {
            $('#lblPermaLink').text(window.location.host + '/Bizadmin/FileManager?FileName=' + $('#txtLinkUrl').val());
        });
        $('#lblPermaLink').text(window.location.host + '/Bizadmin/FileManager?FileName=' + $('#txtLinkUrl').val());
    });
</script>