﻿@model Biznetix.BizCMS.Data.FST_Folder

<script>
    $(function () {
        $("#DateAdded").datepicker({
            showOn: "button",
            buttonImage: "/Images/calendar.gif",
            buttonImageOnly: true,
            format:"MM/dd/yyyy",
            buttonText: "Select date"
        });
    });
</script>

<style type="text/css">
    input, select, textarea {
        max-width: none;
    }

    .cke_contents {
        height: 120px !important;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-sm-12">
        <h4>Document - Folder Management</h4>
        <div id="lblNotificationmessage" style="color: #C9302C;font-weight: bold">@ViewBag.Message</div>
        @Html.ValidationSummary()

        <div class="form-group row" style="display:none">
            @Html.LabelFor(model => model.FolderID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FolderID)
                @Html.HiddenFor(model => model.FolderID)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.FolderName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FolderName, new { @class = "form-control form-control-width-txtbox" })
                @Html.ValidationMessageFor(model => model.FolderName)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.FolderDesc, new { @class = "control-label col-md-2" })

            <div class="col-md-10" style="padding-top:5px !important">
                @Html.TextBoxFor(model => model.FolderDesc, new { @class = "form-control form-control-width-txtbox" })
                @Html.ValidationMessageFor(model => model.FolderDesc)
            </div>
        </div>
            @Html.HiddenFor(model => model.DateAdded)
        <div class="form-group row">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-top:5px !important">
                @Html.CheckBoxFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index", "DocumentManager", new { ContentPage = "FolderManager" }, new { })
</div>