﻿                    <!-- Brand and toggle get grouped for better mobile display -->
@helper getNavTreeAndDisplay(IEnumerable<Biznetix.BizCMS.Data.cms_Page> nodes, int? parentpage, int level, int selected)
{
    if (nodes != null && nodes.Any(n => n.ParentPage == parentpage))
    {
        <ul class="@(level>0 ? "dropdown-menu" : "nav navbar-nav")">

            @foreach (var p in nodes.Where(n => n.ParentPage == parentpage))
            {
                switch (p.PageTypeID)
                {
                    case 1: // normal
                        @Html.Raw("<li><a class='' href='/" + @p.Filename + "'>" + @p.PageName + "</a>");
                                                                                                       break;
                    case 2: // link                       
                        @Html.Raw("<li><a class='' href='" + @p.LinkAddress + "'>" + @p.PageName + "</a>"); break;                        
                    case 3: // unknown
                        break;
                    case 4: // subPagesOnly
                    @Html.Raw("<li><a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + @p.PageName + " <span class='caret'></span>" + "</a>");
                                                                                                                          break;
                    case 5: // external Link
                    @Html.Raw("<li><a class='' href='" + @p.LinkAddress + "'>" + @p.PageName + "</a>");
                                                                                                         break;
                    case 6: // Gallery
                                                                                                         break;
                    default:
                    @Html.Raw("<li><a class='' href='" + @p.LinkAddress + "'>" + @p.PageTypeID + "</a>");
                                                                                                            break;

                }
                @getNavTreeAndDisplay(nodes, p.PageID, @level + 1, selected);
                @Html.Raw("</li>\n");
            }
        </ul>
    }

}
<nav>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
        @getNavTreeAndDisplay(ViewBag.navpages, 0, 0, 0)
    </div>
</nav>
