﻿@model Biznetix.BizCMS.Data.NewsItem

<script>
    $(function () {
        $("#PostedDate").datepicker({  });
        $("#ExpiresDate").datepicker({  });
    });
</script>

<style type="text/css">
    input, select, textarea {
        max-width: none;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div >
        <h4>News</h4>        
        @Html.ValidationSummary()

        <div class="form-group row" style="display:none">
            @Html.LabelFor(model => model.NewsItem_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NewsItem_ID)
                @Html.HiddenFor(model => model.NewsItem_ID)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Body, new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                @Html.TextAreaFor(model => model.Body, new { @class = "ckeditor form-control", cols = 80, @rows = 10 })
                @Html.ValidationMessageFor(model => model.Body)
            </div>
        </div>

        <div class="form-group row" style="display:none">
            @Html.LabelFor(model => model.BodyStripped, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.BodyStripped, new { cols = 80, @rows = 10 })
                @Html.ValidationMessageFor(model => model.BodyStripped)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.PostedDate, "Posted Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PostedDate, "{0:d}", new { @class = "form-control form-control-width-smltxtbox col-md-6" })
                @Html.ValidationMessageFor(model => model.PostedDate)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.ExpiresDate, "Expiration Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ExpiresDate, "{0:d}", new { @class = "form-control form-control-width-smltxtbox col-md-6" })
                @Html.ValidationMessageFor(model => model.ExpiresDate)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Home, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Home)
                @Html.ValidationMessageFor(model => model.Home)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Archive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Archive)
                @Html.ValidationMessageFor(model => model.Archive)
            </div>
        </div>


        <div class="form-group row">
            @Html.LabelFor(model => model.Publication, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Publication, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Publication)
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>