﻿@model Biznetix.BizCMS.Data.AspNetUser
@{
    List<Biznetix.BizCMS.Data.DepartmentUser> DepartmentUsr = ViewBag.DeparmentUser;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Users</h4>
        @Html.ValidationSummary()
        @*<div class="form-group row">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>*@
        <div class="form-group row">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Email, "AlternateEmail", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
                <a href="/Account/Manage?user=@Model.UserName">Reset Password</a>
            </div>
        </div>          
        <div class="form-group row">
            @Html.Label("Roles", new { @class = "control-label col-md-2" })
            <div class="col-md-4">                
                @Html.CheckBox("AdminRole", (bool)ViewBag.AdminRole, new { id = "chkAdminRole" })
                @Html.Label("lblAdminRole", "Admin", new { @class = "control-label", id = "lblAdminRole" })
            </div>
            @if (User.IsInRole("SuperAdmin")) {
                <div class="col-md-10 offset-md-2">
                    @Html.CheckBox("SuperAdminRole", (bool)ViewBag.SuperAdminRole, new { id = "chkSuperAdminRole" })
                    @Html.Label("lblSuperAdminRole", "Super Admin", new { @class = "control-label", id = "lblSuperAdminRole" })
                </div>
            }
            <div class="col-md-10 offset-md-2">
                @Html.CheckBox("TrustedRole", (bool)ViewBag.TrustedRole, new { id = "chkTrustedRole" })
                @Html.Label("lblTrustedRole", "Trusted Editor", new { @class = "control-label", id = "lblTrustedRole" })
            </div>
        </div>
        @*<div class="form-group row" id="divDepartment">
            <div class="col-md-2">
                @Html.Label("Deparment", new { @class = "control-label col-md-2", id = "lblmemFeatures" })
            </div>
            <div class="col-md-8" style="padding: 0px;">
                @foreach (var item in DepartmentUsr)
                {
                    <div class="col-md-3 departments" style="float:left">
                        @Html.CheckBox(item.DepartmentName, item.IsAssigned, new { id = "chkDepartment_" + item.DepartmentTypeId })
                        @Html.Label(item.DepartmentName, new { @class = "control-label", @style = "margin-left:5px;", id = "lbldepartment_" + item.DepartmentTypeId })
                    </div>
                }
                @foreach (var item in (List<Biznetix.BizCMS.Data.Department>)ViewBag.Departments)
                {
                    if (item.DepartmentTypeId != DepartmentUsr.Where(x => x.DepartmentTypeId == item.DepartmentTypeId).Select(x => x.DepartmentTypeId).FirstOrDefault())
                    {
                        <div class="col-md-3 departments" style="float:left">
                            @Html.CheckBox(item.DepartmentName, false, new { id = "chkDepartment_" + item.DepartmentTypeId, value = "@item.Active" })
                            @Html.Label(item.DepartmentName, new { @class = "control-label", @style = "margin-left:5px;", id = "lbldepartment_" + item.DepartmentTypeId })
                        </div>
                    }
                }
            </div>
        </div>*@
        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" onclick="getDepartments()" />
            </div>
        </div>
    </div>
    <input hidden="hidden" name="departments" id="hdnDeparments" />
    <input hidden="hidden" name="AdminRole" id="hdnAdminRole" />
    <input hidden="hidden" name="SuperAdminRole" id="hdnSuperAdminRole" />
    <input hidden="hidden" name="TrustedRole" id="hdnTrustedRole" />
    <input hidden="hidden" name="ConfirmPassword" id="hdnPassword" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    function getDepartments() {
        var Departments = "";
        $('.departments > input:checkbox').each(function () {
            if ($('#' + this.id).is(":checked")) {
                //Departments += $('#lbldepartment_' + this.id.split('_')[1]).text() + ",";
                Departments += "Assigned" + "|" + this.id.split('_')[1] + ",";
            } else { Departments += "NotAssigned" + "|" + this.id.split('_')[1] + ","; }
        });
        $('#hdnDeparments').val(Departments);
        $('#hdnAdminRole').val($('#chkAdminRole').is(":checked"));
        $('#hdnSuperAdminRole').val($('#chkSuperAdminRole').is(":checked"));
        $('#hdnTrustedRole').val($('#chkTrustedRole').is(":checked"));
        $('#hdnPassword').val($('#txtConfirmPassword').val());
    }
    //$(document).ready(function () {
    //    $(document).ready(function () {
    //        $('#chkAdminRole').change(function () {
    //            if ($('#chkAdminRole').is(':checked')) {
    //                $('#divDepartment').hide();
    //            }
    //            else {
    //                $('#divDepartment').show();
    //            }
    //        });
    //    });
    //});
</script>
