body {
  background-color: #A1B14F;
  z-index: -2;
  position: relative;
}

.headtop > .container {
    padding: 0;
}

.brand_ {
  width: auto;
  height: 300px; /* This is for mockup purposes, probably should be changed. */
  max-height: 50vw; /* This is for mockup purposes, probably should be changed. */
  position: relative;
  background-image: url('../Images/banner.jpg');
  background-size: 100% 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.brand_ > a {
  margin: 4px;
  position: absolute;
  bottom: 0;
}

.cambria-body {
  background-color: #D4ECFB;
  border-radius: 0 0 50% 50% / 0 0 100px 100px;
  padding: 0 0 94px 0;
  border-bottom: 6px solid #3671A9;	
}

.cambria-nav {
  background-image: linear-gradient(#497494, #344D63);
  text-shadow: 0 1px 2px black;
  box-shadow: 0 1px 1px rgba(0,0,0,0.35);
  z-index: 1;
}

.cambria-center, .cambria-sidebar {
  padding-top: 1em;
}

.cambria-nav a {
  color: white !important;
}

.cambria-nav .navbar-nav {
  width: 100%;
}

.cambria-nav .nav-link:not(:last-of-type) {
  border-right: 1px solid #397EB6;
}

#content > .row {
    margin: 0;
}

.cambria-center {
  background-color: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

@media(min-width: 768px) {
    .cambria-center {
        border-radius: 0 0 50% 50% / 0 0 100px 100px;
        margin-bottom: -100px;
        padding-bottom: 100px;
    }

    .cambria-sidebar:first-of-type {
        text-align: right;
    }
}

.cambria-sidebar .nav-link {
  padding: .1rem;
}

.cambria-sidebar {
  word-wrap: break-word;
}

.cambria-bottom {
  background-color: #25435D;
  color: white;	
  border-top: 1px solid white;
  padding: 100px 0 1em 0;
  margin-top: -100px;
  z-index: -1;
  position: relative;
}