/**************************
*
*	GENERAL
*
**************************/
.slider{
    position:relative;
    margin-bottom: 0!important;
    overflow: hidden !important;
    z-index: 1;
}

.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
	z-index: 1;
	overflow:visible;
	width: 100%;
    height: 388px;
    margin: 0 !important;
}
.slidershadow{
    position: relative;
    width: 100%;
    height: 11px;
}
.camera_wrap img {
	max-width: none !important;
}
.camera_fakehover {
	height: 100%;
	min-height: 150px;
	position: relative;
	width: 100%;
	z-index: 1;
}

.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;	
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 1;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

/*---------------------------*/
    .camera_caption{
        top: 50% !important;
        bottom: 0 !important;
        right: 100px;
        width: 500px;
        position: absolute;
        display: block;
        margin-top: -100px;
        margin-right: 0;
    }

    .camera_caption_bg{
        padding: 0 0 0 0;
        text-align: right;  
        float: right; 
    }


    .camera_caption .title1{	
        letter-spacing: -1px;
        vertical-align: top;
        display: inline-block;
        top: 0;
        overflow: hidden;
        text-align: right;
        font-family: 'PT Sans', sans-serif;
        font-size: 42px;
        line-height: 46px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        box-sizing: border-box;
        padding: 24px 24px 24px;
        background-color: #09067e;
    }
    
    .camera_caption .title2{
        word-spacing: -2px;
        display: inline-block;
        vertical-align: top;
        top: 0;
        box-sizing: border-box;
        overflow: hidden;
        text-align: right;
        font-family: 'PT Sans', sans-serif;
        font-size: 22px;
        line-height: 26px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        padding: 23px 19px 24px 24px;
        background-color: #33333d;
    }
/*---------------------------*/
/*
.camera_pag{
    z-index: 10;
    bottom: 5px;
    left: 8%;
    margin-left: -2px;
    position: absolute;
}

.camera_pag_ul{
    position: relative;
    text-align: center;
    width: 100%;
    height: 22px;
    overflow: hidden;    

}
.camera_pag_ul li span {
    display: none;
}
.camera_pag_ul li {
    margin: 0 2px;
    padding: 0;
    position: relative;
    cursor: pointer;
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(/img/cam_pag.png) center top no-repeat;
}
.camera_pag_ul li:hover {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(/img/cam_pag.png) center bottom no-repeat;
}
.camera_pag_ul li.cameracurrent {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(/img/cam_pag.png) center bottom no-repeat;
}
*/

.camera_loader {
	background: url(/img/camera-loader.gif) no-repeat center;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}

.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}

.camera_prev,
.camera_next {
    cursor: pointer;
    position: absolute; 
    z-index: 1000;
    top:0;
    padding: 23px 26px;
    width: 8px;
    height: 13px;
    background: #09067e;
    overflow: hidden;
}

.camera_prev {
    background: #09067e url(/img/camprev.png) center 24px no-repeat;
    left: 12%;
}
.camera_next {
    background: #09067e url(/img/camnext.png) center 24px no-repeat;
    left: 371px;
    left: 12%;
    margin-left: 60px;
}
.camera_prev:hover {
    background: #33333d url(/img/camprev.png) center -14px no-repeat;
}
.camera_next:hover {
    background: #33333d url(/img/camnext.png) center -14px no-repeat;
}


@media (min-width: 1200px) {
    
    .camera_wrap {
        margin-bottom: 0 !important;    
    }
    
    .camera_prev {
        background: #09067e url(/img/camprev.png) center 24px no-repeat;
        left: 19%;
    }
    .camera_next {
        background: #09067e url(/img/camnext.png) center 24px no-repeat;
        left: 371px;
        left: 19%;
        margin-left: 60px;
    }
    
    .camera_caption{
        top: 50% !important;
        bottom: 0 !important;
        right: 50%;
        width: 500px;
        position: absolute;
        display: block;
        margin-top: -128px;
        margin-right: -500px;
    }

    .camera_caption_bg{
        padding: 0 0 0 0;
        text-align: right;  
        float: right; 
    }


    .camera_caption .title1{	
        letter-spacing: -1px;
        vertical-align: top;
        display: inline-block;
        top: 0;
        overflow: hidden;
        text-align: right;
        font-family: 'PT Sans', sans-serif;
        font-size: 42px;
        line-height: 46px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        box-sizing: border-box;
        padding: 24px 24px 24px;
        background-color: #09067e;
    }
    
    .camera_caption .title2{
        word-spacing: -2px;
        display: inline-block;
        vertical-align: top;
        top: 0;
        box-sizing: border-box;
        overflow: hidden;
        text-align: right;
        font-family: 'PT Sans', sans-serif;
        font-size: 22px;
        line-height: 26px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        padding: 23px 19px 24px 24px;
        background-color: #33333d;
    }
    
    
}

	 
@media only screen and (min-width: 768px) and (max-width: 979px) {
    
    .camera_wrap {
        height: 419px;
        margin-bottom: 0 !important;    
    }

    .camera_caption{
        top: 50% !important;
        bottom: 0 !important;
        right: 70px;
        width: 500px;
        position: absolute;
        display: block;
        margin-top: -80px;
        margin-right: 0;
    }


    .camera_caption .title1{	
        letter-spacing: -1px;
        vertical-align: top;
        display: inline-block;
        top: 0;
        overflow: hidden;
        text-align: right;
        font-family: 'PT Sans', sans-serif;
        font-size: 35px;
        line-height: 46px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        box-sizing: border-box;
        padding: 24px 24px 24px;
        background-color: #09067e;
    }
    
    .camera_caption .title2{
        word-spacing: -2px;
        display: inline-block;
        vertical-align: top;
        top: 0;
        box-sizing: border-box;
        overflow: hidden;
        text-align: right;
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        padding: 23px 19px 24px 24px;
        background-color: #33333d;
    }
      
}

 
 
@media only screen and (max-width: 767px) {    
    

    .camera_prev {
        left: 30px;
    }
    .camera_next {
        left: 371px;
        left: 30px;
        margin-left: 60px;
    }
    
    .camera_wrap {
    	min-height:250px;
        margin-bottom: 0 !important;    
    }
   
    .camera_caption{
        top: 50% !important;
        bottom: 0 !important;
        right: 70px;
        width: 500px;
        position: absolute;
        display: block;
        margin-top: -80px;
        margin-right: 0;
    }


    .camera_caption .title1{	
        letter-spacing: -1px;
        vertical-align: top;
        display: inline-block;
        top: 0;
        overflow: hidden;
        text-align: right;
        font-family: 'PT Sans', sans-serif;
        font-size: 35px;
        line-height: 46px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        box-sizing: border-box;
        padding: 24px 24px 24px;
        background-color: #09067e;
    }
    
    .camera_caption .title2{
        word-spacing: -2px;
        display: inline-block;
        vertical-align: top;
        top: 0;
        box-sizing: border-box;
        overflow: hidden;
        text-align: right;
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        padding: 23px 19px 24px 24px;
        background-color: #33333d;
    }
		  
}    

@media only screen and (max-width: 680px) {
    

        
    
}
@media only screen and (max-width: 620px) {
    
    .camera_caption{
        top: 50% !important;
        bottom: 0 !important;
        right: 40px;
        width: 400px;
        position: absolute;
        display: block;
        margin-top: -60px;
        margin-right: 0;
    }


    .camera_caption .title1{	
        letter-spacing: 0;
        vertical-align: top;
        display: inline-block;
        top: 0;
        overflow: hidden;
        text-align: right;
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        box-sizing: border-box;
        padding: 24px 24px 24px;
        background-color: #09067e;
    }
    
    .camera_caption .title2{
        word-spacing: 0;
        display: inline-block;
        vertical-align: top;
        top: 0;
        box-sizing: border-box;
        overflow: hidden;
        text-align: right;
        font-family: 'PT Sans', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        padding: 23px 19px 24px 24px;
        background-color: #33333d;
    }
    
    
}


@media only screen and (max-width: 450px) {
     
    .camera_caption{
        top: 50% !important;
        bottom: 0 !important;
        left: 30px;
        width: 80%;
        position: absolute;
        display: block;
        margin-top: -60px;
        margin-right: 0;
    }


    .camera_caption_bg{
        padding: 0 0 0 0;
        text-align: left;  
        float: left; 
    }

    .camera_caption .title1{	
        letter-spacing: 0;
        vertical-align: top;
        display: inline-block;
        top: 0;
        overflow: hidden;
        text-align: left;
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        box-sizing: border-box;
        padding: 15px 24px 15px;
        background-color: #09067e;
    }
    
    .camera_caption .title2{
        word-spacing: 0;
        display: inline-block;
        vertical-align: top;
        top: 0;
        box-sizing: border-box;
        overflow: hidden;
        text-align: left;
        font-family: 'PT Sans', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400; 
        color:#FFF;
        margin: 0;
        padding: 15px 19px 18px 24px;
        background-color: #33333d;
    }

}