﻿body {
  background-color: #c8c8c8;
  font-family: serif; }

a {
  color: #719537; }

a:hover {
  color: #557029; }

.headtop > .container {
  padding: 0; }

.brand_ {
  width: auto;
  height: 300px;
  max-height: 50vw;
  /* This is for mockup purposes, probably should be changed. */
  position: relative;
  background-image: url("/ContentPages/Images/banner.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #414E0B; }

.brand_.short {
  height: 150px;
  background-position-y: top 35%; }

.brand_ > a {
  margin: 4px;
  position: absolute;
  bottom: 0; }

.brand_ > a > img {
  height: 150px; }

.site-body {
  background-color: #EAEAEA;
  border-radius: 14px;
  padding: 0 0 8px 0;
  border-bottom: 6px solid #8EA936; }

.site-nav {
  background-image: linear-gradient(#829449, #566334);
  text-shadow: 0 1px 2px black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  z-index: 1; }

.site-center, .site-sidebar {
  padding-top: 1em; }

.site-nav, .site-nav a {
  color: white !important; }

.site-nav .dropdown-menu a {
  color: #212529 !important;
  text-shadow: none; }

.site-nav .navbar-nav {
  width: 100%; }

/* Temporarily hide slideshow for demo purposes */
#content > .slider {
  display: none; }

#content > .row, #content.row {
  margin: 0; }

ul.news-list {
  list-style: none;
  padding: 0; }

ul.news-list > li {
  padding: 10px;
  border-bottom: 1px solid #ddd; }

.site-sidebar:first-of-type ul {
  list-style: none; }

.site-center {
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

@media (min-width: 768px) {
  .site-center {
    border-radius: 0 0 4px 4px;
    margin-bottom: -32px; }
  .site-sidebar:first-of-type {
    text-align: right; }
  .site-sidebar:first-of-type ul {
    padding: 0; } }

.gallery-thumbnail-tile {
  float: left;
  margin: 8px; }

.site-gallery-thumb {
  height: 150px;
  width: 150px;
  object-fit: cover; }

.site-sidebar .nav-link {
  padding: .1rem; }

.site-sidebar {
  word-wrap: break-word; }

.site-bottom {
  background-color: #2f381f;
  color: white;
  border-top: 1px solid white;
  padding: 70px 0 1em 0;
  margin-top: -40px;
  z-index: -1;
  position: relative; }

.validation-summary-errors {
  background: #d44242;
  color: #fff;
  border-radius: 8px; }
