﻿

/* CSS Document */

.departments .control-label{font-size: 12px !important;}

body {

	font-family: 'Cabin', sans-serif;
	background:#ccc;

}

.vcenter {
    display: flex;
    align-items: center;
}

p {

	font-family: 'Cabin', sans-serif;

	font-size:18px;

}

h1, h2, h3, h4, h5, h6 {

	font-family: 'Cabin', sans-serif;

}

a:hover {

	color:#fff;

}

#document_wrapper {
    background-color: white;
    padding:15px;
}

header {
    margin-top: 15px;
}

.logo {
	padding:10px;
}

.logo img {
    max-height: 150px;
    min-width: 60px;
}

.logo a {


}

.textcolor {

}

.logo a:hover {


}

.phone-number p {

}

.top-section {
    background: #fff;
    overflow: auto;
}

nav {


}

nav a {

}

.nav li a:hover {color: black;}

.nav>li {


}

.navbar-nav>li.active {

}

.navbar-nav>li.active a {


}


.nav>li>a:focus, .nav>li>a:hover {


}

#main-menu {


}

slider {
    /**/
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {

	line-height: 1;
	width: 100%;

}

.carousel-indicators li {

	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000;
	background-color:#000;
	border: 1px solid #000;
	border-radius: 10px;

}

#SlideShowImageDialog
{
    width:900px;
}

.navbar-toggle {

	background-color: #dad5b6;

}

.navbar-toggle .icon-bar {
	background:#333;
}

.carousel-caption {
	text-align:left;
	font-family: 'geosanslightregular';
	color:#000;
}

.carousel-caption span {
	display:block;
	font-family: 'geosanslightregular';
	font-size:20px;
}

.carousel-indicators .active {
	border: 1px solid #fff;
}

#content-area {
    background-color: #FFF;
    overflow:auto;
    padding-top:15px;
}

a {
	color:#999999;
}

a:hover {
	color:#6d674d;
}

.view-all {
	font-size:18px;
	margin:10px 0px;
	display:block;
	font-family: 'geosanslightregular';
}

.notice-list {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.notice-list li {
	margin-bottom:10px;
}

.notice-list li a {
	color:#000;
}

.notice-heading {
	color:#000000;
	font-size:14px;
	font-weight:bold;
	font-family: 'geosanslightregular';
}

.calendar {
	width:100%;
	float:left;
}

.calendar img {
	width:100%;
}

.settings_txt {
    width:100%;
}

#mainbody-section {
	background:#fff;
	float:left;
	width:100%;
	padding: 20px 0px 0px 0px;
}

#mainbody-section h2 {
	color:#57718d;
	font-size:40px;
}

.news-list {
	margin:0px;
	padding:0px;
}

.news-list li {
	list-style-type:none;
	width:100%;
	float:left;
}

.news-list li a {
	color:#6d674d;
	font-size:14px;
}

.date p {
	margin-bottom:0px;
}

.secondary-heading {
	font-size:24px;
	color:#4a453f;
	font-family: 'geosanslightregular';
}

.add-blue {
	background:#c0dcf7;
}

.popular-list {
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.popular-list li {
	margin-bottom:25px;
}

.popular-list li img {
	margin-right:20px;
}

.popular-list li a {
	font-size:18px;
	color:#333333;
	font-family: 'geosanslightregular';
}

.middle-content {
	width:100%;
	float:left;
	margin:25px 0px;
}

.middle-content p {
	font-family: 'geosanslightregular';
	font-size:18px;
	color:#660000;
}

.solution {
	background:#dbd3ce;
	width:100%;
	float:left;
}

.solution .container {
	background:url("/images/solution.jpg") no-repeat;
	background-position:top center;
	margin-bottom:25px;
}

.solution .container:hover {
	background:url("/images/solution-hover.jpg") no-repeat;
	background-position:top center;
}

.solution .container a {
	color: #fff;
	text-transform: uppercase;
	font-family: 'geosanslightregular';
	font-size: 18px;
	padding: 7px 0px;
	display: block;
	text-decoration: none;
	margin-bottom: 20px;

}

.service {
	width:100%;
	float:left;
	background:#dbd3ce;
	padding-bottom:30px;
}

.service h1 {
	font-size:28px;
	font-family: 'geosanslightregular';
	color:#333;
	text-transform:uppercase;
	font-weight:bold;
}

.service p {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	margin-bottom:25px;
}

.content-section {
	padding:25px 0px;
	width:100%;
	float:left;
}

.content-section h2 {
	font-size:28px;
	font-family: 'geosanslightregular';
	color:#333;
	font-weight:bold;
}

footer {
	width:100%;
	float:left;
	background-size:cover;
	background-position: top center;
	padding:25px 0px 0px 0px;
	font-family: 'geosanslightregular';
}

.dark-blue {  background:#57718d;}

footer h2 {
	font-size: 24px !important;
	color: #333 !important;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'geosanslightregular';
}

footer ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
	margin:20px 0px;
}

footer ul li {
	margin-bottom:5px;
}

footer ul li a {
    color: #333;
    font-family: 'geosanslightregular';
    font-size: 16px;
}

.testimonials blockquote {
	border:none;
	padding:0px;
}

.testimonials blockquote p {
	color:#fff;
	font-family: 'geosanslightregular';
	font-size: 16px;
}

.testimonials .row .col-sm-8 small {
	font-family: 'geosanslightregular';
	font-size: 16px;
	color:#fff;
}

.quick-contacts {
	color:#333;
}

.quick-contacts div {
	margin-bottom:25px;
}

.quick-contacts a {
	color:#333;
	text-decoration:none;
}

.quick-contacts a:hover {
	color:#990000;
}

.copyright p {
	color:#fff;
	padding:10px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.add-bg {
	background: #ddd5d0; /* Old browsers */
	background: -moz-linear-gradient(top, #ddd5d0 0%, #f3f0ee 47%, #f9f7f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd5d0), color-stop(47%, #f3f0ee), color-stop(100%, #f9f7f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ddd5d0 0%, #f3f0ee 47%, #f9f7f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ddd5d0 0%, #f3f0ee 47%, #f9f7f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ddd5d0 0%, #f3f0ee 47%, #f9f7f6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ddd5d0 0%, #f3f0ee 47%, #f9f7f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd5d0', endColorstr='#f9f7f6', GradientType=0 ); /* IE6-9 */
	width: 100%;
	float: left;
	padding:30px 0px;
}

.inner-left li {
	background:url("/images/arrow.png") no-repeat;
	padding:0 0 0 20px;
	background-position: center left;
	list-style-type:none;
}

.webinar { margin-top: 15px; float: left; width: 100%; }

.webinar ul {
	margin:0px;
	padding:0px;
}

.webinar li {
	padding: 0 0 0 0px;
	background-position: top 5px left;
	list-style-type: none;
	margin-bottom:15px;
}

.inner-left h2 {
	color: #57718d;
	font-size: 21px;
	text-transform: uppercase;
	font-family: 'geosanslightregular';
}

.inner-right h2 {
	font-family: 'geosanslightregular';
	color: #57718d;
	font-size: 21px;
	text-transform: uppercase;
}

.date, .title {
	margin: 0px;
}

.title { 
    color:#000000; 
    font-size:14px;

}

.sign-up {
	margin:10px 0px;
	display: block;
	color:#ac0e0e;
	font-size:14px;
}

.img-left {
	float:left;
	margin-right:25px;
}

.our-team img {
	margin-bottom:10px;
}

.our-team h2 { 
    text-transform:uppercase; 
    color:#57718d; 
    font-size:22px;
}

.our-team a {
    font-family: 'geosanslightregular';
	font-size:18px;
	color:#000;
	text-decoration:none;

}

.our-team a:hover {
	color:#990000;
}

.push-btm35 {
	margin-bottom:35px;
}

.log-in {
	margin-top:25px;
}

.show-inactive {
        text-align:right;
        position:relative;
        top:42px;
        z-index:9999;
}

.ViewLinkUrl.no_wrap {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}

/* Button Style ----------- */

.btn-blue {
	color: #fff;
	background-color: #6e849d;
	border-color: #fff;
	border-radius:0px;
	padding:3px 15px;
	text-align:center;
}

.btn-blue:hover {
	color: #fff;
	background-color:#333;
	border-color:#fff;
	border-radius:0px;
}

.add-position { background-position: bottom center;}

.search-btn { background:none; border:none; border-radius:0px !important; color:#663333; font-size:20px; outline:none; }

.search-text { border-radius:0px !important; text-transform:uppercase; color:#000;}

.search-btn:hover { background:none;  }

.input-group-btn:focus { outline:none;}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline:none; box-shadow:none;}

.fc-left h2 {

    font-family:"geosanslightregular";

    font-size:16px !important;

    font-weight:bold;

    line-height: 30px;

padding-left: 20px;

}

.fc-toolbar {

text-align: center;

margin-bottom: 1em;

padding-top: 10px;

padding-right: 10px;

}

.dropdown-menu>li>a { display: block; padding: 8px 20px; clear: both; font-weight: 400; line-height: 1.42857143; color: #333; white-space: nowrap; background:url("/images/submenu-bg.png") repeat-x;

border-bottom: 1px solid #ddd; }

.dropdown-menu { padding:0px;

}

    .dropdown-menu > li > a:hover { background:#57718d; color:#fff;

    }

    .dropdown-menu > li > a { border-radius:0px;

    }

.news_headline p {

height: 65px;

overflow: hidden;

}



.inner-news .col-xs-7 {

width: 100%;

}

.inner-news .col-xs-4 {

width: 100%;

}



    .inner-news .col-xs-4 ul { margin-bottom:25px; float: left; width:100%;

    }

        .inner-news .col-xs-4 ul li {

            width: 100%;

            float: left;

        }

.date p { color:#57718d; font-weight:bold;

}





.fc th {

text-align: center;

padding:5px !important;

}



.dataTables_wrapper.no-footer {

    padding-bottom: 25px;

}

.block-section {

    padding-bottom: 20px;

}



.block-section img 
{
        max-width: 100%;
        max-height:300px;
}



.blocks-new {

    min-height: 303px;

    border: 1px solid #e9eaed;

    margin: 15px 15px;

    padding: 0px;

}



.block-section div.border-none {

    border: 0px;

}



.blocks-new a {

    text-decoration: none;

}



.thumbnail-img-height {

    height:234px !important;

}


a.gallerythumbnail {
    display:block;
    width:100%;
    height: 200px;
    overflow: hidden;
}

a.gallerythumbnail > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center;
    width: 100%;
    height: 150px;
}

a.img-thumbnail {
    height: 150px;
    overflow: hidden;
    display: block;
}

a.img-thumbnail:hover {
    overflow: visible;
}


a.img-thumbnail > div {
background-repeat:no-repeat;
background-size: cover;
background-origin: center;
width: 100%;
height: 100%;
}

/*a.img-thumbnail:hover > div {
    background-size: cover;
    width: 150%;
    height: 150%;
    top:-25%;
    left:-25%;
    position:relative;
    z-index:99;
}*/

.sortable-chosen > div > a.img-thumbnail > div {
    background-size: cover;
    width: 100% !important;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
}

.blocks-new strong {

    padding: 10px 0px 5px 10px;

    display: block;

    color: #3b5998;

}



.blocks-new span {

    padding: 5px 0px 0px 10px;

    color: #ccc;

    font-size: 12px;

}



/*.page-top button {

    background: url(/Content/images/button_img_bg.png) top repeat-x !important;

    background-position: 0 -16px;

}*/



.modal-content {

    border: 1px solid #bdc7d8;

}

.popup-header {

    border-bottom: 1px solid #bdc7d8;

    padding: 0px 15px 15px 15px;

}



.popheader-sec {

    border: 1px solid #bdc7d8;

    padding: 0px 0px 0px 0px;

}



    .popheader-sec textarea {

        height: 47px;

        width: 100%;

        overflow-y: auto;

        border: 0px;

        max-width: 100% !important;

        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);

        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);

    }



    .popheader-sec input[type="text"] {

        width: 100%;

        border-top: 0px dotted #bdc7d8;

        border-left: 0px dotted #bdc7d8;

        border-right: 0px dotted #bdc7d8;

        border-bottom: 2px dotted #bdc7d8;

        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);

        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);

        max-width: 100%;

    }



.popup-footer {    

    border-top: 1px solid #bdc7d8;

    padding: 10px;

}



.popfooter-sec {

    padding: 20px 0px 0px 0px;

}



.popup-body div { 

    padding:15px 15px;     

}



.popup-body div textarea {

        height: 60px;

        width: 100%;

        max-width:100% !important;

    }



.popup-body {

    width:100%;

    height:400px;

    overflow-y:scroll;

}

.popup-body div img {

    height: auto;

    overflow: hidden;

    width: 100%;

}





.modal-dialog {

    margin: 15px auto;

}



/* Media Queries ----------- */

@media only screen and (min-width :768px) {

/* Styles */

.navbar-brand {

display:none;

}

}

 @media only screen and (max-width :995px) {

 .navbar-brand {

background:none;

color:#fff;



}

    .show-inactive {

        text-align:right;

        position:relative;

        top:10px;

         z-index:9999;

              

        

    }



.add-position {

background-position: top center;

}

.nav>li>a {

position: relative;

display: block;

padding: 8px 28px;

text-align:left;

border-radius: 0px;

}

}

@media only screen and (max-width :768px) {

#mainbody-section .col-xs-6 { width:100%;}

#main-menu {

margin-top:0px;

}

.navbar-nav {

margin-top:0px;

}

header {
background-size:inherit;

}

.service .col-xs-2 {

width:100%;

}

footer .col-xs-2 {

width:100%;

}

footer div.col-xs-6.text-right { text-align:left;}

.log-in { margin-top:0px; margin-bottom:25px;}

 footer {

background-size:inherit;

}


.navbar-nav>li.active a {

background: #eee;

border-radius: 0px;

color: #333;

}

nav a {

background:#e4dfc8;

color:#000;

}

nav li {

border-bottom:1px solid #C9C9C9;

}

}

 @media only screen and (max-width :600px) {

 .carousel-caption {

display:none;

}

.inner-left {

width:100%;

float:left;

}

.inner-right {

width:100%;

float:left;

}

.our-team .col-xs-2 {

width:50%;

}

}

