﻿@model Biznetix.BizCMS.Data.NewsItem
@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<div>
    <h2 >@Model.Title</h2>
    <div>@Model.PostedDate</div>
    <div>@Html.Raw(Model.Body)</div>
    @*@Html.ActionLink("<< Back to Current News", "Headlines", "News")*@
    <a href="~/News/Index" >Back to list</a>
</div>  