﻿@model IEnumerable<Biznetix.BizCMS.Data.NewsItem>
<h2>Notices</h2>
<div id="news_listing">
    <ul class="notice-list">
        @foreach (var item in Model)
        {
            <li class="news_headline">

                @*<a href="@Url.Action("Article","News", new { id=@item.NewsItem_ID },null)" class="news_link">*@
                <div class="notice-heading">
                    @Html.ActionLink(@item.Title, "Article", "News", new { id = @item.NewsItem_ID }, new { @class = "news_title" })<br>
                </div>
                <p> @if (!String.IsNullOrEmpty(item.ShortBody))
                    {
                        <text>@Html.Raw(item.ShortBody)</text>
                    }
                    
                </p>
                <a href="@Url.Action("Article","News", new { id=@item.NewsItem_ID },null)" class="news_link">Read More&nbsp;&raquo;</a>
                @*</a>*@
            </li>
        }
    </ul>
</div>

<script type="text/javascript">
    //if (typeof jQuery != 'undefined') {
    //    jQuery(document).ready(function () {
    //        jQuery("#news_listing").jCarouselLite({ hoverPause: true, horizontal: true, visible: 1, auto: true, speed: 1000, responsive: true });
    //    });
    //}
</script>
