﻿@model IEnumerable<Biznetix.BizCMS.Data.NewsItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<h2>New in the News</h2>
@foreach (var item in Model)
{
    <div class="news" style="margin-bottom:10px;">
        <span class="news_headline">@Html.ActionLink(item.Title, "Article", "News", new { id = item.NewsItem_ID }, null)</span> @item.PostedDate.Value.ToString("MMMM dd, yyyy")<br />
        @Html.Raw(item.ShortBody)<br>
    </div>
}
